In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Se van a revisar los datasets correspondientes a movies para poder unificarlos

In [ ]:
import pandas as pd

# Rutas de los archivos
movies_path = '/content/drive/MyDrive/TFM/Datasets/movies.csv'
ratings_path = '/content/drive/MyDrive/TFM/Datasets/ratings.csv'
tags_path = '/content/drive/MyDrive/TFM/Datasets/tags.csv'
links_path = '/content/drive/MyDrive/TFM/Datasets/links.csv'

# Cargar los datasets
movies_df = pd.read_csv(movies_path)
ratings_df = pd.read_csv(ratings_path)
tags_df = pd.read_csv(tags_path)
links_df = pd.read_csv(links_path)

# Revisar la estructura de cada dataset
print("Movies Dataset Structure:")
print(movies_df.info(), "\n")
print(movies_df.head())

print("\nRatings Dataset Structure:")
print(ratings_df.info(), "\n")
print(ratings_df.head())

print("\nTags Dataset Structure:")
print(tags_df.info(), "\n")
print(tags_df.head())

print("\nLinks Dataset Structure:")
print(links_df.info(), "\n")
print(links_df.head())

Movies Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
None

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

Ratings Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Tags Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB
None

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

Links Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB
None

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

 usar movieId como clave principal para unir los datos de los cuatro datasets, ya que está presente en cada uno de ellos, y así tener el dataset de movies

In [ ]:
import pandas as pd

# Cargar los datasets
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/movies.csv')
ratings_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/ratings.csv')
tags_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/tags.csv')
links_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/links.csv')

# Unir datasets en una estructura base usando movieId
# 1. Unir movies con ratings
merged_df = pd.merge(movies_df, ratings_df, on='movieId', how='left')

# 2. Unir el resultado con tags
merged_df = pd.merge(merged_df, tags_df, on=['movieId', 'userId'], how='left')

# 3. Unir el resultado con links
merged_df = pd.merge(merged_df, links_df, on='movieId', how='left')

# Visualizar estructura del dataset unificado
print("Estructura del dataset combinado:")

Estructura del dataset combinado:

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102695 entries, 0 to 102694
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      102695 non-null  int64
 1   title        102695 non-null  object
 2   genres       102695 non-null  object
 3   userId       102677 non-null  float64
 4   rating       102677 non-null  float64
 5   timestamp_x  102677 non-null  float64
 6   tag          3476 non-null    object
 7   timestamp_y  3476 non-null    float64
 8   imdbId       102695 non-null  int64
 9   tmdbId       102682 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 7.8+ MB

El data set queda muy desequilibrado dado q las filas de tag son solo 3476, se decide dejar un dataset solo con los registrios que contengan tag para el modelo BERT y otro data set grande sin tag, vamos con el grande

In [ ]:
import pandas as pd

# Cargar los datasets
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/movies.csv')
ratings_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/ratings.csv')
links_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/links.csv')

# 1. Filtrar las películas con al menos 5 calificaciones para asegurar representatividad
popular_movies = ratings_df.groupby('movieId').filter(lambda x: len(x) >= 5)

# 2. Unir datasets de películas populares y links, usando solo los registros comunes
merged_df = movies_df.merge(popular_movies, on='movieId', how='inner') \
                     .merge(links_df, on='movieId', how='inner')

# Visualizar la estructura del dataset equilibrado
print("Estructura del dataset equilibrado para recomendaciones:")
print(merged_df.info())
print(merged_df.head())

Estructura del dataset equilibrado para recomendaciones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90274 entries, 0 to 90273
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90274 non-null  int64
 1   title      90274 non-null  object
 2   genres     90274 non-null  object
 3   userId     90274 non-null  int64
 4   rating     90274 non-null  float64
 5   timestamp  90274 non-null  int64
 6   imdbId     90274 non-null  int64
 7   tmdbId     90274 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 5.5+ MB
None
   movieId             title                                       genres  \
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
3        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
4        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

   userId  rating   timestamp  imdbId  tmdbId
0       1     4.0   964982703  114709   862.0
1       5     4.0   847434962  114709   862.0
2       7     4.5  1106635946  114709   862.0
3      15     2.5  1510577970  114709   862.0
4      17     4.5  1305696483  114709   862.0

In [ ]:
merged_df.head()

,movieId,title,genres,userId,rating,timestamp,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,114709,862.0

In [ ]:
merged_df.movieId.unique()

array([     1,      2,      3, ..., 183897, 187593, 187595])

In [ ]:
merged_df.movieId.value_counts()

movieId
356       329
318       317
296       307
593       279
2571      278
         ...
33903       5
190         5
34334       5
34542       5
187595      5
Name: count, Length: 3650, dtype: int64

Analizando columna por columna para tener un mejor entendimiento se decide que para el titulo se va a separar el nombre de la película que queda en la columna tittle y el año pasará a otra columna year para tener mas interacción

In [ ]:
 merged_df.title.unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       ..., 'Isle of Dogs (2018)', 'Deadpool 2 (2018)',
       'Solo: A Star Wars Story (2018)'], dtype=object)

In [ ]:
merged_df.title.value_counts()

title
Forrest Gump (1994)                                     329
Shawshank Redemption, The (1994)                        317
Pulp Fiction (1994)                                     307
Silence of the Lambs, The (1991)                        279
Matrix, The (1999)                                      278
                                                       ...
Edukators, The (Die Fetten Jahre sind vorbei) (2004)      5
Safe (1995)                                               5
Stealth (2005)                                            5
Grizzly Man (2005)                                        5
Solo: A Star Wars Story (2018)                            5
Name: count, Length: 3650, dtype: int64

In [ ]:
merged_df.head()

,movieId,title,genres,userId,rating,timestamp_x,tag,timestamp_y,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08,NaN,NaN,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08,NaN,NaN,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09,NaN,NaN,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09,NaN,NaN,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09,NaN,NaN,114709,862.0

In [ ]:
import re

# Extraer el año del título
merged_df['year'] = merged_df['title'].apply(lambda x: int(re.search(r'\((\d{4})\)', x).group(1)) if re.search(r'\((\d{4})\)', x) else None)

# Eliminar el año del título, manteniendo solo el nombre de la película
merged_df['title'] = merged_df['title'].apply(lambda x: re.sub(r'\s*\(\d{4}\)', '', x))

# Revisar la estructura después de los cambios
print(merged_df[['title', 'year']].head())

       title  year
0  Toy Story  1995
1  Toy Story  1995
2  Toy Story  1995
3  Toy Story  1995
4  Toy Story  1995

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90274 entries, 0 to 90273
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90274 non-null  int64
 1   title      90274 non-null  object
 2   genres     90274 non-null  object
 3   userId     90274 non-null  int64
 4   rating     90274 non-null  float64
 5   timestamp  90274 non-null  int64
 6   imdbId     90274 non-null  int64
 7   tmdbId     90274 non-null  float64
 8   year       90274 non-null  int64
dtypes: float64(2), int64(5), object(2)
memory usage: 6.2+ MB

In [ ]:
merged_df.year.unique()

array([1995, 1994, 1996, 1976, 1992, 1967, 1977, 1993, 1965, 1982, 1990,
       1991, 1989, 1937, 1940, 1969, 1981, 1970, 1968, 1988, 1964, 1972,
       1952, 1951, 1957, 1961, 1958, 1954, 1934, 1944, 1959, 1960, 1963,
       1942, 1941, 1953, 1939, 1950, 1946, 1945, 1955, 1938, 1947, 1935,
       1956, 1975, 1974, 1971, 1973, 1979, 1987, 1986, 1980, 1978, 1985,
       1966, 1962, 1983, 1949, 1984, 1948, 1933, 1931, 1922, 1997, 1998,
       1930, 1927, 1943, 1999, 2000, 1926, 1921, 1936, 1925, 2001, 2002,
       2003, 1928, 1920, 2004, 1932, 2005, 2006, 1902, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [ ]:
merged_df.genres.value_counts()

genres
Comedy                              6145
Drama                               4966
Comedy|Romance                      3535
Comedy|Drama|Romance                2713
Drama|Romance                       2427
                                    ...
Comedy|Drama|Horror                    5
Comedy|Drama|Romance|Thriller          5
Action|Crime|Mystery                   5
Animation|Fantasy|Musical|IMAX         5
Action|Adventure|Children|Sci-Fi       5
Name: count, Length: 635, dtype: int64

In [ ]:
merged_df.genres.unique()

array(['Adventure|Animation|Children|Comedy|Fantasy',
       'Adventure|Children|Fantasy', 'Comedy|Romance',
       'Comedy|Drama|Romance', 'Comedy', 'Action|Crime|Thriller',
       'Adventure|Children', 'Action', 'Action|Adventure|Thriller',
       'Comedy|Horror', 'Adventure|Animation|Children', 'Drama',
       'Action|Adventure|Romance', 'Crime|Drama', 'Drama|Romance',
       'Action|Comedy|Crime|Drama|Thriller', 'Comedy|Crime|Thriller',
       'Crime|Drama|Horror|Mystery|Thriller', 'Drama|Sci-Fi',
       'Children|Drama', 'Adventure|Drama|Fantasy|Mystery|Sci-Fi',
       'Mystery|Sci-Fi|Thriller', 'Drama|War', 'Action|Crime|Drama',
       'Action|Adventure|Fantasy', 'Comedy|Drama|Thriller',
       'Mystery|Thriller', 'Animation|Children|Drama|Musical|Romance',
       'Crime|Mystery|Thriller', 'Drama|Thriller', 'Comedy|Crime',
       'Action|Sci-Fi|Thriller', 'Action|Comedy|Horror|Thriller',
       'Comedy|Drama', 'Crime|Drama|Romance', 'Action|Adventure|Drama',
       'Children|Comedy', 'Action|Thriller', 'Drama|Horror|Thriller',
       'Comedy|Horror|Romance', 'Adventure|Comedy|Crime|Romance',
       'Adventure|Children|Comedy|Musical', 'Action|Drama|War',
       'Crime|Drama|Thriller', 'Action|Adventure|Comedy|Crime',
       'Documentary', 'Thriller', 'Adventure|Drama|IMAX',
       'Action|Drama|Romance|War', 'Adventure|Drama|War', 'Comedy|War',
       'Crime|Drama|Mystery', 'Action|Adventure|Mystery|Sci-Fi',
       'Drama|Thriller|War', 'Action|Romance|Western',
       'Crime|Film-Noir|Mystery|Thriller', 'Action|Drama|Romance',
       'Adventure|Children|Drama', 'Action|Adventure|Crime|Thriller',
       'Action|Crime|Sci-Fi', 'Horror', 'Action|Children',
       'Fantasy|Horror|Mystery', 'Horror|Sci-Fi',
       'Action|Crime|Drama|Mystery|Sci-Fi|Thriller',
       'Action|Adventure|Sci-Fi', 'Adventure|Comedy',
       'Action|Comedy|Romance', 'Animation|Children|Comedy|Romance',
       'Drama|Musical', 'Drama|Horror', 'Comedy|Sci-Fi',
       'Adventure|Children|Comedy|Fantasy|Romance',
       'Drama|Fantasy|Romance', 'Drama|Romance|War|Western',
       'Drama|Horror|Sci-Fi', 'Action|Drama|Sci-Fi|Thriller',
       'Action|Crime|Drama|Thriller', 'Comedy|Crime|Drama|Thriller',
       'Action|Thriller|Western', 'Children|Drama|Fantasy|Mystery',
       'Action|Drama|Thriller', 'Comedy|Drama|Fantasy',
       'Action|Comedy|Sci-Fi', 'Horror|Thriller',
       'Adventure|Drama|Sci-Fi', 'Action|Crime|Horror', 'Children',
       'Drama|Film-Noir|Romance', 'Drama|Mystery|Thriller',
       'Action|Crime|Fantasy|Thriller', 'Children|Comedy|Fantasy',
       'Comedy|Drama|Romance|War', 'Action|Comedy',
       'Adventure|Children|Romance',
       'Adventure|Animation|Children|Drama|Musical|IMAX',
       'Drama|Horror|Mystery|Thriller', 'Action|Comedy|Crime|Fantasy',
       'Adventure|Comedy|Western', 'Action|Romance|Thriller',
       'Action|Adventure|Comedy|Romance|Thriller',
       'Drama|Horror|Romance|Thriller', 'Western', 'Action|Fantasy',
       'Comedy|Thriller', 'Action|Comedy|Crime|Thriller',
       'Horror|Sci-Fi|Thriller', 'Drama|Mystery|Romance|Thriller',
       'Action|Comedy|Drama', 'Drama|Western',
       'Action|Adventure|Crime|Drama|Romance|Thriller',
       'Action|Comedy|War', 'Action|Adventure|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Fantasy', 'Comedy|Mystery',
       'Action|Children|Romance', 'Action|Drama|Mystery',
       'Action|Crime|Drama|Sci-Fi|Thriller', 'Action|Drama',
       'Comedy|Crime|Horror', 'Action|Adventure|Fantasy|Mystery',
       'Comedy|Romance|Thriller', 'Action|Crime',
       'Action|Adventure|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Mystery|Thriller', 'Animation|Children|Fantasy|Musical',
       'Action|Adventure|Comedy|Romance', 'Action|Drama|Western',
       'Crime|Thriller', 'Action|Adventure|Animation|Children|Fantasy',
       'Comedy|Drama|Fantasy|Romance|Thriller',
       'Adventure|Animation|Children|Comedy|Musical', 'Action|Sci-Fi',
       'Adventure|Drama|Western', 'Crime|Horror|Thriller',
       'Animation|Children|Drama|Fantasy|Musical',
       'Animation|Children|Fantasy|Musical|Romance|IMAX',
       'Adventure|Western', 'Action|Adventure|Animation|Horror|Sci-Fi',
       'Action|Horror|Sci-Fi', 'Animation|Children',
       'Crime|Drama|Mystery|Thriller',
       'Adventure|Animation|Children|Fantasy|Musical|Romance',
       'Action|Crime|Drama|War', 'Action|Adventure|Mystery|Thriller',
       'Adventure|Animation|Children|Fantasy|Musical',
       'Adventure|Animation|Children|Comedy|Fantasy|Sci-Fi',
       'Adventure|Comedy|Sci-Fi', 'Action|Adventure|Comedy|War',
       'Action|Adventure', 'Drama|Mystery|Western',
       'Adventure|Animation|Comedy', 'Drama|Fantasy|Horror|Thriller',
       'Action|Adventure|Romance|Thriller', 'Animation|Sci-Fi',
       'Animation|Children|Comedy', 'Comedy|Crime|Drama',
       'Comedy|Fantasy|Romance|Sci-Fi', 'Action|Adventure|Drama|Thriller',
       'Comedy|Horror|Thriller', 'Comedy|Fantasy|Musical',
       'Crime|Drama|Romance|Thriller', 'Sci-Fi|Thriller',
       'Action|Comedy|Crime', 'Comedy|Musical|Romance', 'Musical|Romance',
       'Comedy|Musical', 'Action|Adventure|Mystery|Romance|Thriller',
       'Comedy|Crime|Mystery|Romance|Thriller', 'Film-Noir|Mystery',
       'Comedy|Drama|Musical|Romance', 'Musical',
       'Adventure|Children|Fantasy|Musical', 'Drama|Romance|War',
       'Drama|Mystery', 'Film-Noir|Romance|Thriller',
       'Mystery|Romance|Thriller', 'Crime|Mystery|Romance|Thriller',
       'Crime|Film-Noir|Mystery', 'Drama|Romance|Western',
       'Children|Drama|Fantasy|Romance', 'Adventure|Comedy|Romance|War',
       'Crime|Film-Noir', 'Children|Comedy|Western',
       'Children|Comedy|Fantasy|Romance', 'Children|Comedy|Romance',
       'Children|Comedy|Drama', 'Children|Comedy|Mystery',
       'Animation|Children|Fantasy|Musical|Romance',
       'Animation|Children|Musical', 'Adventure|Drama',
       'Children|Comedy|Fantasy|Musical',
       'Animation|Children|Drama|Musical',
       'Adventure|Animation|Children|Musical',
       'Adventure|Children|Musical', 'Animation|Children|Drama',
       'Action|Horror|Sci-Fi|Thriller', 'Documentary|Drama',
       'Animation|Children|Comedy|Fantasy|Musical|Romance',
       'Drama|Musical|Romance', 'Drama|Romance|Thriller',
       'Children|Drama|Sci-Fi', 'Action|Romance', 'Comedy|Fantasy',
       'Horror|Mystery', 'Adventure|Comedy|Fantasy',
       'Animation|Children|Comedy|Crime', 'Crime|Drama|Film-Noir',
       'Documentary|Musical', 'Action|Adventure|Comedy|Fantasy|Romance',
       'Fantasy|Sci-Fi', 'Action|Adventure|Horror|Sci-Fi',
       'Action|Adventure|Western', 'Crime|Drama|Sci-Fi|Thriller',
       'Film-Noir|Mystery|Thriller',
       'Action|Adventure|Comedy|Fantasy|Horror',
       'Adventure|Drama|Romance', 'Crime|Horror', 'Action|Comedy|Musical',
       'Adventure|Animation|Children|Comedy|Sci-Fi',
       'Drama|Mystery|Sci-Fi', 'Comedy|Fantasy|Horror',
       'Crime|Drama|Film-Noir|Thriller', 'Crime|Film-Noir|Thriller',
       'Action|Crime|Romance|Thriller', 'Drama|Fantasy',
       'Drama|Sci-Fi|Thriller', 'Action|Adventure|Drama|Western',
       'Comedy|Horror|Sci-Fi', 'Comedy|Musical|War',
       'Action|Comedy|Fantasy|Horror', 'Action|Adventure|Drama|War',
       'Action|Drama|Mystery|Romance|Thriller', 'Comedy|Fantasy|Romance',
       'Crime|Thriller|War', 'Comedy|Mystery|Thriller',
       'Comedy|Drama|Film-Noir', 'Action|Adventure|Animation|Sci-Fi',
       'Comedy|Drama|War', 'Children|Drama|Fantasy', 'Action|Western',
       'Fantasy|Horror|Romance|Thriller', 'Drama|Fantasy|Horror',
       'Horror|Mystery|Thriller', 'Adventure|Children|Comedy',
       'Adventure|Sci-Fi', 'Action|Mystery|Sci-Fi',
       'Action|Comedy|Western', 'Action|Horror',
       'Action|Comedy|Crime|Drama|Sci-Fi',
       'Adventure|Animation|Comedy|Crime',
       'Comedy|Horror|Mystery|Thriller', 'Action|Romance|War|Western',
       'Comedy|Drama|Fantasy|Romance', 'Action|Adventure|Comedy|Thriller',
       'Crime|Drama|Fantasy|Film-Noir|Mystery|Romance',
       'Action|Romance|Sci-Fi|Thriller', 'Comedy|Crime|Romance',
       'Action|Adventure|Comedy', 'Action|Adventure|Comedy|Sci-Fi',
       'Action|Adventure|Fantasy|Thriller', 'Action|Thriller|War',
       'Children|Comedy|Romance|Sci-Fi', 'Romance|Thriller',
       'Comedy|Drama|Sci-Fi',
       'Adventure|Animation|Children|Drama|Musical',
       'Action|Adventure|Drama|Sci-Fi',
       'Adventure|Film-Noir|Sci-Fi|Thriller',
       'Crime|Drama|Fantasy|Thriller',
       'Crime|Drama|Mystery|Romance|Thriller', 'Documentary|IMAX',
       'Comedy|Crime|Drama|Mystery|Thriller',
       'Adventure|Children|Comedy|Fantasy', 'Crime|Drama|Romance|War',
       'Adventure|Comedy|Drama', 'Adventure|Comedy|Romance',
       'Adventure|Animation|Children|Comedy|Drama|Musical|Romance',
       'Action|Crime|Mystery|Sci-Fi|Thriller',
       'Comedy|Crime|Drama|Romance|Thriller',
       'Animation|Children|Fantasy|War', 'Adventure|Fantasy|Musical',
       'Action|Comedy|Crime|Drama',
       'Action|Adventure|Children|Comedy|Fantasy',
       'Drama|Mystery|Sci-Fi|Thriller', 'Adventure|Comedy|Sci-Fi|Western',
       'Children|Fantasy|Musical', 'Adventure|Animation|Children|Fantasy',
       'Children|Sci-Fi', 'Adventure|Children|Sci-Fi',
       'Action|Animation|Children|Crime',
       'Children|Comedy|Fantasy|Horror', 'Children|Comedy|Sci-Fi',
       'Adventure|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Crime|Drama|Mystery|Thriller',
       'Animation|Children|Comedy|Musical',
       'Animation|Children|Comedy|Musical|Romance',
       'Children|Comedy|Musical', 'Children|Musical',
       'Adventure|Comedy|Musical',
       'Adventure|Animation|Children|Crime|Drama',
       'Children|Drama|Fantasy|Mystery|Thriller',
       'Animation|Children|Comedy|Drama|Fantasy',
       'Action|Crime|Mystery|Thriller', 'Comedy|Fantasy|Sci-Fi',
       'Adventure|Animation|Children|Drama|Fantasy',
       'Adventure|Animation|Children|Drama', 'Adventure|Fantasy',
       'Adventure|Animation|Children|Comedy',
       'Adventure|Animation|Children|Musical|Western',
       'Adventure|Fantasy|Romance', 'Action|Horror|Thriller',
       'Adventure|Drama|Mystery|Thriller',
       'Horror|Mystery|Sci-Fi|Thriller', 'Drama|Fantasy|Thriller',
       'Adventure|Drama|Fantasy|Romance', 'Sci-Fi',
       'Drama|Fantasy|Mystery|Romance', 'Action|Sci-Fi|War',
       'Horror|Western', 'Romance', 'Action|Adventure|Fantasy|Horror',
       'Adventure|Fantasy|Romance|Sci-Fi|Thriller',
       'Comedy|Crime|Mystery', 'Action|Drama|Romance|Sci-Fi',
       'Animation|Musical', 'Action|Adventure|Thriller|War',
       'Comedy|Crime|Mystery|Thriller',
       'Action|Adventure|Children|Fantasy|Mystery|Thriller',
       'Action|Adventure|Children|Drama',
       'Action|Adventure|Drama|Fantasy|Thriller', 'Horror|Mystery|Sci-Fi',
       'Drama|Horror|Sci-Fi|Thriller', 'Action|Comedy|Romance|Thriller',
       'Action|War', 'Comedy|Western', 'Action|Sci-Fi|Thriller|Western',
       'Action|Drama|Sci-Fi', 'Drama|Romance|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Fantasy|Horror|Thriller',
       'Comedy|Horror|Musical|Sci-Fi', 'War', 'Animation|Comedy|Musical',
       'Action|Comedy|Sci-Fi|Western', 'Action|Adventure|Children|Comedy',
       'Action|Comedy|Fantasy', 'Adventure|Drama|Thriller',
       'Action|Adventure|Comedy|Fantasy|Mystery', 'Comedy|Horror|Musical',
       'Adventure|Animation|Children|Drama|Sci-Fi',
       'Drama|Horror|Mystery', 'Action|Mystery',
       'Comedy|Horror|Romance|Thriller', 'Action|Drama|Romance|Thriller',
       'Animation|Horror|Mystery|Thriller', 'Adventure|Romance',
       'Adventure|Children|Comedy|Drama',
       'Adventure|Animation|Comedy|Fantasy|Musical',
       'Drama|Mystery|Romance', 'Action|Adventure|Comedy|Drama|War',
       'Crime|Drama|Western', 'Drama|Film-Noir|Mystery|Romance',
       'Musical|Romance|War', 'Adventure|Comedy|Fantasy|Sci-Fi',
       'Drama|Fantasy|Musical', 'Action|Crime|Sci-Fi|Thriller',
       'Adventure|Animation|Children|Comedy|Crime|Fantasy|Mystery',
       'Action|Adventure|Animation|Drama|Fantasy',
       'Adventure|Animation|Children|Fantasy|Sci-Fi',
       'Comedy|Drama|Musical', 'Fantasy|Horror|Mystery|Romance',
       'Crime|Romance|Thriller', 'Action|Fantasy|Horror|Mystery|Thriller',
       'Drama|Romance|Sci-Fi', 'Animation|Children|Musical|IMAX',
       'Action|Comedy|Horror', 'Action|Crime|Thriller|Western',
       'Fantasy|Horror|Mystery|Thriller', 'Adventure|Crime|Drama',
       'Animation|Comedy', 'Action|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Children|Fantasy',
       'Action|Adventure|Drama|Thriller|Western',
       'Crime|Horror|Mystery|Thriller', 'Action|Adventure|Comedy|Western',
       'Action|Drama|Thriller|Western', 'Adventure|Drama|Romance|Sci-Fi',
       'Film-Noir|Horror|Mystery|Thriller',
       'Action|Adventure|Animation|Children|Sci-Fi',
       'Action|Comedy|Crime|Romance',
       'Adventure|Animation|Children|Sci-Fi', 'Adventure|Comedy|Crime',
       'Action|Crime|Mystery|Romance|Thriller', 'Comedy|Documentary',
       'Fantasy|Horror|Thriller', 'Action|Adventure|Fantasy|Sci-Fi',
       'Animation|Comedy|Fantasy', 'Action|Crime|Drama|Horror|Thriller',
       'Adventure|Comedy|Mystery|Romance',
       'Adventure|Animation|Children|Comedy|Fantasy|Romance',
       'Adventure|Animation|Fantasy|Sci-Fi', 'Comedy|Romance|Sci-Fi',
       'Comedy|Musical|Sci-Fi',
       'Action|Animation|Comedy|Crime|Drama|Romance|Thriller',
       'Action|Children|Comedy', 'Adventure|Thriller',
       'Crime|Drama|Film-Noir|Mystery|Thriller',
       'Animation|Drama|Fantasy', 'Drama|Fantasy|Mystery|Sci-Fi',
       'Drama|Fantasy|Horror|Thriller|War',
       'Mystery|Romance|Sci-Fi|Thriller', 'Comedy|Drama|Mystery',
       'Drama|Fantasy|Horror|Mystery|Thriller', 'Fantasy|Horror',
       'Animation|Fantasy|Horror|Sci-Fi', 'Action|Adventure|Sci-Fi|IMAX',
       'Adventure|Children|Comedy|Fantasy|Mystery',
       'Drama|Film-Noir|Thriller', 'Action|Comedy|Horror|Sci-Fi',
       'Comedy|Drama|Fantasy|Sci-Fi', 'Action|Adventure|Fantasy|Romance',
       'Action|Comedy|Romance|War', 'Comedy|Crime|Romance|Thriller',
       'Adventure|Animation|Fantasy', 'Comedy|Drama|Romance|Thriller',
       'Animation|Drama|War', 'Action|Comedy|Documentary',
       'Adventure|Animation|Children|Sci-Fi|IMAX', 'Comedy|Drama|Horror',
       'Animation|Children|Drama|Fantasy', 'Comedy|Crime|Drama|Musical',
       'Action|Adventure|Crime|Drama|Thriller',
       'Action|Animation|Sci-Fi|Thriller',
       'Adventure|Children|Comedy|Mystery', 'Mystery|Sci-Fi',
       'Action|Adventure|Animation|Children|Fantasy|Sci-Fi',
       'Action|Adventure|Sci-Fi|Thriller|IMAX',
       'Action|Adventure|Comedy|Crime|Thriller', 'Action|Fantasy|Sci-Fi',
       'Action|Comedy|Thriller', 'Action|Adventure|Children|Fantasy',
       'Animation|Drama|Romance', 'Action|Fantasy|Horror',
       'Fantasy|Horror|Sci-Fi|Thriller',
       'Action|Adventure|Animation|Fantasy', 'Crime|Fantasy|Horror',
       'Action|Drama|Horror|Thriller', 'Comedy|Fantasy|Horror|Thriller',
       'Adventure|Animation|Drama|Fantasy|Sci-Fi',
       'Action|Adventure|Drama|Fantasy', 'Documentary|War',
       'Action|Comedy|Crime|Drama|Horror|Thriller',
       'Adventure|Children|Comedy|Fantasy|Musical',
       'Adventure|Documentary', 'Drama|War|Western',
       'Action|Drama|Horror', 'Animation|Fantasy|Thriller',
       'Children|Comedy|Fantasy|Sci-Fi', 'Mystery',
       'Action|Adventure|Animation|Comedy|Crime|Mystery',
       'Adventure|Animation|Children|Comedy|Musical|Romance',
       'Action|Adventure|Drama|Sci-Fi|Thriller', 'Adventure|Fantasy|IMAX',
       'Comedy|Fantasy|Thriller', 'Comedy|Documentary|Drama',
       'Crime|Drama|Horror', 'Adventure|Animation|Drama',
       'Action|Crime|Fantasy', 'Action|Adventure|Animation|Comedy',
       'Action|Adventure|Animation|Children|Comedy',
       'Adventure|Animation|Children|Fantasy|IMAX',
       'Action|Adventure|Drama|Mystery|Thriller',
       'Action|Fantasy|Horror|Thriller',
       'Children|Comedy|Musical|Romance', 'Fantasy|Western',
       'Adventure|Animation|Comedy|Fantasy|Romance',
       'Action|Animation|Drama|Fantasy|Sci-Fi',
       'Drama|Fantasy|Romance|Sci-Fi',
       'Drama|Horror|Mystery|Romance|Thriller', 'Drama|Sci-Fi|War',
       'Action|Animation|Drama|Sci-Fi', 'Drama|Mystery|Romance|War',
       'Animation|Drama|Mystery|Sci-Fi|Thriller',
       'Adventure|Children|Comedy|Fantasy|IMAX',
       'Drama|Horror|Mystery|Sci-Fi|Thriller',
       'Action|Adventure|Crime|Drama',
       'Adventure|Animation|Fantasy|Romance', 'Comedy|Crime|Musical',
       'Adventure|Animation|Children|Comedy|Fantasy|Sci-Fi|IMAX',
       'Action|Crime|Film-Noir|Mystery|Thriller', 'Action|Crime|IMAX',
       'Comedy|Crime|Drama|Romance', 'Action|Crime|Drama|Thriller|War',
       'Crime|Drama|Horror|Thriller',
       'Animation|Comedy|Fantasy|Musical|Romance',
       'Action|Adventure|Animation|Fantasy|Sci-Fi',
       'Adventure|Children|Drama|Fantasy',
       'Action|Horror|Mystery|Thriller',
       'Action|Adventure|Animation|Children|Comedy|Sci-Fi',
       'Adventure|Drama|Horror|Thriller',
       'Adventure|Fantasy|Thriller|IMAX',
       'Action|Fantasy|Sci-Fi|Thriller', 'Action|Sci-Fi|Thriller|IMAX',
       'Crime|Drama|Film-Noir|Mystery',
       'Adventure|Comedy|Drama|Fantasy|Romance', 'Drama|Fantasy|Mystery',
       'Animation|Children|Fantasy|Mystery', 'Action|Comedy|Fantasy|IMAX',
       'Adventure|Comedy|Sci-Fi|Thriller',
       'Adventure|Animation|Children|Comedy|IMAX',
       'Action|Adventure|Crime|Drama|Thriller|War',
       'Action|Fantasy|Thriller', 'Action|Comedy|Crime|Mystery',
       'Action|Fantasy|War|IMAX', 'Comedy|Drama|Horror|Sci-Fi|Thriller',
       'Action|Adventure|Animation|Children|Comedy|Fantasy',
       'Action|Crime|Horror|Sci-Fi|Thriller',
       'Adventure|Drama|Sci-Fi|Thriller',
       'Animation|Comedy|Fantasy|Musical', 'Animation|Mystery|Sci-Fi',
       'Action|Adventure|Crime|Horror|Thriller',
       'Adventure|Drama|Fantasy|IMAX', 'Drama|Fantasy|Musical|Romance',
       'Adventure|Comedy|Fantasy|Romance', 'Action|Crime|Drama|Western',
       'Animation|Drama', 'Action|Adventure|Animation|Fantasy|IMAX',
       'Adventure|Animation|Children|Comedy|Fantasy|Musical|Romance',
       'Action|Horror|Sci-Fi|Thriller|IMAX', 'Animation|Comedy|Sci-Fi',
       'Drama|Horror|Musical|Thriller', 'Action|Mystery|Sci-Fi|Thriller',
       'Animation|Comedy|Drama|Romance|Sci-Fi',
       'Action|Drama|Thriller|War',
       'Adventure|Children|Drama|Fantasy|IMAX',
       'Adventure|Romance|Thriller', 'Action|Crime|Drama|IMAX',
       'Adventure|Drama|Fantasy', 'Action|Animation|Children|Comedy|IMAX',
       'Adventure|Animation|Children|Romance|Sci-Fi',
       'Action|Adventure|Comedy|Crime|Fantasy',
       'Action|Animation|Comedy|Romance|Sci-Fi',
       'Action|Drama|Mystery|Sci-Fi|Thriller|IMAX',
       'Animation|Documentary|Drama|War', 'Drama|Fantasy|Horror|Romance',
       'Action|Crime|Thriller|IMAX', 'Animation|Comedy|Fantasy|Sci-Fi',
       'Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi',
       'Action|Adventure|Animation|Children|Comedy|IMAX',
       'Adventure|Drama|War|Western', 'Drama|Fantasy|Romance|Thriller',
       'Drama|Sci-Fi|Thriller|IMAX', 'Action|Animation|Comedy|Sci-Fi',
       'Comedy|Drama|Musical|Sci-Fi',
       'Action|Drama|Mystery|Sci-Fi|Thriller', 'Animation|Sci-Fi|IMAX',
       'Action|Comedy|IMAX',
       'Action|Adventure|Animation|Children|Comedy|Romance',
       'Adventure|Fantasy|Mystery|Romance|IMAX',
       'Adventure|Animation|Sci-Fi', 'Animation|Children|Fantasy|IMAX',
       'Animation|Comedy|Drama',
       'Adventure|Animation|Children|Comedy|Crime',
       'Drama|Fantasy|Horror|Romance|Thriller', 'Action|Crime|Mystery',
       'Action|Adventure|Drama|Romance|War',
       'Action|Adventure|Fantasy|Romance|IMAX',

Limitar la combinación de géneros a un máximo de tres palabras.
Reorganizar o mapear combinaciones largas en las tres más representativas según la primera, segunda, y tercera palabras del género, respetando el orden en el que aparecen.

In [ ]:
# Ordenar alfabéticamente cada combinación de géneros para evitar duplicados por orden de palabras
merged_df['genres'] = merged_df['genres'].apply(lambda x: '|'.join(sorted(x.split('|'))))

# Verificar las combinaciones únicas después de la ordenación
print(merged_df['genres'].value_counts())

genres
Comedy                      6145
Drama                       4966
Action|Adventure|Sci-Fi     4755
Comedy|Romance              3535
Comedy|Drama|Romance        3135
                            ...
Children|Fantasy|Musical       5
Adventure|Thriller             5
Fantasy|Western                5
Action|Horror|Mystery          5
War                            5
Name: count, Length: 324, dtype: int64

In [ ]:
merged_df.genres.unique()

array(['Adventure|Animation|Children', 'Adventure|Children|Fantasy',
       'Comedy|Romance', 'Comedy|Drama|Romance', 'Comedy',
       'Action|Crime|Thriller', 'Adventure|Children', 'Action',
       'Action|Adventure|Thriller', 'Comedy|Horror', 'Drama',
       'Action|Adventure|Romance', 'Crime|Drama', 'Drama|Romance',
       'Action|Comedy|Crime', 'Comedy|Crime|Thriller',
       'Crime|Drama|Horror', 'Drama|Sci-Fi', 'Children|Drama',
       'Adventure|Drama|Fantasy', 'Mystery|Sci-Fi|Thriller', 'Drama|War',
       'Action|Crime|Drama', 'Action|Adventure|Fantasy',
       'Comedy|Drama|Thriller', 'Mystery|Thriller',
       'Animation|Children|Drama', 'Crime|Mystery|Thriller',
       'Drama|Thriller', 'Comedy|Crime', 'Action|Sci-Fi|Thriller',
       'Action|Comedy|Horror', 'Comedy|Drama', 'Crime|Drama|Romance',
       'Action|Adventure|Drama', 'Children|Comedy', 'Action|Thriller',
       'Drama|Horror|Thriller', 'Comedy|Horror|Romance',
       'Adventure|Comedy|Crime', 'Adventure|Children|Comedy',
       'Action|Drama|War', 'Crime|Drama|Thriller',
       'Action|Adventure|Comedy', 'Documentary', 'Thriller',
       'Adventure|Drama|IMAX', 'Action|Drama|Romance',
       'Adventure|Drama|War', 'Comedy|War', 'Crime|Drama|Mystery',
       'Action|Adventure|Mystery', 'Drama|Thriller|War',
       'Action|Romance|Western', 'Crime|Film-Noir|Mystery',
       'Adventure|Children|Drama', 'Action|Adventure|Crime',
       'Action|Crime|Sci-Fi', 'Horror', 'Action|Children',
       'Fantasy|Horror|Mystery', 'Horror|Sci-Fi',
       'Action|Adventure|Sci-Fi', 'Adventure|Comedy',
       'Action|Comedy|Romance', 'Animation|Children|Comedy',
       'Drama|Musical', 'Drama|Horror', 'Comedy|Sci-Fi',
       'Drama|Fantasy|Romance', 'Drama|Romance|War',
       'Drama|Horror|Sci-Fi', 'Action|Drama|Sci-Fi', 'Comedy|Crime|Drama',
       'Action|Thriller|Western', 'Children|Drama|Fantasy',
       'Action|Drama|Thriller', 'Comedy|Drama|Fantasy',
       'Action|Comedy|Sci-Fi', 'Horror|Thriller',
       'Adventure|Drama|Sci-Fi', 'Action|Crime|Horror', 'Children',
       'Drama|Film-Noir|Romance', 'Drama|Mystery|Thriller',
       'Action|Crime|Fantasy', 'Children|Comedy|Fantasy', 'Action|Comedy',
       'Adventure|Children|Romance', 'Drama|Horror|Mystery',
       'Adventure|Comedy|Western', 'Action|Romance|Thriller',
       'Drama|Horror|Romance', 'Western', 'Action|Fantasy',
       'Comedy|Thriller', 'Horror|Sci-Fi|Thriller',
       'Drama|Mystery|Romance', 'Action|Comedy|Drama', 'Drama|Western',
       'Action|Comedy|War', 'Comedy|Mystery', 'Action|Children|Romance',
       'Action|Drama|Mystery', 'Action|Drama', 'Comedy|Crime|Horror',
       'Comedy|Romance|Thriller', 'Action|Crime',
       'Action|Adventure|Children', 'Action|Mystery|Thriller',
       'Animation|Children|Fantasy', 'Action|Drama|Western',
       'Crime|Thriller', 'Action|Adventure|Animation', 'Action|Sci-Fi',
       'Adventure|Drama|Western', 'Crime|Horror|Thriller',
       'Adventure|Western', 'Action|Horror|Sci-Fi', 'Animation|Children',
       'Adventure|Comedy|Sci-Fi', 'Action|Adventure',
       'Drama|Mystery|Western', 'Adventure|Animation|Comedy',
       'Drama|Fantasy|Horror', 'Animation|Sci-Fi',
       'Comedy|Fantasy|Romance', 'Comedy|Horror|Thriller',
       'Comedy|Fantasy|Musical', 'Sci-Fi|Thriller',
       'Comedy|Musical|Romance', 'Musical|Romance', 'Comedy|Musical',
       'Comedy|Crime|Mystery', 'Film-Noir|Mystery',
       'Comedy|Drama|Musical', 'Musical', 'Drama|Mystery',
       'Film-Noir|Romance|Thriller', 'Mystery|Romance|Thriller',
       'Crime|Mystery|Romance', 'Drama|Romance|Western',
       'Adventure|Comedy|Romance', 'Crime|Film-Noir',
       'Children|Comedy|Western', 'Children|Comedy|Romance',
       'Children|Comedy|Drama', 'Children|Comedy|Mystery',
       'Animation|Children|Musical', 'Adventure|Drama',
       'Adventure|Children|Musical', 'Documentary|Drama',
       'Drama|Musical|Romance', 'Drama|Romance|Thriller',
       'Children|Drama|Sci-Fi', 'Action|Romance', 'Comedy|Fantasy',
       'Horror|Mystery', 'Adventure|Comedy|Fantasy',
       'Crime|Drama|Film-Noir', 'Documentary|Musical', 'Fantasy|Sci-Fi',
       'Action|Adventure|Horror', 'Action|Adventure|Western',
       'Crime|Drama|Sci-Fi', 'Film-Noir|Mystery|Thriller',
       'Adventure|Drama|Romance', 'Crime|Horror', 'Action|Comedy|Musical',
       'Drama|Mystery|Sci-Fi', 'Comedy|Fantasy|Horror',
       'Crime|Film-Noir|Thriller', 'Action|Crime|Romance',
       'Drama|Fantasy', 'Drama|Sci-Fi|Thriller', 'Comedy|Horror|Sci-Fi',
       'Comedy|Musical|War', 'Action|Comedy|Fantasy',
       'Crime|Thriller|War', 'Comedy|Mystery|Thriller',
       'Comedy|Drama|Film-Noir', 'Comedy|Drama|War', 'Action|Western',
       'Fantasy|Horror|Romance', 'Horror|Mystery|Thriller',
       'Adventure|Sci-Fi', 'Action|Mystery|Sci-Fi',
       'Action|Comedy|Western', 'Action|Horror', 'Comedy|Horror|Mystery',
       'Action|Romance|War', 'Crime|Drama|Fantasy',
       'Action|Romance|Sci-Fi', 'Comedy|Crime|Romance',
       'Action|Thriller|War', 'Romance|Thriller', 'Comedy|Drama|Sci-Fi',
       'Adventure|Film-Noir|Sci-Fi', 'Documentary|IMAX',
       'Adventure|Comedy|Drama', 'Action|Crime|Mystery',
       'Adventure|Fantasy|Musical', 'Children|Fantasy|Musical',
       'Children|Sci-Fi', 'Adventure|Children|Sci-Fi',
       'Action|Animation|Children', 'Children|Comedy|Sci-Fi',
       'Children|Comedy|Musical', 'Children|Musical',
       'Adventure|Comedy|Musical', 'Comedy|Fantasy|Sci-Fi',
       'Adventure|Fantasy', 'Adventure|Fantasy|Romance',
       'Action|Horror|Thriller', 'Adventure|Drama|Mystery',
       'Horror|Mystery|Sci-Fi', 'Drama|Fantasy|Thriller', 'Sci-Fi',
       'Drama|Fantasy|Mystery', 'Action|Sci-Fi|War', 'Horror|Western',
       'Romance', 'Animation|Musical', 'Action|War', 'Comedy|Western',
       'Drama|Romance|Sci-Fi', 'Comedy|Horror|Musical', 'War',
       'Animation|Comedy|Musical', 'Adventure|Drama|Thriller',
       'Action|Mystery', 'Animation|Horror|Mystery', 'Adventure|Romance',
       'Crime|Drama|Western', 'Drama|Film-Noir|Mystery',
       'Musical|Romance|War', 'Drama|Fantasy|Musical',
       'Crime|Romance|Thriller', 'Action|Fantasy|Horror',
       'Adventure|Crime|Drama', 'Animation|Comedy',
       'Action|Children|Comedy', 'Action|Children|Fantasy',
       'Crime|Horror|Mystery', 'Film-Noir|Horror|Mystery',
       'Comedy|Documentary', 'Fantasy|Horror|Thriller',
       'Animation|Comedy|Fantasy', 'Adventure|Comedy|Mystery',
       'Adventure|Animation|Fantasy', 'Comedy|Romance|Sci-Fi',
       'Comedy|Musical|Sci-Fi', 'Action|Animation|Comedy',
       'Adventure|Thriller', 'Animation|Drama|Fantasy',
       'Mystery|Romance|Sci-Fi', 'Comedy|Drama|Mystery', 'Fantasy|Horror',
       'Animation|Fantasy|Horror', 'Drama|Film-Noir|Thriller',
       'Animation|Drama|War', 'Action|Comedy|Documentary',
       'Comedy|Drama|Horror', 'Action|Animation|Sci-Fi', 'Mystery|Sci-Fi',
       'Action|Fantasy|Sci-Fi', 'Action|Comedy|Thriller',
       'Animation|Drama|Romance', 'Fantasy|Horror|Sci-Fi',
       'Crime|Fantasy|Horror', 'Action|Drama|Horror',
       'Adventure|Animation|Drama', 'Documentary|War',
       'Adventure|Documentary', 'Drama|War|Western',
       'Animation|Fantasy|Thriller', 'Mystery', 'Adventure|Fantasy|IMAX',
       'Comedy|Fantasy|Thriller', 'Comedy|Documentary|Drama',
       'Fantasy|Western', 'Action|Animation|Drama', 'Drama|Sci-Fi|War',
       'Animation|Drama|Mystery', 'Comedy|Crime|Musical',
       'Action|Crime|Film-Noir', 'Action|Crime|IMAX',
       'Action|Horror|Mystery', 'Adventure|Drama|Horror',
       'Adventure|Fantasy|Thriller', 'Action|Fantasy|Thriller',
       'Action|Fantasy|War', 'Animation|Mystery|Sci-Fi',
       'Animation|Drama', 'Animation|Comedy|Sci-Fi',
       'Drama|Horror|Musical', 'Animation|Comedy|Drama',
       'Adventure|Romance|Thriller', 'Animation|Documentary|Drama',
       'Animation|IMAX|Sci-Fi', 'Action|Comedy|IMAX',
       'Adventure|Fantasy|Mystery', 'Adventure|Animation|Sci-Fi',
       'Fantasy|Romance|Thriller', 'Action|Children|Drama', 'Horror|IMAX',
       'Romance|Sci-Fi|Thriller', 'Drama|Mystery|War',
       'IMAX|Sci-Fi|Thriller', 'Crime|Sci-Fi|Thriller',
       'Adventure|Comedy|Thriller', 'Action|Animation|Mystery',
       'Children|Drama|Mystery', 'Animation|Fantasy|Musical',
       'Comedy|Horror|IMAX', 'Drama|IMAX|Sci-Fi',
       'Animation|Comedy|Romance', 'Action|Animation',
       'Action|IMAX|Sci-Fi', 'Adventure|Romance|Sci-Fi', 'IMAX|Sci-Fi',
       'Adventure|Sci-Fi|Thriller', '(no genres listed)', 'Fantasy'],
      dtype=object)

Enfoque de Agrupación en Géneros Generales


Acción (Action, Adventure, Thriller)

Drama (Drama, Romance, War, Western)

Ciencia Ficción/Fantasía (Sci-Fi, Fantasy)

Animación (Animation, Children, Musical, Family)

Documental (Documentary, IMAX)

Comedia (Comedy, Romance)

Terror (Horror, Mystery, Crime, Film-Noir)

In [ ]:
# Actualizar el mapeo de géneros según la guía en inglés
def map_genres(genre_str):
    genre_mapping = {
        'Action': 'Action',
        'Adventure': 'Action',
        'Thriller': 'Suspense',
        'Sci-Fi': 'Science Fiction',
        'Fantasy': 'Fantasy',
        'Animation': 'Family',
        'Children': 'Children',
        'Family': 'Family',
        'Comedy': 'Comedy',
        'Drama': 'Drama',
        'Romance': 'Romance',
        'War': 'Drama',
        'Western': 'Action',
        'Musical': 'Musical',
        'Documentary': 'Documentary',
        'IMAX': 'Documentary',
        'Horror': 'Horror',
        'Mystery': 'Suspense',
        'Crime': 'Suspense',
        'Film-Noir': 'Suspense'
    }

    # Aplicar el mapeo y reemplazar según las categorías definidas
    genres = [genre_mapping.get(genre, genre) for genre in genre_str.split('|')]
    # Ordenar y eliminar duplicados en cada combinación
    return '|'.join(sorted(set(genres)))

# Aplicar el mapeo en la columna 'genres'
merged_df['genres'] = merged_df['genres'].apply(map_genres)

# Verificar la nueva distribución de géneros después de la categorización
print(merged_df['genres'].value_counts())

genres
Drama|Suspense              6257
Comedy                      6145
Drama                       5889
Action|Science Fiction      5525
Action|Suspense             5299
                            ...
Documentary|Drama|Family       5
Family|Fantasy|Musical         5
Family|Horror|Suspense         5
Children                       5
Children|Fantasy|Musical       5
Name: count, Length: 166, dtype: int64

In [ ]:
# Limitar los géneros a un máximo de dos combinaciones y ordenar alfabéticamente para evitar duplicados por orden de palabras
merged_df['genres'] = merged_df['genres'].apply(lambda x: '|'.join(sorted(x.split('|')[:2])))

# Verificar la distribución de géneros después de reducir a combinaciones de dos palabras
print(merged_df['genres'].value_counts())

genres
Action|Drama                8046
Comedy|Drama                7878
Action|Comedy               7747
Action|Science Fiction      7214
Comedy                      6652
Drama|Suspense              6257
Drama                       6172
Action|Suspense             5299
Action|Children             4523
Comedy|Romance              3659
Drama|Romance               3451
Suspense                    2283
Action|Fantasy              2034
Children|Comedy             1757
Comedy|Suspense             1647
Action                      1455
Horror|Suspense             1274
Drama|Science Fiction       1039
Children|Drama               858
Action|Horror                858
Action|Family                775
Drama|Horror                 769
Comedy|Horror                735
Action|Romance               728
Comedy|Fantasy               707
Drama|Fantasy                691
Horror|Science Fiction       669
Children|Family              632
Documentary                  617
Action|Documentary           544
Comedy|Science Fiction       427
Horror                       406
Comedy|Musical               392
Drama|Musical                378
Science Fiction|Suspense     376
Children                     316
Comedy|Family                221
Romance                      191
Family                       133
Fantasy                      131
Fantasy|Horror               130
Musical                       99
Science Fiction               97
(no genres listed)             7
Name: count, dtype: int64

In [ ]:
# Eliminar filas donde el género es '(no genres listed)'
merged_df = merged_df[merged_df['genres'] != '(no genres listed)']

# Verificar la distribución de géneros después de la eliminación
print(merged_df['genres'].value_counts())

genres
Action|Drama                8046
Comedy|Drama                7878
Action|Comedy               7747
Action|Science Fiction      7214
Comedy                      6652
Drama|Suspense              6257
Drama                       6172
Action|Suspense             5299
Action|Children             4523
Comedy|Romance              3659
Drama|Romance               3451
Suspense                    2283
Action|Fantasy              2034
Children|Comedy             1757
Comedy|Suspense             1647
Action                      1455
Horror|Suspense             1274
Drama|Science Fiction       1039
Action|Horror                858
Children|Drama               858
Action|Family                775
Drama|Horror                 769
Comedy|Horror                735
Action|Romance               728
Comedy|Fantasy               707
Drama|Fantasy                691
Horror|Science Fiction       669
Children|Family              632
Documentary                  617
Action|Documentary           544
Comedy|Science Fiction       427
Horror                       406
Comedy|Musical               392
Drama|Musical                378
Science Fiction|Suspense     376
Children                     316
Comedy|Family                221
Romance                      191
Family                       133
Fantasy                      131
Fantasy|Horror               130
Musical                       99
Science Fiction               97
Name: count, dtype: int64

In [ ]:
merged_df.genres.unique()

array(['Action|Children', 'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Suspense', 'Action', 'Comedy|Horror', 'Drama',
       'Action|Romance', 'Drama|Suspense', 'Drama|Romance',
       'Action|Comedy', 'Comedy|Suspense', 'Drama|Horror',
       'Drama|Science Fiction', 'Children|Drama', 'Action|Drama',
       'Science Fiction|Suspense', 'Action|Fantasy', 'Suspense',
       'Action|Science Fiction', 'Children|Comedy', 'Documentary',
       'Action|Documentary', 'Horror', 'Fantasy|Horror',
       'Horror|Science Fiction', 'Drama|Musical',
       'Comedy|Science Fiction', 'Drama|Fantasy', 'Horror|Suspense',
       'Action|Horror', 'Children', 'Children|Family', 'Action|Family',
       'Family', 'Comedy|Fantasy', 'Comedy|Musical', 'Musical', 'Romance',
       'Fantasy', 'Science Fiction', 'Comedy|Family'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90267 non-null  int64
 1   title      90267 non-null  object
 2   genres     90267 non-null  object
 3   userId     90267 non-null  int64
 4   rating     90267 non-null  float64
 5   timestamp  90267 non-null  int64
 6   imdbId     90267 non-null  int64
 7   tmdbId     90267 non-null  float64
 8   year       90267 non-null  int64
dtypes: float64(2), int64(5), object(2)
memory usage: 6.2+ MB

In [ ]:
df.userId.unique()

array([  1,   5,   7,  15,  17,  18,  19,  21,  27,  31,  32,  33,  40,
        43,  44,  45,  46,  50,  54,  57,  63,  64,  66,  68,  71,  73,
        76,  78,  82,  86,  89,  90,  91,  93,  96,  98, 103, 107, 112,
       119, 121, 124, 130, 132, 134, 135, 137, 140, 141, 144, 145, 151,
       153, 155, 156, 159, 160, 161, 166, 167, 169, 171, 177, 178, 179,
       182, 185, 186, 191, 193, 200, 201, 202, 206, 213, 214, 216, 217,
       219, 220, 223, 226, 229, 232, 233, 234, 239, 240, 247, 249, 252,
       254, 263, 264, 266, 269, 270, 273, 274, 275, 276, 277, 279, 280,
       282, 283, 288, 290, 291, 292, 293, 298, 304, 307, 314, 322, 323,
       328, 330, 332, 334, 336, 337, 339, 341, 347, 350, 353, 357, 359,
       364, 367, 372, 373, 378, 380, 381, 382, 385, 389, 391, 396, 399,
       401, 411, 412, 414, 420, 422, 432, 434, 436, 438, 443, 448, 451,
       453, 456, 460, 462, 468, 469, 470, 471, 474, 476, 477, 480, 483,
       484, 488, 490, 492, 500, 504, 509, 514, 517, 522, 524, 525, 528,
       529, 533, 534, 541, 544, 550, 555, 559, 560, 561, 562, 567, 570,
       572, 573, 579, 580, 584, 587, 590, 596, 597, 599, 600, 601, 603,
       604, 605, 606, 607, 608, 609, 610,   6,   8,  20,  51,  62,  94,
       104, 117, 122, 125, 149, 221, 222, 230, 259, 284, 294, 299, 305,
       308, 318, 321, 395, 425, 426, 446, 447, 458, 475, 482, 489, 497,
       501, 512, 523, 527, 563, 566, 586, 592, 594, 602,  42,  58, 100,
       102, 116, 150, 289, 302, 368, 410, 552, 588,  14,  84, 162, 262,
       111, 120, 147, 170, 181, 402, 437, 521,  11,  23,  24,  28,  79,
       105, 109, 195, 199, 244, 286, 297, 312, 313, 317, 325, 362, 386,
       400, 444, 486, 493, 532, 553, 577,  95, 188, 257, 498, 510, 513,
       428, 464,  26,  34,  56,  59,  81,  99, 136, 173, 174, 176, 192,
       208, 235, 243, 248, 301, 331, 340, 349, 354, 361, 376, 387, 408,
       419, 441, 452, 485, 520, 531, 557, 569,  35,  38, 113, 345, 404,
       455, 530, 351, 571,  61,  88, 187, 261, 287, 303, 310, 311, 405,
       413, 427, 585, 198, 227, 246, 346, 445, 256, 295, 139, 369, 377,
       379, 495, 565, 326,   4, 115, 242, 356, 429, 342, 479, 518, 591,
        36, 108, 118, 265, 589, 506, 253, 260, 267, 268, 440, 576,   3,
        47, 131, 203,  39,  72,  80, 133, 146, 237, 271, 375, 398, 424,
       449, 126, 142, 255, 394, 430, 457, 507, 593,  70,  12, 224, 370,
       409, 564, 583,   9, 467, 545, 250, 316, 502, 536,  13,  16,  41,
        75, 110, 123, 129, 152, 204, 241, 251, 352, 403, 415, 417, 433,
       505, 540, 542, 551, 574,  48,  60, 194, 371, 435,  29,  69, 197,
       211, 215, 228, 278, 296, 309, 327, 329, 335, 338, 343, 348, 363,
       418, 472, 515, 568, 595,  74,  87, 355, 384, 473, 196, 539, 225,
       548, 450, 546, 421, 454, 558, 465, 207, 365, 423, 478, 491,  22,
        92, 508,  30,  49,  83, 128, 164, 165, 183, 319, 344, 366, 374,
       390, 393, 439, 463, 494, 549, 168, 285, 406, 543, 503,  37,  52,
       383, 210, 315, 431, 538, 245, 238, 416, 554, 218,  55, 461, 158,
        53, 526, 138, 101,  25, 397, 281,  77, 114, 180, 205, 212, 231,
       407, 459, 466, 487, 516, 582, 127, 172,  67,  10, 575,  85,   2,
        65, 106, 189, 190, 209, 258, 272, 300, 511, 519, 537, 581, 499,
       333, 143, 148, 154, 442,  97, 324, 157, 175, 392, 547, 388, 556,
       598, 358, 578, 496, 481, 320, 236, 306, 163, 360, 535, 184])

In [ ]:
df.userId.value_counts()

userId
414    2132
599    1756
474    1390
448    1285
274    1177
       ...
320      18
544      18
578      17
598      16
175      12
Name: count, Length: 610, dtype: int64

In [ ]:
df.rating.unique()

array([4. , 4.5, 2.5, 3.5, 3. , 5. , 0.5, 2. , 1.5, 1. ])

In [ ]:
df.rating.value_counts()

rating
4.0    24547
3.0    17999
5.0    12450
3.5    11524
4.5     7765
2.0     6419
2.5     4702
1.0     2362
1.5     1389
0.5     1110
Name: count, dtype: int64

In [ ]:
df.timestamp.unique()

array([ 964982703,  847434962, 1106635946, ..., 1527977920, 1537674946,
       1529899556])

In [ ]:
df.timestamp.value_counts()

timestamp
1459787998    120
1459787997    118
1459787996     77
828124616      35
829760897      29
             ...
1362016835      1
1459367469      1
1496205180      1
1493089784      1
1529899556      1
Name: count, Length: 75794, dtype: int64

La columna timestamp suele almacenar la fecha y hora en que un usuario hizo una calificación para una película. Es decir, cada entrada representa el momento específico en el que se registró el puntaje (valor en la columna rating) dado por el usuario (userId) a una película (movieId).

Este dato puede ser útil para:

Análisis de patrones de comportamiento de usuario: Observar cuándo un usuario es más activo en calificar contenido.
Evolución temporal de preferencias: Detectar cambios en los gustos o intereses de los usuarios a lo largo del tiempo.
Recomendaciones basadas en recencia: Priorizar contenido calificado o visto recientemente para entender mejor las preferencias actuales.

In [ ]:
# Convertir la columna timestamp a un formato de fecha y hora legible
from datetime import datetime

df['timestamp'] = df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

# Verificar los primeros valores después de la conversión
print(df['timestamp'].head())

0   2000-07-30 18:45:03
1   1996-11-08 06:36:02
2   2005-01-25 06:52:26
3   2017-11-13 12:59:30
4   2011-05-18 05:28:03
Name: timestamp, dtype: datetime64[ns]

In [ ]:
df.timestamp.unique()

<DatetimeArray>
['2000-07-30 18:45:03', '1996-11-08 06:36:02', '2005-01-25 06:52:26',
 '2017-11-13 12:59:30', '2011-05-18 05:28:03', '2016-02-11 16:56:56',
 '2000-08-08 03:33:57', '2014-08-09 21:14:38', '2000-07-04 04:34:22',
 '1996-12-13 08:43:36',
 ...
 '2018-09-18 01:49:54', '2018-06-28 01:14:25', '2018-07-11 23:19:53',
 '2018-09-17 02:18:46', '2018-06-25 03:59:39', '2018-06-14 00:02:30',
 '2018-09-13 21:05:28', '2018-06-02 22:18:40', '2018-09-23 03:55:46',
 '2018-06-25 04:05:56']
Length: 75794, dtype: datetime64[ns]

In [ ]:
 df.to_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv', index=False)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90267 non-null  int64
 1   title      90267 non-null  object
 2   genres     90267 non-null  object
 3   userId     90267 non-null  int64
 4   rating     90267 non-null  float64
 5   timestamp  90267 non-null  object
 6   imdbId     90267 non-null  int64
 7   tmdbId     90267 non-null  float64
 8   year       90267 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 6.2+ MB

In [ ]:
df.genres.unique()

array(['Action|Children', 'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Suspense', 'Action', 'Comedy|Horror', 'Drama',
       'Action|Romance', 'Drama|Suspense', 'Drama|Romance',
       'Action|Comedy', 'Comedy|Suspense', 'Drama|Horror',
       'Drama|Science Fiction', 'Children|Drama', 'Action|Drama',
       'Science Fiction|Suspense', 'Action|Fantasy', 'Suspense',
       'Action|Science Fiction', 'Children|Comedy', 'Documentary',
       'Action|Documentary', 'Horror', 'Fantasy|Horror',
       'Horror|Science Fiction', 'Drama|Musical',
       'Comedy|Science Fiction', 'Drama|Fantasy', 'Horror|Suspense',
       'Action|Horror', 'Children', 'Children|Family', 'Action|Family',
       'Family', 'Comedy|Fantasy', 'Comedy|Musical', 'Musical', 'Romance',
       'Fantasy', 'Science Fiction', 'Comedy|Family'], dtype=object)

In [ ]:
df.timestamp.unique()

array(['2000-07-30 18:45:03', '1996-11-08 06:36:02',
       '2005-01-25 06:52:26', ..., '2018-06-02 22:18:40',
       '2018-09-23 03:55:46', '2018-06-25 04:05:56'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90267 non-null  int64
 1   title      90267 non-null  object
 2   genres     90267 non-null  object
 3   userId     90267 non-null  int64
 4   rating     90267 non-null  float64
 5   timestamp  90267 non-null  object
 6   imdbId     90267 non-null  int64
 7   tmdbId     90267 non-null  float64
 8   year       90267 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 6.2+ MB

In [ ]:
df.tmdbId.unique()

array([   862.,   8844.,  15602., ..., 399174., 383498., 348350.])

In [ ]:
df.tmdbId.value_counts()

tmdbId
13.0        329
278.0       317
680.0       307
274.0       279
603.0       278
           ...
11092.0       5
11509.0       5
483.0         5
20126.0       5
348350.0      5
Name: count, Length: 3649, dtype: int64

Bien ahora vamos a generar el otro data set con las tag para BERT

In [ ]:
import pandas as pd

# Cargar el dataset de tags
tags_path = '/content/drive/MyDrive/TFM/Datasets/tags.csv'
tags_df = pd.read_csv(tags_path)

# Crear un nuevo DataFrame solo con las columnas relevantes para el análisis de texto
bert_tags_df = tags_df[['movieId', 'userId', 'tag']].copy()

# Añadir una columna vacía donde se almacenarán las emociones predichas por BERT
bert_tags_df['emotion'] = None  # Esto será llenado después del procesamiento con BERT

# Guardar el nuevo dataset para análisis posterior
bert_tags_path = '/content/drive/MyDrive/TFM/Datasets/bert_tags.csv'
bert_tags_df.to_csv(bert_tags_path, index=False)

print("Nuevo dataset para BERT creado y guardado en:", bert_tags_path)
print(bert_tags_df.head())

Nuevo dataset para BERT creado y guardado en: /content/drive/MyDrive/TFM/Datasets/bert_tags.csv
   movieId  userId              tag emotion
0    60756       2            funny    None
1    60756       2  Highly quotable    None
2    60756       2     will ferrell    None
3    89774       2     Boxing story    None
4    89774       2              MMA    None

In [ ]:
bert_tags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3683 non-null   int64
 1   userId   3683 non-null   int64
 2   tag      3683 non-null   object
 3   emotion  0 non-null      object
dtypes: int64(2), object(2)
memory usage: 115.2+ KB

In [ ]:
# Cargar los datasets necesarios
main_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv')  # Este es el dataset principal ya procesado
bert_tags_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/bert_tags.csv')  # Dataset de etiquetas preparado para BERT

# Realizar la combinación entre ambos datasets para encontrar coincidencias basadas en el movieId
merged_df = pd.merge(bert_tags_df, main_df, on='movieId', how='inner', suffixes=('_tag', '_main'))

# Mostrar los resultados
total_coincidencias = merged_df.shape[0]
unique_movieId_coincidencias = merged_df['movieId'].nunique()

print(f"Total de coincidencias en registros: {total_coincidencias}")
print(f"Total de 'movieId' únicos con coincidencias: {unique_movieId_coincidencias}")
print("Muestra de registros coincidentes:")
print(merged_df.head())

Total de coincidencias en registros: 231828
Total de 'movieId' únicos con coincidencias: 1126
Muestra de registros coincidentes:
   movieId  userId_tag    tag  emotion          title  genres  userId_main  \
0    60756           2  funny      NaN  Step Brothers  Comedy            2
1    60756           2  funny      NaN  Step Brothers  Comedy           18
2    60756           2  funny      NaN  Step Brothers  Comedy           62
3    60756           2  funny      NaN  Step Brothers  Comedy           68
4    60756           2  funny      NaN  Step Brothers  Comedy           73

   rating            timestamp  imdbId   tmdbId  year
0     5.0  2015-10-24 19:29:40  838283  12133.0  2008
1     3.0  2016-02-17 22:50:49  838283  12133.0  2008
2     3.5  2018-06-13 23:59:36  838283  12133.0  2008
3     2.5  2010-03-20 22:14:03  838283  12133.0  2008
4     4.5  2016-05-25 17:10:21  838283  12133.0  2008

In [ ]:
bert_tags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3683 non-null   int64
 1   userId   3683 non-null   int64
 2   tag      3683 non-null   object
 3   emotion  0 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 115.2+ KB

In [ ]:
bert_tags_df.tag.unique()

array(['funny', 'Highly quotable', 'will ferrell', ..., 'gun fu',
       'heroic bloodshed', 'Heroic Bloodshed'], dtype=object)

In [ ]:
# Asegurarse de que el nombre del dataset principal sea correcto (df en este caso)
filtered_bert_tags_df = bert_tags_df[bert_tags_df['movieId'].isin(df['movieId'].unique())]

# Verificar la estructura y mostrar una muestra del resultado
print("Filtered bert_tags_df Structure:")
print(filtered_bert_tags_df.info(), "\n")
print(filtered_bert_tags_df.head())

Filtered bert_tags_df Structure:
<class 'pandas.core.frame.DataFrame'>
Index: 3033 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3033 non-null   int64
 1   userId   3033 non-null   int64
 2   tag      3033 non-null   object
 3   emotion  0 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 118.5+ KB
None

   movieId  userId              tag  emotion
0    60756       2            funny      NaN
1    60756       2  Highly quotable      NaN
2    60756       2     will ferrell      NaN
3    89774       2     Boxing story      NaN
4    89774       2              MMA      NaN

In [ ]:
# Filtrar bert_tags_df para que solo incluya los movieId presentes en df
consistent_movie_ids = df['movieId'].unique()  # Obtener los movieId únicos del dataset principal
filtered_bert_tags_df = bert_tags_df[bert_tags_df['movieId'].isin(consistent_movie_ids)]  # Filtrar por consistencia

# Verificar la estructura y mostrar una muestra del resultado
print("Filtered bert_tags_df Structure (Consistent):")
print(f"{filtered_bert_tags_df['movieId'].nunique()} unique movieId values")  # Confirmación del número único de movieId
print(filtered_bert_tags_df.info())  # Información general sobre el dataset filtrado
print(filtered_bert_tags_df.head())  # Muestra de los primeros registros

Filtered bert_tags_df Structure (Consistent):
1126 unique movieId values
<class 'pandas.core.frame.DataFrame'>
Index: 3033 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3033 non-null   int64
 1   userId   3033 non-null   int64
 2   tag      3033 non-null   object
 3   emotion  0 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 118.5+ KB
None
   movieId  userId              tag  emotion
0    60756       2            funny      NaN
1    60756       2  Highly quotable      NaN
2    60756       2     will ferrell      NaN
3    89774       2     Boxing story      NaN
4    89774       2              MMA      NaN

In [ ]:
filtered_bert_tags_df.to_csv('/content/drive/MyDrive/TFM/Datasets/data_tags_BERT.csv', index=False)

In [ ]:
bert = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/data_tags_BERT.csv')

In [ ]:
bert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3033 non-null   int64
 1   userId   3033 non-null   int64
 2   tag      3033 non-null   object
 3   emotion  0 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 94.9+ KB

Ahora se integrará el data set de movies con el de música

1. Exploración Inicial y Preparación del Dataset

Cargamos y revisamos la estructura original del dataset de música. Identificamos las columnas principales: Artist, Album, Track, y la falta de una columna de Genre adecuada para muchos registros.

Observamos que el género era Unknown para la mayoría de las entradas.

2. Asignación Manual de Géneros
Creamos un mapeo inicial manual (artist_genre_map) para asignar géneros a los artistas más comunes y conocidos, con el fin de cubrir una porción significativa del dataset.
Aplicamos este mapeo a los registros de los artistas presentes, reduciendo considerablemente la cantidad de géneros Unknown.

3. Agrupación por Álbum para Inferir Géneros
Para artistas y álbumes específicos conocidos por un género en particular, asignamos el género de forma coherente a todos los tracks de ese álbum. Esta agrupación mejoró la precisión al reducir ambigüedades en álbumes con varios tracks.

4. Balanceo y Refinamiento
Verificamos la distribución de los géneros asignados. Algunos géneros, como Rock, estaban sobrerrepresentados.
Aplicamos una estrategia de balanceo que limitó el tamaño de Rock a 20,000 muestras para equilibrarlo con otros géneros.
Esto ayudó a evitar el sesgo hacia el género Rock, asegurando una representación más equitativa de otros géneros.

5. Predicción de Géneros Faltantes Usando un Modelo de Clasificación
Entrenamos un modelo de clasificación de texto (basado en Artist, Album, y Track) para predecir los géneros de las entradas restantes con género Unknown.
Evaluamos la precisión del modelo mediante validación cruzada y aseguramos que alcanzara un nivel de precisión alto antes de aplicarlo al dataset.
Asignamos géneros predichos a los registros Unknown y verificamos la coherencia.

6. Verificación Final y Ajustes
Revisamos muestras al azar para confirmar la coherencia entre el artista y el género asignado.
Hicimos los ajustes necesarios en casos específicos donde la predicción podría desviarse del género real del artista.
Guardamos el dataset final con todos los géneros asignados y balanceados, ahora listo para su integración con el dataset de películas.

7. Exportación Final
Guardamos el dataset tratado como musica_integracionv2, asegurando una estructura y consistencia de géneros adecuada para su uso en el modelo de recomendación basado en emociones.
Este tratamiento nos permite integrar el dataset de música al conjunto de datos de películas de manera precisa, aportando una base sólida para los análisis y predicciones del sistema de recomendación basado en emociones que queremos desarrollar con BERT y Deep Learning.

In [ ]:
import pandas as pd

# Cargar los archivos
movies_path = '/content/drive/MyDrive/TFM/Datasets/integracionv1.csv'
music_path = '/content/drive/MyDrive/TFM/Datasets/Last.fm_data.csv'

# Cargar los datasets
movies_df = pd.read_csv(movies_path)
music_df = pd.read_csv(music_path)

# Explorar la estructura y las primeras filas de cada dataset
print("Movies Dataset Structure:")
print(movies_df.info(), "\n")
print(movies_df.head())

print("\nMusic Dataset Structure:")
print(music_df.info(), "\n")
print(music_df.head())

# Explorar columnas únicas para identificar posibles llaves de unión y contenido
print("\nUnique Columns in Movies Dataset:")
print(movies_df.nunique())

print("\nUnique Columns in Music Dataset:")
print(music_df.nunique())

Movies Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90267 non-null  int64
 1   title      90267 non-null  object
 2   genres     90267 non-null  object
 3   userId     90267 non-null  int64
 4   rating     90267 non-null  float64
 5   timestamp  90267 non-null  object
 6   imdbId     90267 non-null  int64
 7   tmdbId     90267 non-null  float64
 8   year       90267 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 6.2+ MB
None

   movieId      title           genres  userId  rating            timestamp  \
0        1  Toy Story  Action|Children       1     4.0  2000-07-30 18:45:03
1        1  Toy Story  Action|Children       5     4.0  1996-11-08 06:36:02
2        1  Toy Story  Action|Children       7     4.5  2005-01-25 06:52:26
3        1  Toy Story  Action|Children      15     2.5  2017-11-13 12:59:30
4        1  Toy Story  Action|Children      17     4.5  2011-05-18 05:28:03

   imdbId  tmdbId  year
0  114709   862.0  1995
1  114709   862.0  1995
2  114709   862.0  1995
3  114709   862.0  1995
4  114709   862.0  1995

Music Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166153 entries, 0 to 166152
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  166153 non-null  int64
 1   Username    166153 non-null  object
 2   Artist      166153 non-null  object
 3   Track       166153 non-null  object
 4   Album       166141 non-null  object
 5   Date        166153 non-null  object
 6   Time        166153 non-null  object
dtypes: int64(1), object(6)
memory usage: 8.9+ MB
None

   Unnamed: 0 Username           Artist                          Track  \
0           0  Babs_05  Isobel Campbell     The Circus Is Leaving Town
1           1  Babs_05  Isobel Campbell                   Dusty Wreath
2           2  Babs_05  Isobel Campbell     Honey Child What Can I Do?
3           3  Babs_05  Isobel Campbell  It's Hard To Kill A Bad Thing
4           4  Babs_05  Isobel Campbell                Saturday's Gone

                       Album         Date    Time
0  Ballad of the Broken Seas  31 Jan 2021   23:36
1  Ballad of the Broken Seas  31 Jan 2021   23:32
2  Ballad of the Broken Seas  31 Jan 2021   23:28
3  Ballad of the Broken Seas  31 Jan 2021   23:25
4  Ballad of the Broken Seas  31 Jan 2021   23:21

Unique Columns in Movies Dataset:
movieId       3649
title         3585
genres          43
userId         610
rating          10
timestamp    75794
imdbId        3649
tmdbId        3649
year            97
dtype: int64

Unique Columns in Music Dataset:
Unnamed: 0    166153
Username          11
Artist         22823
Track          67241
Album          38629
Date              31
Time            1440
dtype: int64

In [ ]:
# Limpiar el dataset de música eliminando la columna Unnamed: 0
music_df = music_df.drop(columns=['Unnamed: 0'])

# Ver coincidencias potenciales entre Username y userId
unique_userIds = movies_df['userId'].unique()
unique_usernames = music_df['Username'].unique()

# Mostrar coincidencias entre userId en movies_df y Username en music_df (si existen)
matching_users = [user for user in unique_usernames if user in unique_userIds]
print("Usuarios coincidentes entre datasets:", matching_users)

Usuarios coincidentes entre datasets: []

In [ ]:
movies_df.genres.unique()

array(['Action|Children', 'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Suspense', 'Action', 'Comedy|Horror', 'Drama',
       'Action|Romance', 'Drama|Suspense', 'Drama|Romance',
       'Action|Comedy', 'Comedy|Suspense', 'Drama|Horror',
       'Drama|Science Fiction', 'Children|Drama', 'Action|Drama',
       'Science Fiction|Suspense', 'Action|Fantasy', 'Suspense',
       'Action|Science Fiction', 'Children|Comedy', 'Documentary',
       'Action|Documentary', 'Horror', 'Fantasy|Horror',
       'Horror|Science Fiction', 'Drama|Musical',
       'Comedy|Science Fiction', 'Drama|Fantasy', 'Horror|Suspense',
       'Action|Horror', 'Children', 'Children|Family', 'Action|Family',
       'Family', 'Comedy|Fantasy', 'Comedy|Musical', 'Musical', 'Romance',
       'Fantasy', 'Science Fiction', 'Comedy|Family'], dtype=object)

In [ ]:
# Definir el mapeo de géneros entre películas y música
genre_mapping = {
    'Action': 'Rock',
    'Children': 'Children’s Music',
    'Comedy': 'Pop',
    'Suspense': 'Techno/Industrial',
    'Drama': 'Blues/R&B',
    'Horror': 'Metal',
    'Fantasy': 'Alternative',
    'Romance': 'Ballad/Romantic',
    'Science Fiction': 'Electronic/Dance',
    'Documentary': 'Classical/Jazz',
    'Family': 'Children’s Music',
    'Musical': 'Soundtrack/Broadway',
    # Agregar combinaciones específicas
    'Action|Children': 'Rock/Children’s Music',
    'Comedy|Romance': 'Pop/Ballad',
    'Comedy|Drama': 'Pop/Blues',
    'Comedy|Horror': 'Pop/Metal',
    'Drama|Suspense': 'Blues/Techno',
    'Action|Suspense': 'Rock/Techno',
    'Action|Romance': 'Rock/Ballad',
    'Drama|Romance': 'Blues/Ballad',
    'Comedy|Suspense': 'Pop/Techno',
    'Drama|Horror': 'Blues/Metal',
    'Drama|Science Fiction': 'Blues/Electronic',
    'Children|Drama': 'Children’s Music/Blues',
    'Action|Drama': 'Rock/Blues',
    'Science Fiction|Suspense': 'Electronic/Techno',
    'Action|Fantasy': 'Rock/Alternative',
    'Action|Science Fiction': 'Rock/Electronic',
    'Children|Comedy': 'Children’s Music/Pop',
    'Action|Documentary': 'Rock/Classical',
    'Fantasy|Horror': 'Alternative/Metal',
    'Horror|Science Fiction': 'Metal/Electronic',
    'Drama|Musical': 'Blues/Soundtrack',
    'Comedy|Science Fiction': 'Pop/Electronic',
    'Drama|Fantasy': 'Blues/Alternative',
    'Horror|Suspense': 'Metal/Techno',
    'Action|Horror': 'Rock/Metal',
    'Children|Family': 'Children’s Music',
    'Action|Family': 'Rock/Children’s Music',
    'Comedy|Fantasy': 'Pop/Alternative',
    'Comedy|Musical': 'Pop/Soundtrack',
    'Fantasy|Romance': 'Alternative/Ballad',
    'Science Fiction|Romance': 'Electronic/Ballad',
    'Comedy|Family': 'Pop/Children’s Music',
}

# Aplicar el mapeo al dataset de películas y de música
movies_df['mapped_genre'] = movies_df['genres'].map(genre_mapping)
music_df['mapped_genre'] = music_df['Genre'].map(genre_mapping)

# Mostrar una muestra de cada dataset para verificar
print("Movies dataset with mapped genres:")
print(movies_df[['title', 'genres', 'mapped_genre']].head())
print("\nMusic dataset with mapped genres:")
print(music_df[['Artist', 'Track', 'Genre', 'mapped_genre']].head())

KeyError: 'Genre'

In [ ]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166153 entries, 0 to 166152
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  166153 non-null  int64
 1   Username    166153 non-null  object
 2   Artist      166153 non-null  object
 3   Track       166153 non-null  object
 4   Album       166141 non-null  object
 5   Date        166153 non-null  object
 6   Time        166153 non-null  object
 7   Genre       166153 non-null  object
dtypes: int64(1), object(7)
memory usage: 10.1+ MB

In [ ]:
music_df.Username.unique()

array(['Babs_05', 'franhale', 'eartle', 'massdosage', 'Knapster01',
       'jonocole', 'isaac', 'lobsterclaw', 'jajo', 'mremond', 'Orlenay'],
      dtype=object)

In [ ]:
music_df.Artist.unique()

array(['Isobel Campbell', 'The Coral', 'Gidge', ..., 'edwynn page',
       'Roy Montgomery', 'DJ Spooky'], dtype=object)

In [ ]:
music_df.Track.unique()

array(['The Circus Is Leaving Town', 'Dusty Wreath',
       'Honey Child What Can I Do?', ..., 'Pinnacles of You',
       'Arrows of Time', 'Closest approach to your Orbit'], dtype=object)

In [ ]:
music_df.Album.unique()

array(['Ballad of the Broken Seas', 'Lockdown Sessions', 'Perimeter', ...,
       'Peng! (2018 Remaster)', 'Spotify Session', 'Fucking Money Man'],
      dtype=object)

In [ ]:
music_df.Date.unique()

array(['31 Jan 2021', '30 Jan 2021', '29 Jan 2021', '26 Jan 2021',
       '25 Jan 2021', '19 Jan 2021', '28 Jan 2021', '27 Jan 2021',
       '22 Jan 2021', '23 Jan 2021', '10 Jan 2021', '24 Jan 2021',
       '20 Jan 2021', '18 Jan 2021', '15 Jan 2021', '14 Jan 2021',
       '04 Jan 2021', '01 Jan 2021', '21 Jan 2021', '06 Jan 2021',
       '12 Jan 2021', '11 Jan 2021', '17 Jan 2021', '09 Jan 2021',
       '16 Jan 2021', '13 Jan 2021', '08 Jan 2021', '05 Jan 2021',
       '02 Jan 2021', '03 Jan 2021', '07 Jan 2021'], dtype=object)

In [ ]:
music_df.Time.unique()

array([' 23:36', ' 23:32', ' 23:28', ..., ' 07:02', ' 07:47', ' 06:44'],
      dtype=object)

In [ ]:
# Cargar el dataset de música
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data.csv')

# Contar la frecuencia de cada artista
top_artists = music_df['Artist'].value_counts().head(60)  # Podemos ajustar el número según lo necesitemos

# Mostrar los artistas más comunes
print("Top 50 Artistas más comunes:")
print(top_artists)

Top 50 Artistas más comunes:
Artist
Sophie                      1181
Madlib                      1074
Bicep                        766
Taylor Swift                 649
Arlo Parks                   593
Morrissey                    498
Depeche Mode                 469
Coldplay                     393
New Order                    367
MF DOOM                      366
James Blake                  352
Radiohead                    348
Phoebe Bridgers              345
Metallica                    344
Lana Del Rey                 338
Metric                       331
Kendrick Lamar               327
ABBA                         325
Björk                        322
Lady Gaga                    313
Bill Wurtz                   307
The Beatles                  307
Steve Earle & The Dukes      300
Johann Sebastian Bach        295
Charli XCX                   294
The Weeknd                   294
Eminem                       287
Dua Lipa                     286
Rhye                         285
Weezer                       275
Daft Punk                    275
Ocean Waves For Sleep        266
Tame Impala                  262
Khruangbin                   259
Beyoncé                      255
John Lee Hooker              247
Boards of Canada             243
The Album Leaf               241
Red Hot Chili Peppers        236
Pink Floyd                   234
Rage Against the Machine     234
Dorian Electra               229
The Avalanches               228
Grimes                       228
Madonna                      227
Loscil                       224
David Bowie                  223
Ólafur Arnalds               223
Sabaton                      219
The Cure                     217
Foo Fighters                 214
The Smiths                   213
Linkin Park                  211
PJ Harvey                    211
Britney Spears               202
Augustines                   201
Autechre                     201
Ariana Grande                199
Joni Mitchell                195
Tool                         189
Name: count, dtype: int64

In [ ]:
music_df.Artist.value_counts()

Artist
Sophie          1181
Madlib          1074
Bicep            766
Taylor Swift     649
Arlo Parks       593
                ...
Talos              1
Vybz Kartel        1
LadiPOE            1
Goapele            1
DJ Spooky          1
Name: count, Length: 22823, dtype: int64

In [ ]:
unique_artists = music_df['Artist'].unique()

# Mostrar la cantidad total de artistas y los primeros 50 como muestra
len(unique_artists), unique_artists[100]

(22823, 'Ralph Vaughan Williams')

In [ ]:
import pandas as pd

# Cargar el dataset de música actualizado
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data.csv')

# Crear un diccionario de mapeo para asignar géneros a los artistas más comunes
artist_genre_map = {
    'Taylor Swift': 'Pop', 'Lana Del Rey': 'Pop', 'Lady Gaga': 'Pop', 'The Weeknd': 'Pop',
    'Britney Spears': 'Pop', 'Ariana Grande': 'Pop', 'Dua Lipa': 'Pop', 'ABBA': 'Pop', 'Charli XCX': 'Pop',
    'Coldplay': 'Rock', 'Radiohead': 'Rock', 'Foo Fighters': 'Rock', 'The Beatles': 'Rock',
    'Linkin Park': 'Rock', 'Red Hot Chili Peppers': 'Rock', 'Pink Floyd': 'Rock', 'The Cure': 'Rock', 'The Smiths': 'Rock',
    'Kendrick Lamar': 'Hip-Hop/Rap', 'MF DOOM': 'Hip-Hop/Rap', 'Eminem': 'Hip-Hop/Rap',
    'Sophie': 'Electronic', 'Bicep': 'Electronic', 'Daft Punk': 'Electronic', 'Grimes': 'Electronic',
    'The Avalanches': 'Electronic', 'Autechre': 'Electronic',
    'Phoebe Bridgers': 'Alternative/Indie', 'Tame Impala': 'Alternative/Indie',
    'Weezer': 'Alternative/Indie', 'Arctic Monkeys': 'Alternative/Indie',
    'Johann Sebastian Bach': 'Classical', 'Ólafur Arnalds': 'Classical',
    'Metallica': 'Metal', 'Sabaton': 'Metal', 'Tool': 'Metal',
    'John Lee Hooker': 'Blues/Jazz',
    'Steve Earle & The Dukes': 'Country/Folk',
    'Boards of Canada': 'Experimental', 'Loscil': 'Experimental'
}

# Asignar géneros al dataset de música usando el diccionario
music_df['Genre'] = music_df['Artist'].map(artist_genre_map)

# Rellenar NaN en la columna de género con "Unknown"
music_df['Genre'].fillna('Unknown', inplace=True)

# Verificar los cambios y la distribución de géneros
print(music_df['Genre'].value_counts())
print(music_df.head())

# Guardar el dataset actualizado si es necesario
music_df.to_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data_with_genres.csv', index=False)

<ipython-input-29-1edf92569d31>:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  music_df['Genre'].fillna('Unknown', inplace=True)

Genre
Unknown              153691
Pop                    2900
Electronic             2879
Rock                   2373
Alternative/Indie      1046
Hip-Hop/Rap             980
Metal                   752
Classical               518
Experimental            467
Country/Folk            300
Blues/Jazz              247
Name: count, dtype: int64
   Unnamed: 0 Username           Artist                          Track  \
0           0  Babs_05  Isobel Campbell     The Circus Is Leaving Town
1           1  Babs_05  Isobel Campbell                   Dusty Wreath
2           2  Babs_05  Isobel Campbell     Honey Child What Can I Do?
3           3  Babs_05  Isobel Campbell  It's Hard To Kill A Bad Thing
4           4  Babs_05  Isobel Campbell                Saturday's Gone

                       Album         Date    Time    Genre
0  Ballad of the Broken Seas  31 Jan 2021   23:36  Unknown
1  Ballad of the Broken Seas  31 Jan 2021   23:32  Unknown
2  Ballad of the Broken Seas  31 Jan 2021   23:28  Unknown
3  Ballad of the Broken Seas  31 Jan 2021   23:25  Unknown
4  Ballad of the Broken Seas  31 Jan 2021   23:21  Unknown

In [ ]:
# Diccionario expandido para asignar géneros a más artistas populares
additional_artist_genre_map = {
    'Sophie': 'Electronic',
    'Madlib': 'Hip-Hop/Rap',
    'Bicep': 'Electronic',
    'Taylor Swift': 'Pop',
    'Arlo Parks': 'Alternative/Indie',
    'Morrissey': 'Rock',
    'Depeche Mode': 'Rock',
    'Coldplay': 'Alternative/Indie',
    'New Order': 'Electronic',
    'MF DOOM': 'Hip-Hop/Rap',
    'James Blake': 'Electronic',
    'Radiohead': 'Alternative/Indie',
    'Phoebe Bridgers': 'Alternative/Indie',
    'Metallica': 'Metal',
    'Lana Del Rey': 'Pop',
    'Metric': 'Alternative/Indie',
    'Kendrick Lamar': 'Hip-Hop/Rap',
    'ABBA': 'Pop',
    'Björk': 'Electronic',
    'Lady Gaga': 'Pop',
    'The Beatles': 'Rock',
    'Steve Earle & The Dukes': 'Country/Folk',
    'Johann Sebastian Bach': 'Classical',
    'Charli XCX': 'Pop',
    'The Weeknd': 'Pop',
    'Eminem': 'Hip-Hop/Rap',
    'Dua Lipa': 'Pop',
    'Rhye': 'Electronic',
    'Weezer': 'Rock',
    'Daft Punk': 'Electronic',
    'Ocean Waves For Sleep': 'Experimental',
    'Tame Impala': 'Alternative/Indie',
    'Khruangbin': 'Alternative/Indie',
    'Beyoncé': 'Pop',
    'John Lee Hooker': 'Blues/Jazz',
    'Boards of Canada': 'Electronic',
    'Red Hot Chili Peppers': 'Rock',
    'Pink Floyd': 'Rock',
    'Rage Against the Machine': 'Rock',
    'Dorian Electra': 'Pop',
    'The Cure': 'Rock',
    'Foo Fighters': 'Rock',
    'The Smiths': 'Rock',
    'Linkin Park': 'Rock',
    'PJ Harvey': 'Alternative/Indie',
    'Britney Spears': 'Pop',
    'Autechre': 'Electronic',
    'Ariana Grande': 'Pop',
    'Joni Mitchell': 'Country/Folk',
    'Tool': 'Metal'
}

# Aplicar el mapeo expandido al dataset de música
music_df['Genre'] = music_df['Artist'].map(additional_artist_genre_map).fillna(music_df['Genre'])

# Verificar los resultados después del mapeo expandido
print("Distribución de géneros después del mapeo adicional:")
print(music_df['Genre'].value_counts())
print(music_df.head())

Distribución de géneros después del mapeo adicional:
Genre
Unknown              147751
Electronic             4448
Pop                    3384
Rock                   3108
Alternative/Indie      2906
Hip-Hop/Rap            2054
Metal                   752
Classical               518
Country/Folk            495
Experimental            490
Blues/Jazz              247
Name: count, dtype: int64
   Unnamed: 0 Username           Artist                          Track  \
0           0  Babs_05  Isobel Campbell     The Circus Is Leaving Town
1           1  Babs_05  Isobel Campbell                   Dusty Wreath
2           2  Babs_05  Isobel Campbell     Honey Child What Can I Do?
3           3  Babs_05  Isobel Campbell  It's Hard To Kill A Bad Thing
4           4  Babs_05  Isobel Campbell                Saturday's Gone

                       Album         Date    Time    Genre
0  Ballad of the Broken Seas  31 Jan 2021   23:36  Unknown
1  Ballad of the Broken Seas  31 Jan 2021   23:32  Unknown
2  Ballad of the Broken Seas  31 Jan 2021   23:28  Unknown
3  Ballad of the Broken Seas  31 Jan 2021   23:25  Unknown
4  Ballad of the Broken Seas  31 Jan 2021   23:21  Unknown

In [ ]:
import pandas as pd

# Cargar el dataset de música
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data.csv')

# Verificar si la columna 'Genre' existe; si no, crearla con valor 'Unknown'
if 'Genre' not in music_df.columns:
    music_df['Genre'] = 'Unknown'

# Diccionario de géneros específicos por artista
artist_genre_map = {
    'Sophie': 'Electronic', 'Madlib': 'Hip-Hop/Rap', 'Bicep': 'Electronic', 'Taylor Swift': 'Pop',
    'Arlo Parks': 'Alternative/Indie', 'Morrissey': 'Rock', 'Depeche Mode': 'Rock',
    'Coldplay': 'Alternative/Indie', 'New Order': 'Electronic', 'MF DOOM': 'Hip-Hop/Rap',
    'James Blake': 'Electronic', 'Radiohead': 'Alternative/Indie', 'Phoebe Bridgers': 'Alternative/Indie',
    'Metallica': 'Metal', 'Lana Del Rey': 'Pop', 'Metric': 'Alternative/Indie', 'Kendrick Lamar': 'Hip-Hop/Rap',
    'ABBA': 'Pop', 'Björk': 'Electronic', 'Lady Gaga': 'Pop', 'The Beatles': 'Rock',
    'Steve Earle & The Dukes': 'Country/Folk', 'Johann Sebastian Bach': 'Classical', 'Charli XCX': 'Pop',
    'The Weeknd': 'Pop', 'Eminem': 'Hip-Hop/Rap', 'Dua Lipa': 'Pop', 'Rhye': 'Electronic',
    'Weezer': 'Rock', 'Daft Punk': 'Electronic', 'Ocean Waves For Sleep': 'Experimental', 'Tame Impala': 'Alternative/Indie',
    'Khruangbin': 'Alternative/Indie', 'Beyoncé': 'Pop', 'John Lee Hooker': 'Blues/Jazz', 'Boards of Canada': 'Electronic',
    'Red Hot Chili Peppers': 'Rock', 'Pink Floyd': 'Rock', 'Rage Against the Machine': 'Rock', 'Dorian Electra': 'Pop',
    'The Cure': 'Rock', 'Foo Fighters': 'Rock', 'The Smiths': 'Rock', 'Linkin Park': 'Rock', 'PJ Harvey': 'Alternative/Indie',
    'Britney Spears': 'Pop', 'Autechre': 'Electronic', 'Ariana Grande': 'Pop', 'Joni Mitchell': 'Country/Folk', 'Tool': 'Metal'
}

# Aplicar el mapeo de géneros en la columna 'Artist'
music_df['Genre'] = music_df['Artist'].map(artist_genre_map).fillna(music_df['Genre'])

# Rellenar NaN en 'Album' con un valor predeterminado
music_df['Album'].fillna('Unknown Album', inplace=True)

# Agrupar por 'Album' y asignar el género más frecuente en cada álbum
album_genres = music_df.groupby('Album')['Genre'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else 'Unknown')
music_df['Genre'] = music_df.apply(lambda row: album_genres[row['Album']] if row['Genre'] == 'Unknown' else row['Genre'], axis=1)

# Ver la distribución de géneros después de la agrupación por álbum
print("\nDistribución de géneros después de la agrupación por álbum:")
print(music_df['Genre'].value_counts())

# Mostrar una muestra de los primeros registros para verificar la asignación de géneros
print("\nMuestra de los primeros registros con género asignado:")
print(music_df.head())

<ipython-input-34-b691bbc81cd5>:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  music_df['Album'].fillna('Unknown Album', inplace=True)

Distribución de géneros después de la agrupación por álbum:
Genre
Unknown              148810
Electronic             4091
Pop                    3439
Rock                   3128
Alternative/Indie      2760
Hip-Hop/Rap            2071
Metal                   535
Country/Folk            505
Classical               300
Experimental            266
Blues/Jazz              248
Name: count, dtype: int64

Muestra de los primeros registros con género asignado:
   Unnamed: 0 Username           Artist                          Track  \
0           0  Babs_05  Isobel Campbell     The Circus Is Leaving Town
1           1  Babs_05  Isobel Campbell                   Dusty Wreath
2           2  Babs_05  Isobel Campbell     Honey Child What Can I Do?
3           3  Babs_05  Isobel Campbell  It's Hard To Kill A Bad Thing
4           4  Babs_05  Isobel Campbell                Saturday's Gone

                       Album         Date    Time    Genre
0  Ballad of the Broken Seas  31 Jan 2021   23:36  Unknown
1  Ballad of the Broken Seas  31 Jan 2021   23:32  Unknown
2  Ballad of the Broken Seas  31 Jan 2021   23:28  Unknown
3  Ballad of the Broken Seas  31 Jan 2021   23:25  Unknown
4  Ballad of the Broken Seas  31 Jan 2021   23:21  Unknown

In [ ]:
# 1. Revisar y contar álbumes comunes
common_albums = music_df['Album'].value_counts().head(20)  # Top 20 álbumes para inspección
print("Álbumes más comunes:")
print(common_albums)

# Manualmente podemos inspeccionar algunos de estos álbumes y asignarles géneros si son consistentes.

# 2. Ampliar el diccionario `artist_genre_map`
# Añade más artistas aquí según la popularidad o el conocimiento del género de estos artistas
artist_genre_map.update({
    'Sufjan Stevens': 'Alternative/Indie',
    'Nine Inch Nails': 'Rock',
    'Fleetwood Mac': 'Rock',
    'Beethoven': 'Classical',
    'Ella Fitzgerald': 'Blues/Jazz',
    # Continúa añadiendo artistas relevantes para este proyecto
})

# Aplicar nuevamente el mapeo con el diccionario actualizado
music_df['Genre'] = music_df['Artist'].map(artist_genre_map)

# Completar cualquier valor desconocido restante con "Unknown"
music_df['Genre'].fillna('Unknown', inplace=True)

# Revisar la distribución de géneros después del refinamiento
print("\nDistribución de géneros después del refinamiento:")
print(music_df['Genre'].value_counts())

Álbumes más comunes:
Album
OIL OF EVERY PEARL'S UN-INSIDES                        696
Sound Ancestors                                        669
Isles                                                  438
The HMV / Parlophone Singles 1988-1995                 396
Collapsed in Sunbeams                                  325
Cascades (Dirt Road Version)                           297
Greatest Hits                                          267
Waves of the Sea, Ocean and Lakes                      266
Hamilton (Original Broadway Cast Recording)            250
Madilb Medicine Show #11 - Low Budget High Fi Music    250
Bicep                                                  239
Home                                                   228
XCOM Legacy (Original Soundtrack)                      217
evermore                                               214
Punisher                                               208
Vespertine                                             197
J.T.                                                   180
Collapsed In Sunbeams (Deluxe)                         178
Purple Mountains                                       177
OK Human                                               171
Name: count, dtype: int64

Distribución de géneros después del refinamiento:
Genre
Unknown              148545
Electronic             3992
Pop                    3384
Rock                   3377
Alternative/Indie      2896
Hip-Hop/Rap            2054
Metal                   533
Country/Folk            495
Blues/Jazz              316
Classical               295
Experimental            266
Name: count, dtype: int64

<ipython-input-35-6d8093e33bab>:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  music_df['Genre'].fillna('Unknown', inplace=True)

In [ ]:
# Diccionario ampliado de géneros por álbum para los álbumes más comunes
album_genre_map = {
    'OIL OF EVERY PEARL\'S UN-INSIDES': 'Electronic',
    'Sound Ancestors': 'Hip-Hop/Rap',
    'Isles': 'Electronic',
    'The HMV / Parlophone Singles 1988-1995': 'Rock',
    'Collapsed in Sunbeams': 'Alternative/Indie',
    'Cascades (Dirt Road Version)': 'Country/Folk',
    'Greatest Hits': 'Pop',  # Este puede variar según el artista, ajustar si es posible
    'Waves of the Sea, Ocean and Lakes': 'Experimental',
    'Hamilton (Original Broadway Cast Recording)': 'Musical',
    'Madilb Medicine Show #11 - Low Budget High Fi Music': 'Hip-Hop/Rap',
    'Bicep': 'Electronic',
    'Home': 'Pop',
    'XCOM Legacy (Original Soundtrack)': 'Soundtrack',
    'evermore': 'Pop',
    'Punisher': 'Alternative/Indie',
    'Vespertine': 'Electronic',
    'J.T.': 'Country/Folk',
    'Purple Mountains': 'Alternative/Indie',
    'OK Human': 'Rock',
    'Madlib Medicine Show': 'Hip-Hop/Rap',
    # Ampliar con más álbumes conocidos si se desea
}

# Asignar el género según el álbum usando el diccionario ampliado
music_df['Genre'] = music_df.apply(
    lambda row: album_genre_map[row['Album']] if row['Album'] in album_genre_map else row['Genre'],
    axis=1
)

# Llenar valores desconocidos como 'Unknown'
music_df['Genre'].fillna('Unknown', inplace=True)

# Verificar la distribución y una muestra de los datos
print("Distribución de géneros después del refinamiento adicional:")
print(music_df['Genre'].value_counts())

# Muestra de los primeros registros con el género asignado
print("\nMuestra de los primeros registros con género asignado:")
print(music_df.head())

Distribución de géneros después del refinamiento adicional:
Genre
Unknown              147631
Pop                    3880
Electronic             3788
Rock                   3344
Alternative/Indie      2777
Hip-Hop/Rap            2064
Country/Folk            792
Metal                   533
Blues/Jazz              316
Classical               295
Experimental            266
Musical                 250
Soundtrack              217
Name: count, dtype: int64

Muestra de los primeros registros con género asignado:
   Unnamed: 0 Username           Artist                          Track  \
0           0  Babs_05  Isobel Campbell     The Circus Is Leaving Town
1           1  Babs_05  Isobel Campbell                   Dusty Wreath
2           2  Babs_05  Isobel Campbell     Honey Child What Can I Do?
3           3  Babs_05  Isobel Campbell  It's Hard To Kill A Bad Thing
4           4  Babs_05  Isobel Campbell                Saturday's Gone

                       Album         Date    Time    Genre
0  Ballad of the Broken Seas  31 Jan 2021   23:36  Unknown
1  Ballad of the Broken Seas  31 Jan 2021   23:32  Unknown
2  Ballad of the Broken Seas  31 Jan 2021   23:28  Unknown
3  Ballad of the Broken Seas  31 Jan 2021   23:25  Unknown
4  Ballad of the Broken Seas  31 Jan 2021   23:21  Unknown

<ipython-input-36-5b384e0022a2>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  music_df['Genre'].fillna('Unknown', inplace=True)

In [ ]:
# Ampliar el mapeo de álbumes a géneros con más álbumes comunes
album_genre_map.update({
    'evermore': 'Pop',
    'The HMV / Parlophone Singles 1988-1995': 'Rock',
    'Greatest Hits': 'Rock',
    'Hamilton (Original Broadway Cast Recording)': 'Musical',
    'Purple Mountains': 'Alternative/Indie',
    'OK Human': 'Alternative/Indie',
    # Añadir más álbumes conocidos aquí según sea necesario
})

# Actualizar los géneros en el dataset de música con el mapeo de álbumes refinado
music_df['Genre'] = music_df.apply(lambda x: album_genre_map.get(x['Album'], x['Genre']), axis=1)

# Mapeo adicional por artista para cubrir más casos
artist_genre_map.update({
    'Isobel Campbell': 'Alternative/Indie',
    'Johann Sebastian Bach': 'Classical',
    'Morrissey': 'Rock',
    # Añadir más artistas conocidos aquí según sea necesario
})

# Asignar género basado en el artista si el género aún es 'Unknown'
music_df['Genre'] = music_df.apply(lambda x: artist_genre_map.get(x['Artist'], x['Genre']) if x['Genre'] == 'Unknown' else x['Genre'], axis=1)

# Verificar la distribución de géneros después del refinamiento adicional
print("Distribución de géneros después del refinamiento adicional:")
print(music_df['Genre'].value_counts())

# Mostrar una muestra de los primeros registros con el nuevo mapeo aplicado
print("\nMuestra de los primeros registros con género asignado:")
print(music_df.head())

Distribución de géneros después del refinamiento adicional:
Genre
Unknown              147494
Electronic             3788
Pop                    3613
Rock                   3440
Alternative/Indie      3085
Hip-Hop/Rap            2064
Country/Folk            792
Metal                   533
Blues/Jazz              316
Classical               295
Experimental            266
Musical                 250
Soundtrack              217
Name: count, dtype: int64

Muestra de los primeros registros con género asignado:
   Unnamed: 0 Username           Artist                          Track  \
0           0  Babs_05  Isobel Campbell     The Circus Is Leaving Town
1           1  Babs_05  Isobel Campbell                   Dusty Wreath
2           2  Babs_05  Isobel Campbell     Honey Child What Can I Do?
3           3  Babs_05  Isobel Campbell  It's Hard To Kill A Bad Thing
4           4  Babs_05  Isobel Campbell                Saturday's Gone

                       Album         Date    Time              Genre
0  Ballad of the Broken Seas  31 Jan 2021   23:36  Alternative/Indie
1  Ballad of the Broken Seas  31 Jan 2021   23:32  Alternative/Indie
2  Ballad of the Broken Seas  31 Jan 2021   23:28  Alternative/Indie
3  Ballad of the Broken Seas  31 Jan 2021   23:25  Alternative/Indie
4  Ballad of the Broken Seas  31 Jan 2021   23:21  Alternative/Indie

In [ ]:
# Guardar el dataset actualizado si es necesario
music_df.to_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data_with_genres.csv', index=False)

In [ ]:
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data_with_genres.csv')

In [ ]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166153 entries, 0 to 166152
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  166153 non-null  int64
 1   Username    166153 non-null  object
 2   Artist      166153 non-null  object
 3   Track       166153 non-null  object
 4   Album       166153 non-null  object
 5   Date        166153 non-null  object
 6   Time        166153 non-null  object
 7   Genre       166153 non-null  object
dtypes: int64(1), object(7)
memory usage: 10.1+ MB

In [ ]:
music_df.Genre.unique()

array(['Alternative/Indie', 'Unknown', 'Classical', 'Electronic',
       'Hip-Hop/Rap', 'Pop', 'Rock', 'Metal', 'Blues/Jazz',
       'Country/Folk', 'Musical', 'Soundtrack', 'Experimental'],
      dtype=object)

In [ ]:
music_df.Genre.value_counts()

Genre
Unknown              147494
Electronic             3788
Pop                    3613
Rock                   3440
Alternative/Indie      3085
Hip-Hop/Rap            2064
Country/Folk            792
Metal                   533
Blues/Jazz              316
Classical               295
Experimental            266
Musical                 250
Soundtrack              217
Name: count, dtype: int64

In [ ]:
music_df.head()

,Unnamed: 0,Username,Artist,Track,Album,Date,Time,Genre
0,0,Babs_05,Isobel Campbell,The Circus Is Leaving Town,Ballad of the Broken Seas,31 Jan 2021,23:36,Alternative/Indie
1,1,Babs_05,Isobel Campbell,Dusty Wreath,Ballad of the Broken Seas,31 Jan 2021,23:32,Alternative/Indie
2,2,Babs_05,Isobel Campbell,Honey Child What Can I Do?,Ballad of the Broken Seas,31 Jan 2021,23:28,Alternative/Indie
3,3,Babs_05,Isobel Campbell,It's Hard To Kill A Bad Thing,Ballad of the Broken Seas,31 Jan 2021,23:25,Alternative/Indie
4,4,Babs_05,Isobel Campbell,Saturday's Gone,Ballad of the Broken Seas,31 Jan 2021,23:21,Alternative/Indie

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Cargar el dataset y dividir en conocidos y desconocidos
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data_with_genres.csv')
known_genres_df = music_df[music_df['Genre'] != 'Unknown']
unknown_genres_df = music_df[music_df['Genre'] == 'Unknown']

# Crear una columna de texto para representar la combinación de características
known_genres_df['text_features'] = (known_genres_df['Artist'] + ' ' + known_genres_df['Album'] + ' ' + known_genres_df['Track']).fillna('')
unknown_genres_df['text_features'] = (unknown_genres_df['Artist'] + ' ' + unknown_genres_df['Album'] + ' ' + unknown_genres_df['Track']).fillna('')

# Dividir en características y etiquetas para entrenamiento
X = known_genres_df['text_features']
y = known_genres_df['Genre']

# Definir el pipeline con un modelo de RandomForest optimizado
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(max_features=1000, stop_words='english')),  # Ajustar palabras clave representativas
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))
])

# Validación cruzada
scores = cross_val_score(pipeline, X, y, cv=5, scoring='accuracy')
print("Cross-validation accuracy scores:", scores)
print("Mean cross-validation accuracy:", scores.mean())

# Entrenar el modelo
pipeline.fit(X, y)

# Predecir géneros en el conjunto desconocido
unknown_genres_df['Predicted_Genre'] = pipeline.predict(unknown_genres_df['text_features'])

# Unir y guardar el resultado
music_df.loc[music_df['Genre'] == 'Unknown', 'Genre'] = unknown_genres_df['Predicted_Genre']
music_df.to_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data_with_predicted_genres.csv', index=False)

# Mostrar la distribución de géneros después de la predicción
print("\nDistribución de géneros después de la predicción:")
print(music_df['Genre'].value_counts())

<ipython-input-56-577bf73a8c47>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  known_genres_df['text_features'] = (known_genres_df['Artist'] + ' ' + known_genres_df['Album'] + ' ' + known_genres_df['Track']).fillna('')
<ipython-input-56-577bf73a8c47>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unknown_genres_df['text_features'] = (unknown_genres_df['Artist'] + ' ' + unknown_genres_df['Album'] + ' ' + unknown_genres_df['Track']).fillna('')

Cross-validation accuracy scores: [0.99919614 0.99946409 1.         1.         0.99973198]
Mean cross-validation accuracy: 0.9996784422280461

<ipython-input-56-577bf73a8c47>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unknown_genres_df['Predicted_Genre'] = pipeline.predict(unknown_genres_df['text_features'])

Distribución de géneros después de la predicción:
Genre
Rock                 129961
Pop                   11041
Alternative/Indie      9633
Electronic             9113
Hip-Hop/Rap            2281
Country/Folk            972
Blues/Jazz              709
Musical                 586
Metal                   559
Soundtrack              517
Classical               473
Experimental            308
Name: count, dtype: int64

In [ ]:
# Muestra de registros originalmente desconocidos con el género predicho
import pandas as pd

# Seleccionar una muestra aleatoria de registros con género predicho
predicted_sample = unknown_genres_df[['Artist', 'Album', 'Track', 'Predicted_Genre']].sample(10, random_state=1)

# Mostrar la muestra para ver los resultados
print("Muestra de registros con géneros predichos:")
print(predicted_sample)

Muestra de registros con géneros predichos:
                                       Artist  \
143172                       Cabaret Voltaire
124249                                  Queen
106303  Little Baby Bum Nursery Rhyme Friends
132975                            Still Woozy
102912                      Charlie Brown Jr.
30979                          Crate Classics
71525        Ike Turner & The Kings Of Rhythm
41723                                  Tennis
146298                                 TyLuv.
155574                      Mary Lou Williams

                                       Album                          Track  \
143172                                  2x45                         Yashar
124249     News of the World (2011 Remaster)  We Will Rock You - Remastered
106303  50 Littlebabybum Nursery Rhyme Hits!    Bear Went Over the Mountain
132975                                Window                         Window
102912                    Acústico (Ao Vivo)                 Hoje - Ao Vivo
30979                Hospitality House Party                   Jumpon Sound
71525                     A Black Man's Soul                  Getting Nasty
41723                                Swimmer                 How to Forgive
146298                            River Glow              Sliver of Morning
155574                          Free Spirits                       Dat Dere

       Predicted_Genre
143172            Rock
124249            Rock
106303            Rock
132975            Rock
102912            Rock
30979             Rock
71525             Rock
41723             Rock
146298            Rock
155574            Rock

In [ ]:
# Contar las muestras por género en el conjunto de datos de entrenamiento
known_genres_distribution = known_genres_df['Genre'].value_counts()
print("Distribución de géneros en el conjunto de datos de entrenamiento:")
print(known_genres_distribution)

# Si observamos que algunos géneros están subrepresentados, podríamos tomar muestras adicionales
# Para ello, asegurémonos de tener un número similar de muestras en cada género.
# Supongamos que queremos al menos 500 ejemplos por género
min_samples = 500
for genre, count in known_genres_distribution.items():
    if count < min_samples:
        # Aumentar muestras en los géneros menos representados
        additional_samples = known_genres_df[known_genres_df['Genre'] == genre]
        additional_samples = additional_samples.sample(min_samples - count, replace=True)
        known_genres_df = pd.concat([known_genres_df, additional_samples])

# Verificar la nueva distribución
new_known_genres_distribution = known_genres_df['Genre'].value_counts()
print("Nueva distribución de géneros en el conjunto de datos de entrenamiento:")
print(new_known_genres_distribution)

Distribución de géneros en el conjunto de datos de entrenamiento:
Genre
Electronic           3788
Pop                  3613
Rock                 3440
Alternative/Indie    3085
Hip-Hop/Rap          2064
Country/Folk          792
Metal                 533
Blues/Jazz            316
Classical             295
Experimental          266
Musical               250
Soundtrack            217
Name: count, dtype: int64
Nueva distribución de géneros en el conjunto de datos de entrenamiento:
Genre
Electronic           3788
Pop                  3613
Rock                 3440
Alternative/Indie    3085
Hip-Hop/Rap          2064
Country/Folk          792
Metal                 533
Classical             500
Blues/Jazz            500
Musical               500
Soundtrack            500
Experimental          500
Name: count, dtype: int64

In [ ]:
# Balancear las clases seleccionando el mismo número de muestras por género
min_samples = 500  # Definido como mínimo de muestras para cada género
balanced_known_genres_df = known_genres_df.groupby('Genre').apply(lambda x: x.sample(min_samples)).reset_index(drop=True)

# Verificar la distribución después del balanceo
balanced_distribution = balanced_known_genres_df['Genre'].value_counts()
print("Distribución después del balanceo:")
print(balanced_distribution)

Distribución después del balanceo:
Genre
Alternative/Indie    500
Blues/Jazz           500
Classical            500
Country/Folk         500
Electronic           500
Experimental         500
Hip-Hop/Rap          500
Metal                500
Musical              500
Pop                  500
Rock                 500
Soundtrack           500
Name: count, dtype: int64

<ipython-input-59-97b6c5f3c644>:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_known_genres_df = known_genres_df.groupby('Genre').apply(lambda x: x.sample(min_samples)).reset_index(drop=True)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

# Crear el pipeline de entrenamiento
pipeline_balanced = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))
])

# Entrenar el modelo con el conjunto de datos balanceado
X_balanced = balanced_known_genres_df['text_features']
y_balanced = balanced_known_genres_df['Genre']
pipeline_balanced.fit(X_balanced, y_balanced)

# Evaluar el modelo con validación cruzada
cross_val_scores_balanced = cross_val_score(pipeline_balanced, X_balanced, y_balanced, cv=5)
print("Puntuaciones de validación cruzada:", cross_val_scores_balanced)
print("Precisión media de validación cruzada:", cross_val_scores_balanced.mean())

Puntuaciones de validación cruzada: [0.9975     1.         1.         1.         0.99916667]
Precisión media de validación cruzada: 0.9993333333333334

In [ ]:
# Comprobar las longitudes
num_unknown_genres = len(music_df[music_df['Genre'] == 'Unknown'])
num_predictions = len(unknown_genres_df['Predicted_Genre'])

print(f"Filas con género 'Unknown' en music_df: {num_unknown_genres}")
print(f"Número de predicciones generadas: {num_predictions}")

# Verificar si las longitudes coinciden
if num_unknown_genres == num_predictions:
    # Asignar los géneros predichos
    music_df.loc[music_df['Genre'] == 'Unknown', 'Genre'] = unknown_genres_df['Predicted_Genre'].values
else:
    print("Las longitudes no coinciden. Asegúrate de que los conjuntos de datos están alineados correctamente.")

Filas con género 'Unknown' en music_df: 0
Número de predicciones generadas: 147494
Las longitudes no coinciden. Asegúrate de que los conjuntos de datos están alineados correctamente.

In [ ]:
# Revisar algunos registros de music_df para verificar si quedan géneros 'Unknown'
print("Muestra de los primeros registros en music_df:")
print(music_df.head())

# Revisar la distribución final de géneros en music_df
genre_distribution = music_df['Genre'].value_counts()
print("\nDistribución final de géneros en music_df:")
print(genre_distribution)

Muestra de los primeros registros en music_df:
   Unnamed: 0 Username           Artist                          Track  \
0           0  Babs_05  Isobel Campbell     The Circus Is Leaving Town
1           1  Babs_05  Isobel Campbell                   Dusty Wreath
2           2  Babs_05  Isobel Campbell     Honey Child What Can I Do?
3           3  Babs_05  Isobel Campbell  It's Hard To Kill A Bad Thing
4           4  Babs_05  Isobel Campbell                Saturday's Gone

                       Album         Date    Time              Genre
0  Ballad of the Broken Seas  31 Jan 2021   23:36  Alternative/Indie
1  Ballad of the Broken Seas  31 Jan 2021   23:32  Alternative/Indie
2  Ballad of the Broken Seas  31 Jan 2021   23:28  Alternative/Indie
3  Ballad of the Broken Seas  31 Jan 2021   23:25  Alternative/Indie
4  Ballad of the Broken Seas  31 Jan 2021   23:21  Alternative/Indie

Distribución final de géneros en music_df:
Genre
Rock                 129961
Pop                   11041
Alternative/Indie      9633
Electronic             9113
Hip-Hop/Rap            2281
Country/Folk            972
Blues/Jazz              709
Musical                 586
Metal                   559
Soundtrack              517
Classical               473
Experimental            308
Name: count, dtype: int64

In [ ]:
music_df.to_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data_with_genres_completed.csv', index=False)

In [ ]:
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/Last.fm_data_with_genres_completed.csv')

In [ ]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166153 entries, 0 to 166152
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  166153 non-null  int64
 1   Username    166153 non-null  object
 2   Artist      166153 non-null  object
 3   Track       166153 non-null  object
 4   Album       166153 non-null  object
 5   Date        166153 non-null  object
 6   Time        166153 non-null  object
 7   Genre       166153 non-null  object
dtypes: int64(1), object(7)
memory usage: 10.1+ MB

In [ ]:
music_df.head()

,Unnamed: 0,Username,Artist,Track,Album,Date,Time,Genre
0,0,Babs_05,Isobel Campbell,The Circus Is Leaving Town,Ballad of the Broken Seas,31 Jan 2021,23:36,Alternative/Indie
1,1,Babs_05,Isobel Campbell,Dusty Wreath,Ballad of the Broken Seas,31 Jan 2021,23:32,Alternative/Indie
2,2,Babs_05,Isobel Campbell,Honey Child What Can I Do?,Ballad of the Broken Seas,31 Jan 2021,23:28,Alternative/Indie
3,3,Babs_05,Isobel Campbell,It's Hard To Kill A Bad Thing,Ballad of the Broken Seas,31 Jan 2021,23:25,Alternative/Indie
4,4,Babs_05,Isobel Campbell,Saturday's Gone,Ballad of the Broken Seas,31 Jan 2021,23:21,Alternative/Indie

In [ ]:
music_df.Genre.value_counts()

Genre
Rock                 129961
Pop                   11041
Alternative/Indie      9633
Electronic             9113
Hip-Hop/Rap            2281
Country/Folk            972
Blues/Jazz              709
Musical                 586
Metal                   559
Soundtrack              517
Classical               473
Experimental            308
Name: count, dtype: int64

In [ ]:
# Definir el número de muestras deseado para el género 'Rock' para equilibrar con otros géneros
target_sample_size = 20000  # Ajusta este número según el balance deseado

# Crear una muestra del género 'Rock' para reducir su tamaño
rock_sample = music_df[music_df['Genre'] == 'Rock'].sample(target_sample_size, random_state=42)

# Filtrar el dataset para excluir el exceso de 'Rock' y luego unirlo con la muestra
balanced_music_df = pd.concat([music_df[music_df['Genre'] != 'Rock'], rock_sample])

# Verificar la nueva distribución
balanced_distribution = balanced_music_df['Genre'].value_counts()
print("Distribución de géneros después de reducir 'Rock':")
print(balanced_distribution)

Distribución de géneros después de reducir 'Rock':
Genre
Rock                 20000
Pop                  11041
Alternative/Indie     9633
Electronic            9113
Hip-Hop/Rap           2281
Country/Folk           972
Blues/Jazz             709
Musical                586
Metal                  559
Soundtrack             517
Classical              473
Experimental           308
Name: count, dtype: int64

In [ ]:
# Guardar el dataset equilibrado
music_df.to_csv('/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv', index=False)

In [ ]:
music_df.Genre.value_counts()

Genre
Rock                 129961
Pop                   11041
Alternative/Indie      9633
Electronic             9113
Hip-Hop/Rap            2281
Country/Folk            972
Blues/Jazz              709
Musical                 586
Metal                   559
Soundtrack              517
Classical               473
Experimental            308
Name: count, dtype: int64

Después de realizar la clasificación el dataset queda listo pero se tienen demasiados registros de rock, lo q podría llegar a sesgar el modelo de manera que se decide tomar una muestra para balancear los datos

In [ ]:
# Reducir el número de registros en el género 'Rock' y equilibrar la distribución
target_sample_size = 20000  # Ajusta el número según el balance deseado
rock_sample = music_df[music_df['Genre'] == 'Rock'].sample(target_sample_size, random_state=42)
balanced_music_df = pd.concat([music_df[music_df['Genre'] != 'Rock'], rock_sample])

# Verificar la nueva distribución antes de guardar
print("Distribución de géneros después de reducir 'Rock':")
print(balanced_music_df['Genre'].value_counts())

# Guardar el dataset balanceado
output_path = '/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv'
balanced_music_df.to_csv(output_path, index=False)

print(f"Dataset guardado correctamente en {output_path}")

Distribución de géneros después de reducir 'Rock':
Genre
Rock                 20000
Pop                  11041
Alternative/Indie     9633
Electronic            9113
Hip-Hop/Rap           2281
Country/Folk           972
Blues/Jazz             709
Musical                586
Metal                  559
Soundtrack             517
Classical              473
Experimental           308
Name: count, dtype: int64
Dataset guardado correctamente en /content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv

In [ ]:
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv')

In [ ]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56192 entries, 0 to 56191
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  56192 non-null  int64
 1   Username    56192 non-null  object
 2   Artist      56192 non-null  object
 3   Track       56192 non-null  object
 4   Album       56192 non-null  object
 5   Date        56192 non-null  object
 6   Time        56192 non-null  object
 7   Genre       56192 non-null  object
dtypes: int64(1), object(7)
memory usage: 3.4+ MB

In [ ]:
music_df.Genre.value_counts()

Genre
Rock                 20000
Pop                  11041
Alternative/Indie     9633
Electronic            9113
Hip-Hop/Rap           2281
Country/Folk           972
Blues/Jazz             709
Musical                586
Metal                  559
Soundtrack             517
Classical              473
Experimental           308
Name: count, dtype: int64

In [ ]:
music_df.Genre.unique()

array(['Alternative/Indie', 'Electronic', 'Pop', 'Hip-Hop/Rap',
       'Classical', 'Soundtrack', 'Blues/Jazz', 'Musical', 'Experimental',
       'Metal', 'Country/Folk', 'Rock'], dtype=object)

In [ ]:
music_df.head()

,Unnamed: 0,Username,Artist,Track,Album,Date,Time,Genre
0,0,Babs_05,Isobel Campbell,The Circus Is Leaving Town,Ballad of the Broken Seas,31 Jan 2021,23:36,Alternative/Indie
1,1,Babs_05,Isobel Campbell,Dusty Wreath,Ballad of the Broken Seas,31 Jan 2021,23:32,Alternative/Indie
2,2,Babs_05,Isobel Campbell,Honey Child What Can I Do?,Ballad of the Broken Seas,31 Jan 2021,23:28,Alternative/Indie
3,3,Babs_05,Isobel Campbell,It's Hard To Kill A Bad Thing,Ballad of the Broken Seas,31 Jan 2021,23:25,Alternative/Indie
4,4,Babs_05,Isobel Campbell,Saturday's Gone,Ballad of the Broken Seas,31 Jan 2021,23:21,Alternative/Indie

Ahora se realizarán verificaciones para determinar si la clasificación de artista y género si es coherente

In [ ]:
import pandas as pd

# Cargar el dataset equilibrado
balanced_music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv')

# Seleccionar registros aleatorios para verificar
sample_size = 10  # Puedes ajustar el número de muestras que deseas revisar
sample_records = balanced_music_df.sample(sample_size, random_state=42)

# Mostrar los registros seleccionados
print("Muestra de registros para verificar consistencia:")
print(sample_records[['Artist', 'Album', 'Track', 'Genre']])

# Verificar la distribución general para asegurarse de que el balance sigue siendo adecuado
print("\nDistribución de géneros en el dataset balanceado:")
print(balanced_music_df['Genre'].value_counts())

Muestra de registros para verificar consistencia:
                 Artist                                              Album  \
18674              ABBA                              Live at Wembley Arena
43473         Chris Rea  Dancing with Strangers (Deluxe Edition, 2019 R...
19242             Bicep                                              Isles
27582         Mushkilla                                           RMX Dubs
5246   Boards of Canada                             The Campfire Headphase
11505      Eddie Vedder                Live from Nowhere Near You, Vol. II
23927        The Weeknd                          Beauty Behind the Madness
49714              Goat                                            Requiem
53155       Limp Bizkit  Chocolate Starfish and the Hot Dog Flavored Water
3758             *shels                       Plains of the Purple Buffalo

                                            Track              Genre
18674               The Way Old Friends Do - LIVE                Pop
43473  Driving Home for Christmas - 2019 Remaster               Rock
19242                                         Fir         Electronic
27582                    Big Smoke - Lavonz Remix         Electronic
5246                          A Moment of Clarity         Electronic
11505                              Mercy Mercy Me  Alternative/Indie
23927                           Tell Your Friends                Pop
49714                                    Goatfuzz               Rock
53155                          Take a Look Around               Rock
3758                      Crown of Eagle Feathers  Alternative/Indie

Distribución de géneros en el dataset balanceado:
Genre
Rock                 20000
Pop                  11041
Alternative/Indie     9633
Electronic            9113
Hip-Hop/Rap           2281
Country/Folk           972
Blues/Jazz             709
Musical                586
Metal                  559
Soundtrack             517
Classical              473
Experimental           308
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Cargar el archivo de música balanceado
balanced_music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv')

# Seleccionar una muestra aleatoria de registros para revisar
sample_size = 10  # Puedes ajustar el tamaño de la muestra
sample_df = balanced_music_df.sample(sample_size, random_state=42)

# Mostrar la muestra aleatoria de registros
print("Muestra de registros para verificar coherencia:")
print(sample_df[['Artist', 'Album', 'Track', 'Genre']])

Muestra de registros para verificar coherencia:
                 Artist                                              Album  \
18674              ABBA                              Live at Wembley Arena
43473         Chris Rea  Dancing with Strangers (Deluxe Edition, 2019 R...
19242             Bicep                                              Isles
27582         Mushkilla                                           RMX Dubs
5246   Boards of Canada                             The Campfire Headphase
11505      Eddie Vedder                Live from Nowhere Near You, Vol. II
23927        The Weeknd                          Beauty Behind the Madness
49714              Goat                                            Requiem
53155       Limp Bizkit  Chocolate Starfish and the Hot Dog Flavored Water
3758             *shels                       Plains of the Purple Buffalo

                                            Track              Genre
18674               The Way Old Friends Do - LIVE                Pop
43473  Driving Home for Christmas - 2019 Remaster               Rock
19242                                         Fir         Electronic
27582                    Big Smoke - Lavonz Remix         Electronic
5246                          A Moment of Clarity         Electronic
11505                              Mercy Mercy Me  Alternative/Indie
23927                           Tell Your Friends                Pop
49714                                    Goatfuzz               Rock
53155                          Take a Look Around               Rock
3758                      Crown of Eagle Feathers  Alternative/Indie

Ahora vamos con el data set de Netflix

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [ ]:
import pandas as pd

# Cargar el dataset de Netflix para exploración
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles.csv')

# Explorar la estructura y el contenido inicial del dataset de Netflix
netflix_info = netflix_df.info()
netflix_head = netflix_df.head()
unique_columns = netflix_df.nunique()  # Verificar valores únicos en cada columna

netflix_info, netflix_head, unique_columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

(None,
   show_id     type  title           director  \
 0      s1  TV Show     3%                NaN
 1      s2    Movie   7:19  Jorge Michel Grau
 2      s3    Movie  23:59       Gilbert Chan
 3      s4    Movie      9        Shane Acker
 4      s5    Movie     21     Robert Luketic

                                                 cast        country  \
 0  João Miguel, Bianca Comparato, Michel Gomes, R...         Brazil
 1  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
 2  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
 3  Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
 4  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States

           date_added  release_year rating   duration  \
 0    August 14, 2020          2020  TV-MA  4 Seasons
 1  December 23, 2016          2016  TV-MA     93 min
 2  December 20, 2018          2011      R     78 min
 3  November 16, 2017          2009  PG-13     80 min
 4    January 1, 2020          2008  PG-13    123 min

                                            listed_in  \
 0  International TV Shows, TV Dramas, TV Sci-Fi &...
 1                       Dramas, International Movies
 2                Horror Movies, International Movies
 3  Action & Adventure, Independent Movies, Sci-Fi...
 4                                             Dramas

                                          description
 0  In a future where the elite inhabit an island ...
 1  After a devastating earthquake hits Mexico Cit...
 2  When an army recruit is found dead, his fellow...
 3  In a postapocalyptic world, rag-doll robots hi...
 4  A brilliant group of students become card-coun...  ,
 show_id         7787
 type               2
 title           7787
 director        4049
 cast            6831
 country          681
 date_added      1565
 release_year      73
 rating            14
 duration         216
 listed_in        492
 description     7769
 dtype: int64)

In [ ]:
df.type.unique()

array(['TV Show', 'Movie'], dtype=object)

In [ ]:
df.cast.unique()

array(['João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi',
       'Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato',
       'Tedd Chan, Stella Chung, Henley Hii, Lawrence Koh, Tommy Kuan, Josh Lai, Mark Lee, Susan Leong, Benjamin Lim',
       ...,
       'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy',
       'Nasty C', 'Adriano Zumbo, Rachel Khoo'], dtype=object)

In [ ]:
df.rating.unique()

array(['TV-MA', 'R', 'PG-13', 'TV-14', 'TV-PG', 'NR', 'TV-G', 'TV-Y', nan,
       'TV-Y7', 'PG', 'G', 'NC-17', 'TV-Y7-FV', 'UR'], dtype=object)

In [ ]:
df.listed_in.unique()

array(['International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies',
       'Horror Movies, International Movies',
       'Action & Adventure, Independent Movies, Sci-Fi & Fantasy',
       'Dramas', 'International TV Shows, TV Dramas, TV Mysteries',
       'Horror Movies, International Movies, Thrillers',
       'Dramas, Thrillers',
       'Crime TV Shows, International TV Shows, TV Dramas',
       'Crime TV Shows, Docuseries, International TV Shows',
       'Documentaries, International Movies, Sports Movies',
       'Independent Movies, Sci-Fi & Fantasy, Thrillers',
       'Dramas, International Movies, Thrillers',
       'International TV Shows, TV Dramas',
       'Comedies, Dramas, Independent Movies', 'Sports Movies',
       'Dramas, Independent Movies, International Movies',
       'Action & Adventure, Dramas, International Movies',
       'Anime Series, International TV Shows', 'Documentaries',
       'Reality TV', 'Documentaries, International Movies', 'TV Comedies',
       'Dramas, International Movies, Romantic Movies', 'Comedies',
       'Comedies, Romantic Movies', 'Documentaries, Sports Movies',
       'Comedies, Dramas, International Movies',
       'International TV Shows, Romantic TV Shows, TV Comedies',
       'Comedies, International Movies',
       'Action & Adventure, Sci-Fi & Fantasy', 'Dramas, Romantic Movies',
       'Dramas, Romantic Movies, Sports Movies',
       'Comedies, International Movies, Romantic Movies',
       'Action & Adventure',
       'International TV Shows, Romantic TV Shows, TV Dramas',
       'Docuseries, Science & Nature TV',
       'Dramas, International Movies, Sports Movies', 'Movies',
       'British TV Shows, International TV Shows, Reality TV',
       'Dramas, Independent Movies, Sports Movies',
       'International TV Shows, Korean TV Shows, Romantic TV Shows',
       'Horror Movies, Independent Movies, Thrillers',
       'Crime TV Shows, TV Dramas, TV Mysteries',
       'Crime TV Shows, Docuseries', 'Horror Movies, Thrillers',
       'Action & Adventure, International Movies',
       'Horror Movies, Independent Movies',
       'Documentaries, Music & Musicals',
       'International Movies, Music & Musicals', 'Sci-Fi & Fantasy',
       'Dramas, Independent Movies', 'British TV Shows, Reality TV',
       'Action & Adventure, Comedies, International Movies',
       'Comedies, Dramas', 'Dramas, LGBTQ Movies',
       'Documentaries, Faith & Spirituality',
       'Action & Adventure, Comedies',
       "Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy",
       'International Movies, Thrillers', "Kids' TV",
       'International TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies', 'Comedies, LGBTQ Movies',
       'Comedies, Dramas, Romantic Movies', 'Action & Adventure, Dramas',
       'Dramas, Independent Movies, Romantic Movies',
       'Comedies, Independent Movies, Thrillers', 'TV Shows',
       'Docuseries', 'Comedies, International Movies, Music & Musicals',
       'Docuseries, International TV Shows, Science & Nature TV',
       'British TV Shows, Docuseries, Science & Nature TV',
       'Children & Family Movies, Dramas, Sports Movies',
       'Children & Family Movies', 'Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Comedies, TV Dramas',
       'Action & Adventure, Classic Movies, Dramas',
       'Children & Family Movies, Dramas',
       'Action & Adventure, International Movies, Romantic Movies',
       'Children & Family Movies, Dramas, Romantic Movies',
       'Children & Family Movies, Comedies, Music & Musicals',
       'Classic Movies, Cult Movies, Dramas',
       'Action & Adventure, International Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies', 'Comedies, Horror Movies',
       'Children & Family Movies, Comedies, Romantic Movies',
       'International TV Shows, TV Dramas, TV Horror', 'Thrillers',
       'Stand-Up Comedy & Talk Shows, TV Comedies',
       'International TV Shows, Romantic TV Shows, Teen TV Shows',
       'Crime TV Shows, International TV Shows, Korean TV Shows',
       'Comedies, International Movies, Sports Movies',
       'Dramas, LGBTQ Movies, Romantic Movies', 'Comedies, Cult Movies',
       'Dramas, Independent Movies, LGBTQ Movies',
       'International TV Shows, Reality TV', 'Stand-Up Comedy',
       'Documentaries, LGBTQ Movies',
       "Kids' TV, TV Action & Adventure, TV Comedies",
       'Anime Features, International Movies',
       'Music & Musicals, Romantic Movies', 'Comedies, Music & Musicals',
       'International TV Shows, TV Comedies',
       'International Movies, Romantic Movies',
       'Anime Features, Children & Family Movies, International Movies',
       'British TV Shows, TV Comedies, TV Dramas', 'TV Dramas',
       'Horror Movies',
       'Action & Adventure, Children & Family Movies, Independent Movies',
       'Dramas, International Movies, Music & Musicals',
       'Comedies, International Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, Stand-Up Comedy & Talk Shows',
       'Docuseries, Science & Nature TV, TV Comedies',
       'Dramas, Sports Movies',
       'Dramas, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, International Movies',
       'Action & Adventure, Documentaries, International Movies',
       'Comedies, International Movies, Thrillers',
       'Action & Adventure, Dramas, Romantic Movies',
       'Horror Movies, Independent Movies, International Movies',
       'Dramas, Independent Movies, Sci-Fi & Fantasy',
       'International Movies, Sci-Fi & Fantasy',
       'Docuseries, Reality TV, Science & Nature TV',
       'British TV Shows, Docuseries, International TV Shows',
       'Docuseries, International TV Shows',
       'British TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Horror Movies',
       'British TV Shows, Reality TV, Romantic TV Shows',
       'Crime TV Shows, International TV Shows, TV Action & Adventure',
       'International TV Shows, Reality TV, Romantic TV Shows',
       'International Movies, Music & Musicals, Romantic Movies',
       'TV Comedies, TV Dramas',
       'Anime Series, Crime TV Shows, International TV Shows',
       "Kids' TV, TV Comedies, TV Dramas",
       'Action & Adventure, Comedies, Dramas',
       'Documentaries, International Movies, Music & Musicals',
       "Kids' TV, TV Comedies",
       'Classic Movies, Dramas, International Movies',
       'Comedies, Independent Movies, International Movies',
       'Classic Movies, Comedies, Dramas',
       'International TV Shows, TV Action & Adventure, TV Mysteries',
       'Comedies, International Movies, LGBTQ Movies',
       'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
       'TV Dramas, Teen TV Shows',
       'Children & Family Movies, Independent Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Comedies',
       'Crime TV Shows, TV Action & Adventure, TV Dramas',
       'Action & Adventure, Anime Features, International Movies',
       'Action & Adventure, Classic Movies, Comedies',
       'Crime TV Shows, TV Dramas',
       'TV Horror, TV Mysteries, TV Thrillers', 'TV Dramas, TV Thrillers',
       'Comedies, Cult Movies, Dramas',
       'Crime TV Shows, TV Comedies, Teen TV Shows',
       'Dramas, Faith & Spirituality', 'Comedies, Dramas, LGBTQ Movies',
       'Action & Adventure, Comedies, Cult Movies',
       'International TV Shows, TV Action & Adventure, TV Comedies',
       'Dramas, Independent Movies, Music & Musicals',
       'International TV Shows, TV Horror, TV Thrillers',
       'International TV Shows, TV Horror, TV Mysteries',
       'International TV Shows, TV Dramas, Teen TV Shows',
       'Anime Series, International TV Shows, Teen TV Shows',
       'Dramas, Sci-Fi & Fantasy, Thrillers',
       'TV Action & Adventure, TV Dramas, TV Mysteries',
       'Crime TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Comedies, Sci-Fi & Fantasy',
       "Anime Series, Kids' TV",
       'Crime TV Shows, International TV Shows, Spanish-Language TV Shows',
       'Horror Movies, Sci-Fi & Fantasy, Thrillers',
       'International TV Shows, Korean TV Shows, TV Dramas',
       'Stand-Up Comedy & Talk Shows',
       'International Movies, Sci-Fi & Fantasy, Thrillers',
       'Crime TV Shows, TV Action & Adventure',
       'International TV Shows, Korean TV Shows, TV Action & Adventure',
       'TV Action & Adventure, TV Comedies, TV Horror',
       'International TV Shows, Romantic TV Shows',
       "Crime TV Shows, Kids' TV, TV Comedies",
       'TV Comedies, TV Dramas, Teen TV Shows',
       'Docuseries, International TV Shows, Reality TV',
       "Classic & Cult TV, Kids' TV, TV Action & Adventure",
       'Horror Movies, Sci-Fi & Fantasy',
       'Romantic TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies, Sci-Fi & Fantasy',
       'Children & Family Movies, Sports Movies',
       'Dramas, Independent Movies, Thrillers',
       'Independent Movies, International Movies, Thrillers',
       'British TV Shows, TV Comedies',
       'International TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Comedies, Independent Movies',
       'International TV Shows, TV Action & Adventure, TV Dramas',
       'Children & Family Movies, Music & Musicals', 'Music & Musicals',
       'Action & Adventure, International Movies, Music & Musicals',
       'Comedies, Sports Movies', 'Classic Movies, Thrillers',
       'Docuseries, Reality TV', 'Crime TV Shows, TV Dramas, TV Horror',
       'Crime TV Shows, TV Comedies, TV Dramas',
       'British TV Shows, Docuseries, Reality TV',
       'Reality TV, Science & Nature TV, TV Action & Adventure',
       'Children & Family Movies, Documentaries, International Movies',
       'Crime TV Shows, Romantic TV Shows, TV Dramas',
       'British TV Shows, Docuseries',
       'Documentaries, LGBTQ Movies, Music & Musicals',
       'Romantic TV Shows, TV Dramas', 'Independent Movies, Thrillers',
       'International TV Shows, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Documentaries, Sports Movies',
       'Stand-Up Comedy & Talk Shows, TV Mysteries, TV Sci-Fi & Fantasy',
       'International TV Shows, Reality TV, TV Comedies',
       'Dramas, International Movies, LGBTQ Movies',
       'Action & Adventure, Dramas, Independent Movies',
       'British TV Shows, International TV Shows, TV Dramas',
       'TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy',
       'TV Action & Adventure, TV Dramas, TV Horror',
       'Action & Adventure, Anime Features, Sci-Fi & Fantasy',
       'Anime Series', 'TV Dramas, TV Mysteries, TV Thrillers',
       'Music & Musicals, Stand-Up Comedy',
       'Docuseries, International TV Shows, Spanish-Language TV Shows',
       'Crime TV Shows, International TV Shows, Reality TV',
       "British TV Shows, Kids' TV",
       'Docuseries, Spanish-Language TV Shows',
       'Crime TV Shows, TV Dramas, TV Thrillers',
       'Documentaries, International Movies, LGBTQ Movies',
       'British TV Shows, Crime TV Shows, International TV Shows',
       'Action & Adventure, Independent Movies',
       'Classic Movies, Dramas, Romantic Movies',
       'Crime TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies, Dramas',
       'Cult Movies, Horror Movies', "Kids' TV, TV Thrillers",
       'Classic Movies, Cult Movies, Horror Movies',
       'Anime Series, Crime TV Shows, TV Thrillers',
       'Anime Series, TV Horror, TV Thrillers', 'Classic Movies, Dramas',
       'British TV Shows, Crime TV Shows, Docuseries',
       'Action & Adventure, International Movies, Thrillers',
       'Anime Series, Teen TV Shows',
       'Children & Family Movies, Dramas, International Movies',
       'Dramas, Faith & Spirituality, International Movies',
       'TV Horror, TV Mysteries, Teen TV Shows',
       'Children & Family Movies, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy', 'Reality TV, Teen TV Shows',
       'Docuseries, Reality TV, Teen TV Shows',
       'Classic & Cult TV, TV Comedies',
       'International TV Shows, Korean TV Shows, Reality TV',
       'International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies',
       'British TV Shows, International TV Shows, Romantic TV Shows',
       'International TV Shows, TV Dramas, TV Thrillers',
       'Anime Features', 'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy',
       'Children & Family Movies, Classic Movies, Comedies',
       'Comedies, Faith & Spirituality, Romantic Movies',
       'Classic Movies, Comedies, International Movies',
       'Action & Adventure, Horror Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers',
       'Comedies, Sci-Fi & Fantasy',
       'Action & Adventure, Cult Movies, Dramas',
       'TV Action & Adventure, TV Dramas', "Kids' TV, Korean TV Shows",
       'Action & Adventure, Independent Movies, International Movies',
       'Dramas, Faith & Spirituality, Independent Movies',
       'Docuseries, TV Comedies',
       'Documentaries, Faith & Spirituality, Music & Musicals',
       'Romantic TV Shows, TV Comedies',
       "Kids' TV, Spanish-Language TV Shows",
       "British TV Shows, Kids' TV, TV Thrillers",
       'Action & Adventure, Romantic Movies',
       'British TV Shows, Classic & Cult TV, TV Comedies',
       'Action & Adventure, Horror Movies, International Movies',
       'Children & Family Movies, Documentaries',
       "British TV Shows, Kids' TV, TV Comedies",
       'Horror Movies, Independent Movies, Sci-Fi & Fantasy',
       'TV Sci-Fi & Fantasy, TV Thrillers',
       'Romantic TV Shows, TV Comedies, TV Dramas',
       'Reality TV, Romantic TV Shows',
       'Classic Movies, Dramas, Independent Movies',
       'Romantic TV Shows, TV Dramas, Teen TV Shows',
       'TV Action & Adventure, TV Sci-Fi & Fantasy',
       'British TV Shows, TV Horror, TV Thrillers',
       'International Movies, Sports Movies', 'International Movies',
       'Anime Series, International TV Shows, TV Horror',
       'International TV Shows',
       'Dramas, Music & Musicals, Sports Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       'Cult Movies, Dramas, International Movies',
       'TV Action & Adventure, TV Comedies, TV Sci-Fi & Fantasy',
       'Reality TV, Science & Nature TV',
       'Action & Adventure, Anime Features, Children & Family Movies',
       "Kids' TV, TV Action & Adventure",
       'Children & Family Movies, Sci-Fi & Fantasy',
       "Crime TV Shows, Kids' TV",
       'International Movies, Music & Musicals, Thrillers',
       'Crime TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       "Classic & Cult TV, Kids' TV, Spanish-Language TV Shows",
       'Romantic TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Cult Movies, International Movies',
       'Crime TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Children & Family Movies, Dramas',
       'Dramas, Romantic Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Mysteries, TV Thrillers',
       'Anime Series, International TV Shows, TV Thrillers',
       'Horror Movies, International Movies, Sci-Fi & Fantasy',
       'Comedies, Cult Movies, International Movies',
       'Comedies, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, Faith & Spirituality',
       'Crime TV Shows, Docuseries, TV Mysteries',
       'Crime TV Shows, Docuseries, Science & Nature TV',
       'British TV Shows, Crime TV Shows, TV Dramas',
       'Classic Movies, Comedies, Cult Movies',
       'International Movies, Romantic Movies, Thrillers',
       'Classic Movies, Dramas, Music & Musicals',
       'Cult Movies, Horror Movies, Thrillers',
       'Anime Features, Romantic Movies',
       'Comedies, Dramas, Music & Musicals',
       'Anime Features, International Movies, Romantic Movies',
       'Documentaries, Faith & Spirituality, International Movies',
       'Action & Adventure, Classic Movies, Sci-Fi & Fantasy',
       'International TV Shows, Stand-Up Comedy & Talk Shows',
       "British TV Shows, Kids' TV, TV Dramas",
       'Classic & Cult TV, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Dramas, Faith & Spirituality',
       'TV Action & Adventure, TV Comedies',
       'Action & Adventure, Anime Features, Horror Movies',
       'Crime TV Shows, International TV Shows, Romantic TV Shows',
       'Classic Movies, Comedies, Music & Musicals',
       'Comedies, Horror Movies, International Movies',
       "Kids' TV, Spanish-Language TV Shows, Teen TV Shows",
       'Independent Movies',
       'Crime TV Shows, International TV Shows, TV Mysteries',
       'Action & Adventure, Thrillers',
       "Kids' TV, TV Dramas, Teen TV Shows",
       'Anime Series, Crime TV Shows', "Kids' TV, TV Dramas",
       'Crime TV Shows, TV Action & Adventure, TV Comedies',
       'TV Comedies, Teen TV Shows',
       'Reality TV, TV Horror, TV Thrillers',
       'Documentaries, Horror Movies',
       'Classic & Cult TV, TV Horror, TV Mysteries',
       'Action & Adventure, Cult Movies, Sci-Fi & Fantasy',
       'Anime Series, International TV Shows, Romantic TV Shows',
       'Action & Adventure, Comedies, Romantic Movies',
       'Comedies, Dramas, Faith & Spirituality',
       'Comedies, Faith & Spirituality, International Movies',
       'Romantic Movies', 'Dramas, Horror Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, TV Comedies',
       'Comedies, Independent Movies, LGBTQ Movies',
       'TV Comedies, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, Music & Musicals',
       'Dramas, Faith & Spirituality, Romantic Movies',
       'International TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Reality TV, TV Comedies',
       "Docuseries, Kids' TV, Science & Nature TV",
       'Action & Adventure, Sci-Fi & Fantasy, Thrillers',
       'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies, Classic Movies',
       'Horror Movies, International Movies, Romantic Movies',
       'TV Action & Adventure', 'TV Comedies, TV Dramas, TV Horror',
       'British TV Shows, International TV Shows, Stand-Up Comedy & Talk Shows',
       'Dramas, Music & Musicals, Sci-Fi & Fantasy',
       'Spanish-Language TV Shows, TV Dramas',
       'Documentaries, Stand-Up Comedy',
       'Classic & Cult TV, TV Action & Adventure, TV Dramas',
       'British TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals',
       'International TV Shows, TV Comedies, TV Sci-Fi & Fantasy',
       'Comedies, Independent Movies, Romantic Movies',
       'Comedies, Cult Movies, Horror Movies',
       'Comedies, Cult Movies, Sports Movies',
       'Classic Movies, Documentaries', 'Sci-Fi & Fantasy, Thrillers',
       'Classic & Cult TV, Crime TV Shows, International TV Shows',
       "Kids' TV, Korean TV Shows, TV Comedies",
       'British TV Shows, Romantic TV Shows, TV Dramas',
       'Action & Adventure, Faith & Spirituality, Sci-Fi & Fantasy',
       'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows',
       'Action & Adventure, Children & Family Movies',
       'Comedies, Horror Movies, Independent Movies',
       'Action & Adventure, Classic Movies, Cult Movies',
       'TV Dramas, TV Horror, TV Mysteries',
       'International Movies, Romantic Movies, Sci-Fi & Fantasy',
       'Anime Series, Romantic TV Shows, Teen TV Shows',
       'TV Action & Adventure, TV Horror, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals, Sci-Fi & Fantasy',

In [ ]:
import pandas as pd

# Cargar el dataset de Netflix
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles.csv')

# Verificar valores nulos en cada columna
null_counts = netflix_df.isnull().sum()
print("Valores nulos por columna:")
print(null_counts)

# Visualizar filas con valores nulos en las columnas principales (ejemplo: director, cast, country, date_added, rating)
columns_with_nulls = ['director', 'cast', 'country', 'date_added', 'rating']
print("\nEjemplos de filas con valores nulos en columnas clave:")
for column in columns_with_nulls:
    print(f"\nFilas con valores nulos en la columna '{column}':")
    print(netflix_df[netflix_df[column].isnull()].head())

Valores nulos por columna:
show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

Ejemplos de filas con valores nulos en columnas clave:

Filas con valores nulos en la columna 'director':
   show_id     type                                title director  \
0       s1  TV Show                                   3%      NaN
11     s12  TV Show                                 1983      NaN
16     s17  TV Show                               Feb-09      NaN
19     s20    Movie                                  '89      NaN
24     s25  TV Show  ​SAINT SEIYA: Knights of the Zodiac      NaN

                                                 cast                country  \
0   João Miguel, Bianca Comparato, Michel Gomes, R...                 Brazil
11  Robert Więckiewicz, Maciej Musiał, Michalina O...  Poland, United States
16  Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...                    NaN
19                 Lee Dixon, Ian Wright, Paul Merson         United Kingdom
24  Bryson Baugus, Emily Neves, Blake Shepard, Pat...                  Japan

           date_added  release_year rating   duration  \
0     August 14, 2020          2020  TV-MA  4 Seasons
11  November 30, 2018          2018  TV-MA   1 Season
16     March 20, 2019          2018  TV-14   1 Season
19       May 16, 2018          2017  TV-PG     87 min
24   January 23, 2020          2020  TV-14  2 Seasons

                                            listed_in  \
0   International TV Shows, TV Dramas, TV Sci-Fi &...
11  Crime TV Shows, International TV Shows, TV Dramas
16                  International TV Shows, TV Dramas
19                                      Sports Movies
24               Anime Series, International TV Shows

                                          description
0   In a future where the elite inhabit an island ...
11  In this dark alt-history thriller, a naïve law...
16  As a psychology professor faces Alzheimer's, h...
19  Mixing old footage with interviews, this is th...
24  Seiya and the Knights of the Zodiac rise again...

Filas con valores nulos en la columna 'cast':
   show_id     type             title                                director  \
12     s13  TV Show              1994                    Diego Enrique Osorno
25     s26    Movie          (T)ERROR  Lyric R. Cabral, David Felix Sutcliffe
26     s27  TV Show          (Un)Well                                     NaN
30     s31    Movie  #cats_the_mewvie                        Michael Margolis
35     s36    Movie         #Rucker50                   Robert McCullough Jr.

   cast        country        date_added  release_year rating  duration  \
12  NaN         Mexico      May 17, 2019          2019  TV-MA  1 Season
25  NaN  United States     June 30, 2016          2015     NR    84 min
26  NaN  United States   August 12, 2020          2020  TV-MA  1 Season
30  NaN         Canada  February 5, 2020          2020  TV-14    90 min
35  NaN  United States  December 1, 2016          2016  TV-PG    56 min

                                            listed_in  \
12  Crime TV Shows, Docuseries, International TV S...
25                                      Documentaries
26                                         Reality TV
30                Documentaries, International Movies
35                       Documentaries, Sports Movies

                                          description
12  Archival video and new interviews examine Mexi...
25  This real-life look at FBI counterterrorism op...
26  This docuseries takes a deep dive into the luc...
30  This pawesome documentary explores how our fel...
35  This documentary celebrates the 50th anniversa...

Filas con valores nulos en la columna 'country':
    show_id     type                                              title  \
16      s17  TV Show                                             Feb-09
38      s39  TV Show                                แผนร้ายนายเจ้าเล่ห์
67      s68    Movie  13TH: A Conversation with Oprah Winfrey & Ava ...
97      s98    Movie                                        3 Deewarein
117    s118    Movie                                     5 Cowok Jagoan

            director                                               cast  \
16               NaN  Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...
38               NaN  Chutavuth Pattarakampol, Sheranut Yusananda, N...
67               NaN                        Oprah Winfrey, Ava DuVernay
97   Nagesh Kukunoor  Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ...
117     Anggy Umbara  Ario Bayu, Arifin Putra, Dwi Sasono, Muhadkly ...

    country         date_added  release_year rating  duration  \
16      NaN     March 20, 2019          2018  TV-14  1 Season
38      NaN     March 30, 2019          2016  TV-14  1 Season
67      NaN   January 26, 2017          2017    NaN    37 min
97      NaN  December 31, 2019          2003  TV-MA   121 min
117     NaN    January 5, 2019          2017  TV-MA   106 min

                                             listed_in  \
16                   International TV Shows, TV Dramas
38   International TV Shows, Romantic TV Shows, TV ...
67                                              Movies
97             Dramas, International Movies, Thrillers
117  Action & Adventure, Comedies, International Mo...

                                           description
16   As a psychology professor faces Alzheimer's, h...
38   When two brothers fall for two sisters, they q...
67   Oprah Winfrey sits down with director Ava DuVe...
97   A reporter interviews three convicts on death ...
117  Yanto asks his friends to help save a girlfrie...

Filas con valores nulos en la columna 'date_added':
     show_id     type                                        title director  \
258     s259  TV Show  A Young Doctor's Notebook and Other Stories      NaN
549     s550  TV Show              Anthony Bourdain: Parts Unknown      NaN
2263   s2264  TV Show                                      Frasier      NaN
2288   s2289  TV Show                                      Friends      NaN
2555   s2556  TV Show                              Gunslinger Girl      NaN

                                                   cast         country  \
258   Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...  United Kingdom
549                                    Anthony Bourdain   United States
2263  Kelsey Grammer, Jane Leeves, David Hyde Pierce...   United States
2288  Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...   United States
2555  Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...           Japan

     date_added  release_year rating    duration  \
258         NaN          2013  TV-MA   2 Seasons
549         NaN          2018  TV-PG   5 Seasons
2263        NaN          2003  TV-PG  11 Seasons
2288        NaN          2003  TV-14  10 Seasons
2555        NaN          2008  TV-14   2 Seasons

                                     listed_in  \
258   British TV Shows, TV Comedies, TV Dramas
549                                 Docuseries
2263            Classic & Cult TV, TV Comedies
2288            Classic & Cult TV, TV Comedies
2555              Anime Series, Crime TV Shows

                                            description
258   Set during the Russian Revolution, this comic ...
549   This CNN original series has chef Anthony Bour...
2263  Frasier Crane is a snooty but lovable Seattle ...
2288  This hit sitcom follows the merry misadventure...
2555  On the surface, the Social Welfare Agency appe...

Filas con valores nulos en la columna 'rating':
     show_id     type                                              title  \
67       s68    Movie  13TH: A Conversation with Oprah Winfrey & Ava ...
2359   s2360  TV Show                  Gargantia on the Verdurous Planet
3660   s3661  TV Show                                       Little Lunch
3736   s3737    Movie                                    Louis C.K. 2017
3737   s3738    Movie                              Louis C.K.: Hilarious

        director                                               cast  \
67           NaN                        Oprah Winfrey, Ava DuVernay
2359         NaN  Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...
3660         NaN  Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...
3736  Louis C.K.                                         Louis C.K.
3737  Louis C.K.                                         Louis C.K.

            country          date_added  release_year rating  duration  \
67              NaN    January 26, 2017          2017    NaN    37 min
2359          Japan    December 1, 2016          2013    NaN  1 Season
3660      Australia    February 1, 2018          2015    NaN  1 Season
3736  United States       April 4, 2017          2017    NaN    74 min
3737  United States  September 16, 2016          2010    NaN    84 min

                                 listed_in  \
67                                  Movies
2359  Anime Series, International TV Shows
3660                 Kids' TV, TV Comedies
3736                                Movies
3737                                Movies

                                            description
67    Oprah Winfrey sits down with director Ava DuVe...
2359  After falling through a wormhole, a space-dwel...
3660  Adopting a child's perspective, this show take...
3736  Louis C.K. muses on religion, eternal love, gi...
3737  Emmy-winning comedy writer Louis C.K. brings h...

In [ ]:
import pandas as pd

# Cargar el archivo
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles.csv')

# 1. Llenar valores nulos en 'director' y 'cast' con 'Desconocido'
netflix_df['director'].fillna('Desconocido', inplace=True)
netflix_df['cast'].fillna('Desconocido', inplace=True)

# 2. Llenar valores nulos en 'country' con 'País Desconocido'
netflix_df['country'].fillna('País Desconocido', inplace=True)

# 3. Eliminar filas con valores nulos en 'date_added' y 'rating'
netflix_df.dropna(subset=['date_added', 'rating'], inplace=True)

# Verificar el resultado después de las modificaciones
print("Valores nulos por columna después de los cambios:")
print(netflix_df.isnull().sum())

# Guardar el dataset modificado
netflix_df.to_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles_cleaned.csv', index=False)

Valores nulos por columna después de los cambios:
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

<ipython-input-92-ccf7fb7f1851>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_df['director'].fillna('Desconocido', inplace=True)
<ipython-input-92-ccf7fb7f1851>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_df['cast'].fillna('Desconocido', inplace=True)
<ipython-input-92-ccf7fb7f1851>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_df['country'].fillna('País Desconocido', inplace=True)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles_cleaned.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7770 entries, 0 to 7769
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7770 non-null   object
 1   type          7770 non-null   object
 2   title         7770 non-null   object
 3   director      7770 non-null   object
 4   cast          7770 non-null   object
 5   country       7770 non-null   object
 6   date_added    7770 non-null   object
 7   release_year  7770 non-null   int64
 8   rating        7770 non-null   object
 9   duration      7770 non-null   object
 10  listed_in     7770 non-null   object
 11  description   7770 non-null   object
dtypes: int64(1), object(11)
memory usage: 728.6+ KB

In [ ]:
df.rating.unique()

array(['TV-MA', 'R', 'PG-13', 'TV-14', 'TV-PG', 'NR', 'TV-G', 'TV-Y',
       'TV-Y7', 'PG', 'G', 'NC-17', 'TV-Y7-FV', 'UR'], dtype=object)

In [ ]:
# Renombrar la columna 'rating' a 'classification_age'
netflix_df.rename(columns={'rating': 'classification_age'}, inplace=True)

# Verificar el cambio
print("Columnas después del renombrado:")
print(netflix_df.columns)

Columnas después del renombrado:
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'classification_age', 'duration', 'listed_in',
       'description'],
      dtype='object')

In [ ]:
df.listed_in.unique()

array(['International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies',
       'Horror Movies, International Movies',
       'Action & Adventure, Independent Movies, Sci-Fi & Fantasy',
       'Dramas', 'International TV Shows, TV Dramas, TV Mysteries',
       'Horror Movies, International Movies, Thrillers',
       'Dramas, Thrillers',
       'Crime TV Shows, International TV Shows, TV Dramas',
       'Crime TV Shows, Docuseries, International TV Shows',
       'Documentaries, International Movies, Sports Movies',
       'Independent Movies, Sci-Fi & Fantasy, Thrillers',
       'Dramas, International Movies, Thrillers',
       'International TV Shows, TV Dramas',
       'Comedies, Dramas, Independent Movies', 'Sports Movies',
       'Dramas, Independent Movies, International Movies',
       'Action & Adventure, Dramas, International Movies',
       'Anime Series, International TV Shows', 'Documentaries',
       'Reality TV', 'Documentaries, International Movies', 'TV Comedies',
       'Dramas, International Movies, Romantic Movies', 'Comedies',
       'Comedies, Romantic Movies', 'Documentaries, Sports Movies',
       'Comedies, Dramas, International Movies',
       'International TV Shows, Romantic TV Shows, TV Comedies',
       'Comedies, International Movies',
       'Action & Adventure, Sci-Fi & Fantasy', 'Dramas, Romantic Movies',
       'Dramas, Romantic Movies, Sports Movies',
       'Comedies, International Movies, Romantic Movies',
       'Action & Adventure',
       'International TV Shows, Romantic TV Shows, TV Dramas',
       'Docuseries, Science & Nature TV',
       'Dramas, International Movies, Sports Movies', 'Movies',
       'British TV Shows, International TV Shows, Reality TV',
       'Dramas, Independent Movies, Sports Movies',
       'International TV Shows, Korean TV Shows, Romantic TV Shows',
       'Horror Movies, Independent Movies, Thrillers',
       'Crime TV Shows, TV Dramas, TV Mysteries',
       'Crime TV Shows, Docuseries', 'Horror Movies, Thrillers',
       'Action & Adventure, International Movies',
       'Horror Movies, Independent Movies',
       'Documentaries, Music & Musicals',
       'International Movies, Music & Musicals', 'Sci-Fi & Fantasy',
       'Dramas, Independent Movies', 'British TV Shows, Reality TV',
       'Action & Adventure, Comedies, International Movies',
       'Comedies, Dramas', 'Dramas, LGBTQ Movies',
       'Documentaries, Faith & Spirituality',
       'Action & Adventure, Comedies',
       "Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy",
       'International Movies, Thrillers', "Kids' TV",
       'International TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies', 'Comedies, LGBTQ Movies',
       'Comedies, Dramas, Romantic Movies', 'Action & Adventure, Dramas',
       'Dramas, Independent Movies, Romantic Movies',
       'Comedies, Independent Movies, Thrillers', 'TV Shows',
       'Docuseries', 'Comedies, International Movies, Music & Musicals',
       'Docuseries, International TV Shows, Science & Nature TV',
       'British TV Shows, Docuseries, Science & Nature TV',
       'Children & Family Movies, Dramas, Sports Movies',
       'Children & Family Movies', 'Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Comedies, TV Dramas',
       'Action & Adventure, Classic Movies, Dramas',
       'Children & Family Movies, Dramas',
       'Action & Adventure, International Movies, Romantic Movies',
       'Children & Family Movies, Dramas, Romantic Movies',
       'Children & Family Movies, Comedies, Music & Musicals',
       'Classic Movies, Cult Movies, Dramas',
       'Action & Adventure, International Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies', 'Comedies, Horror Movies',
       'Children & Family Movies, Comedies, Romantic Movies',
       'International TV Shows, TV Dramas, TV Horror', 'Thrillers',
       'Stand-Up Comedy & Talk Shows, TV Comedies',
       'International TV Shows, Romantic TV Shows, Teen TV Shows',
       'Crime TV Shows, International TV Shows, Korean TV Shows',
       'Comedies, International Movies, Sports Movies',
       'Dramas, LGBTQ Movies, Romantic Movies', 'Comedies, Cult Movies',
       'Dramas, Independent Movies, LGBTQ Movies',
       'International TV Shows, Reality TV', 'Stand-Up Comedy',
       'Documentaries, LGBTQ Movies',
       "Kids' TV, TV Action & Adventure, TV Comedies",
       'Anime Features, International Movies',
       'Music & Musicals, Romantic Movies', 'Comedies, Music & Musicals',
       'International TV Shows, TV Comedies',
       'International Movies, Romantic Movies',
       'Anime Features, Children & Family Movies, International Movies',
       'TV Dramas', 'Horror Movies',
       'Action & Adventure, Children & Family Movies, Independent Movies',
       'Dramas, International Movies, Music & Musicals',
       'Comedies, International Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, Stand-Up Comedy & Talk Shows',
       'Docuseries, Science & Nature TV, TV Comedies',
       'Dramas, Sports Movies',
       'Dramas, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, International Movies',
       'Action & Adventure, Documentaries, International Movies',
       'Comedies, International Movies, Thrillers',
       'Action & Adventure, Dramas, Romantic Movies',
       'Horror Movies, Independent Movies, International Movies',
       'Dramas, Independent Movies, Sci-Fi & Fantasy',
       'International Movies, Sci-Fi & Fantasy',
       'Docuseries, Reality TV, Science & Nature TV',
       'British TV Shows, Docuseries, International TV Shows',
       'Docuseries, International TV Shows',
       'British TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Horror Movies',
       'British TV Shows, Reality TV, Romantic TV Shows',
       'Crime TV Shows, International TV Shows, TV Action & Adventure',
       'International TV Shows, Reality TV, Romantic TV Shows',
       'International Movies, Music & Musicals, Romantic Movies',
       'TV Comedies, TV Dramas',
       'Anime Series, Crime TV Shows, International TV Shows',
       "Kids' TV, TV Comedies, TV Dramas",
       'Action & Adventure, Comedies, Dramas',
       'Documentaries, International Movies, Music & Musicals',
       "Kids' TV, TV Comedies",
       'Classic Movies, Dramas, International Movies',
       'Comedies, Independent Movies, International Movies',
       'Classic Movies, Comedies, Dramas',
       'International TV Shows, TV Action & Adventure, TV Mysteries',
       'Comedies, International Movies, LGBTQ Movies',
       'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
       'TV Dramas, Teen TV Shows',
       'Children & Family Movies, Independent Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Comedies',
       'Crime TV Shows, TV Action & Adventure, TV Dramas',
       'Action & Adventure, Anime Features, International Movies',
       'Action & Adventure, Classic Movies, Comedies',
       'Crime TV Shows, TV Dramas',
       'TV Horror, TV Mysteries, TV Thrillers', 'TV Dramas, TV Thrillers',
       'Comedies, Cult Movies, Dramas',
       'Crime TV Shows, TV Comedies, Teen TV Shows',
       'Dramas, Faith & Spirituality', 'Comedies, Dramas, LGBTQ Movies',
       'Action & Adventure, Comedies, Cult Movies',
       'International TV Shows, TV Action & Adventure, TV Comedies',
       'Dramas, Independent Movies, Music & Musicals',
       'International TV Shows, TV Horror, TV Thrillers',
       'International TV Shows, TV Horror, TV Mysteries',
       'International TV Shows, TV Dramas, Teen TV Shows',
       'Anime Series, International TV Shows, Teen TV Shows',
       'Dramas, Sci-Fi & Fantasy, Thrillers',
       'TV Action & Adventure, TV Dramas, TV Mysteries',
       'Crime TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Comedies, Sci-Fi & Fantasy',
       "Anime Series, Kids' TV",
       'Crime TV Shows, International TV Shows, Spanish-Language TV Shows',
       'Horror Movies, Sci-Fi & Fantasy, Thrillers',
       'International TV Shows, Korean TV Shows, TV Dramas',
       'Stand-Up Comedy & Talk Shows',
       'International Movies, Sci-Fi & Fantasy, Thrillers',
       'Crime TV Shows, TV Action & Adventure',
       'International TV Shows, Korean TV Shows, TV Action & Adventure',
       'TV Action & Adventure, TV Comedies, TV Horror',
       'International TV Shows, Romantic TV Shows',
       "Crime TV Shows, Kids' TV, TV Comedies",
       'TV Comedies, TV Dramas, Teen TV Shows',
       'Docuseries, International TV Shows, Reality TV',
       "Classic & Cult TV, Kids' TV, TV Action & Adventure",
       'Horror Movies, Sci-Fi & Fantasy',
       'Romantic TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies, Sci-Fi & Fantasy',
       'Children & Family Movies, Sports Movies',
       'Dramas, Independent Movies, Thrillers',
       'Independent Movies, International Movies, Thrillers',
       'British TV Shows, TV Comedies',
       'International TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Comedies, Independent Movies',
       'International TV Shows, TV Action & Adventure, TV Dramas',
       'Children & Family Movies, Music & Musicals', 'Music & Musicals',
       'Action & Adventure, International Movies, Music & Musicals',
       'Comedies, Sports Movies', 'Classic Movies, Thrillers',
       'Docuseries, Reality TV', 'Crime TV Shows, TV Dramas, TV Horror',
       'Crime TV Shows, TV Comedies, TV Dramas',
       'British TV Shows, Docuseries, Reality TV',
       'Reality TV, Science & Nature TV, TV Action & Adventure',
       'Children & Family Movies, Documentaries, International Movies',
       'Crime TV Shows, Romantic TV Shows, TV Dramas',
       'British TV Shows, Docuseries',
       'Documentaries, LGBTQ Movies, Music & Musicals',
       'Romantic TV Shows, TV Dramas', 'Independent Movies, Thrillers',
       'International TV Shows, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Documentaries, Sports Movies',
       'Stand-Up Comedy & Talk Shows, TV Mysteries, TV Sci-Fi & Fantasy',
       'International TV Shows, Reality TV, TV Comedies',
       'Dramas, International Movies, LGBTQ Movies',
       'Action & Adventure, Dramas, Independent Movies',
       'British TV Shows, International TV Shows, TV Dramas',
       'TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy',
       'TV Action & Adventure, TV Dramas, TV Horror',
       'Action & Adventure, Anime Features, Sci-Fi & Fantasy',
       'Anime Series', 'TV Dramas, TV Mysteries, TV Thrillers',
       'Music & Musicals, Stand-Up Comedy',
       'Docuseries, International TV Shows, Spanish-Language TV Shows',
       'Crime TV Shows, International TV Shows, Reality TV',
       "British TV Shows, Kids' TV",
       'Docuseries, Spanish-Language TV Shows',
       'Crime TV Shows, TV Dramas, TV Thrillers',
       'Documentaries, International Movies, LGBTQ Movies',
       'British TV Shows, Crime TV Shows, International TV Shows',
       'Action & Adventure, Independent Movies',
       'Classic Movies, Dramas, Romantic Movies',
       'Crime TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies, Dramas',
       'Cult Movies, Horror Movies', "Kids' TV, TV Thrillers",
       'Classic Movies, Cult Movies, Horror Movies',
       'Anime Series, Crime TV Shows, TV Thrillers',
       'Anime Series, TV Horror, TV Thrillers', 'Classic Movies, Dramas',
       'British TV Shows, Crime TV Shows, Docuseries',
       'Action & Adventure, International Movies, Thrillers',
       'Anime Series, Teen TV Shows',
       'Children & Family Movies, Dramas, International Movies',
       'Dramas, Faith & Spirituality, International Movies',
       'TV Horror, TV Mysteries, Teen TV Shows',
       'Children & Family Movies, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy', 'Reality TV, Teen TV Shows',
       'Docuseries, Reality TV, Teen TV Shows',
       'Classic & Cult TV, TV Comedies',
       'International TV Shows, Korean TV Shows, Reality TV',
       'International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies',
       'British TV Shows, International TV Shows, Romantic TV Shows',
       'International TV Shows, TV Dramas, TV Thrillers',
       'Anime Features', 'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy',
       'Children & Family Movies, Classic Movies, Comedies',
       'Comedies, Faith & Spirituality, Romantic Movies',
       'Classic Movies, Comedies, International Movies',
       'Action & Adventure, Horror Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers',
       'Comedies, Sci-Fi & Fantasy',
       'Action & Adventure, Cult Movies, Dramas',
       'TV Action & Adventure, TV Dramas', "Kids' TV, Korean TV Shows",
       'Action & Adventure, Independent Movies, International Movies',
       'Dramas, Faith & Spirituality, Independent Movies',
       'Docuseries, TV Comedies',
       'Documentaries, Faith & Spirituality, Music & Musicals',
       'Romantic TV Shows, TV Comedies',
       "Kids' TV, Spanish-Language TV Shows",
       "British TV Shows, Kids' TV, TV Thrillers",
       'Action & Adventure, Romantic Movies',
       'British TV Shows, Classic & Cult TV, TV Comedies',
       'Action & Adventure, Horror Movies, International Movies',
       'Children & Family Movies, Documentaries',
       "British TV Shows, Kids' TV, TV Comedies",
       'Horror Movies, Independent Movies, Sci-Fi & Fantasy',
       'TV Sci-Fi & Fantasy, TV Thrillers',
       'Romantic TV Shows, TV Comedies, TV Dramas',
       'Reality TV, Romantic TV Shows',
       'Classic Movies, Dramas, Independent Movies',
       'Romantic TV Shows, TV Dramas, Teen TV Shows',
       'TV Action & Adventure, TV Sci-Fi & Fantasy',
       'British TV Shows, TV Horror, TV Thrillers',
       'International Movies, Sports Movies', 'International Movies',
       'Anime Series, International TV Shows, TV Horror',
       'International TV Shows',
       'Dramas, Music & Musicals, Sports Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       'Cult Movies, Dramas, International Movies',
       'TV Action & Adventure, TV Comedies, TV Sci-Fi & Fantasy',
       'Reality TV, Science & Nature TV',
       'Action & Adventure, Anime Features, Children & Family Movies',
       "Kids' TV, TV Action & Adventure",
       'Children & Family Movies, Sci-Fi & Fantasy',
       "Crime TV Shows, Kids' TV",
       'International Movies, Music & Musicals, Thrillers',
       'Crime TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       "Classic & Cult TV, Kids' TV, Spanish-Language TV Shows",
       'Romantic TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Cult Movies, International Movies',
       'Crime TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Children & Family Movies, Dramas',
       'Dramas, Romantic Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Mysteries, TV Thrillers',
       'Anime Series, International TV Shows, TV Thrillers',
       'Horror Movies, International Movies, Sci-Fi & Fantasy',
       'Comedies, Cult Movies, International Movies',
       'Comedies, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, Faith & Spirituality',
       'Crime TV Shows, Docuseries, TV Mysteries',
       'Crime TV Shows, Docuseries, Science & Nature TV',
       'British TV Shows, Crime TV Shows, TV Dramas',
       'Classic Movies, Comedies, Cult Movies',
       'International Movies, Romantic Movies, Thrillers',
       'Classic Movies, Dramas, Music & Musicals',
       'Cult Movies, Horror Movies, Thrillers',
       'Anime Features, Romantic Movies',
       'Comedies, Dramas, Music & Musicals',
       'Anime Features, International Movies, Romantic Movies',
       'Documentaries, Faith & Spirituality, International Movies',
       'Action & Adventure, Classic Movies, Sci-Fi & Fantasy',
       'International TV Shows, Stand-Up Comedy & Talk Shows',
       "British TV Shows, Kids' TV, TV Dramas",
       'Classic & Cult TV, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Dramas, Faith & Spirituality',
       'TV Action & Adventure, TV Comedies',
       'Action & Adventure, Anime Features, Horror Movies',
       'Crime TV Shows, International TV Shows, Romantic TV Shows',
       'Classic Movies, Comedies, Music & Musicals',
       'Comedies, Horror Movies, International Movies',
       "Kids' TV, Spanish-Language TV Shows, Teen TV Shows",
       'Independent Movies',
       'Crime TV Shows, International TV Shows, TV Mysteries',
       'Action & Adventure, Thrillers',
       "Kids' TV, TV Dramas, Teen TV Shows", "Kids' TV, TV Dramas",
       'Crime TV Shows, TV Action & Adventure, TV Comedies',
       'TV Comedies, Teen TV Shows',
       'Reality TV, TV Horror, TV Thrillers',
       'Documentaries, Horror Movies',
       'Classic & Cult TV, TV Horror, TV Mysteries',
       'Action & Adventure, Cult Movies, Sci-Fi & Fantasy',
       'Anime Series, International TV Shows, Romantic TV Shows',
       'Action & Adventure, Comedies, Romantic Movies',
       'Comedies, Dramas, Faith & Spirituality',
       'Comedies, Faith & Spirituality, International Movies',
       'Romantic Movies', 'Dramas, Horror Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, TV Comedies',
       'Comedies, Independent Movies, LGBTQ Movies',
       'TV Comedies, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, Music & Musicals',
       'Dramas, Faith & Spirituality, Romantic Movies',
       'International TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Reality TV, TV Comedies',
       "Docuseries, Kids' TV, Science & Nature TV",
       'Action & Adventure, Sci-Fi & Fantasy, Thrillers',
       'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies, Classic Movies',
       'Horror Movies, International Movies, Romantic Movies',
       'TV Action & Adventure', 'TV Comedies, TV Dramas, TV Horror',
       'British TV Shows, International TV Shows, Stand-Up Comedy & Talk Shows',
       'Dramas, Music & Musicals, Sci-Fi & Fantasy',
       'Spanish-Language TV Shows, TV Dramas',
       'Documentaries, Stand-Up Comedy',
       'Classic & Cult TV, TV Action & Adventure, TV Dramas',
       'British TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals',
       'International TV Shows, TV Comedies, TV Sci-Fi & Fantasy',
       'Comedies, Independent Movies, Romantic Movies',
       'Comedies, Cult Movies, Horror Movies',
       'Comedies, Cult Movies, Sports Movies',
       'Classic Movies, Documentaries', 'Sci-Fi & Fantasy, Thrillers',
       'Classic & Cult TV, Crime TV Shows, International TV Shows',
       "Kids' TV, Korean TV Shows, TV Comedies",
       'British TV Shows, Romantic TV Shows, TV Dramas',
       'Action & Adventure, Faith & Spirituality, Sci-Fi & Fantasy',
       'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows',
       'Action & Adventure, Children & Family Movies',
       'Comedies, Horror Movies, Independent Movies',
       'Action & Adventure, Classic Movies, Cult Movies',
       'TV Dramas, TV Horror, TV Mysteries',
       'International Movies, Romantic Movies, Sci-Fi & Fantasy',
       'Anime Series, Romantic TV Shows, Teen TV Shows',
       'TV Action & Adventure, TV Horror, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals, Sci-Fi & Fantasy',
       'Action & Adventure, Anime Features, Classic Movies',

In [ ]:
import pandas as pd

# Cargar el dataset de Netflix
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles_cleaned.csv')

# Definir el mapeo de palabras clave a los géneros específicos que ya has definido
genre_mapping = {
    'Drama': 'Drama',
    'Comedy': 'Comedy',
    'Horror': 'Horror',
    'Action': 'Action',
    'Adventure': 'Action',  # Combinamos Adventure en Action
    'Fantasy': 'Fantasy',
    'Science Fiction': 'Science Fiction',
    'Sci-Fi': 'Science Fiction',
    'Romance': 'Romance',
    'Thriller': 'Thriller',
    'Mystery': 'Mystery',
    'Crime': 'Crime',
    'Documentary': 'Documentary',
    'Musical': 'Musical',
    'Music': 'Musical',
    'Independent': 'Independent',
    'International': 'International',
    'Family': 'Family',
    'Kids': 'Family',
    'Faith & Spirituality': 'Faith & Spirituality',
    'Stand-Up Comedy': 'Stand-Up Comedy',
    'Classic': 'Classic'
}

# Función para asignar género basado en las palabras clave en 'listed_in'
def map_genre(listed_in):
    for keyword, genre in genre_mapping.items():
        if keyword in listed_in:
            return genre
    return 'Other'  # Para categorías que no coinciden

# Aplicar el mapeo a la columna 'listed_in' para crear una nueva columna 'Genre'
netflix_df['Genre'] = netflix_df['listed_in'].apply(map_genre)

# Verificar la distribución de géneros después del mapeo
genre_distribution = netflix_df['Genre'].value_counts()
print("Distribución de géneros en Netflix después del mapeo:")
print(genre_distribution)

Distribución de géneros en Netflix después del mapeo:
Genre
Drama                   2808
International           1074
Other                   1051
Family                   753
Action                   596
Comedy                   381
Horror                   352
Crime                    223
Musical                  223
Thriller                 152
Fantasy                   66
Independent               59
Classic                   23
Faith & Spirituality       9
Name: count, dtype: int64

In [ ]:
import random

# Mostrar la distribución de géneros después del mapeo
print("Distribución de géneros en Netflix después del mapeo:")
print(genre_distribution)

# Muestra aleatoria de registros para verificar consistencia
def mostrar_muestras_por_genero(df, genero, muestras=5):
    muestras_genero = df[df['Genre'] == genero].sample(min(muestras, len(df[df['Genre'] == genero])), random_state=42)
    print(f"\nMuestras de '{genero}':")
    print(muestras_genero[['title', 'listed_in', 'Genre']])

# Revisar muestras de los géneros principales
generos_principales = genre_distribution.index.tolist()
for genero in generos_principales:
    mostrar_muestras_por_genero(netflix_df, genero, muestras=5)

# Muestra específica de "Other" para revisar si es necesario eliminar o remapear
mostrar_muestras_por_genero(netflix_df, 'Other', muestras=10)

Distribución de géneros en Netflix después del mapeo:
Genre
Drama                   2808
International           1074
Other                   1051
Family                   753
Action                   596
Comedy                   381
Horror                   352
Crime                    223
Musical                  223
Thriller                 152
Fantasy                   66
Independent               59
Classic                   23
Faith & Spirituality       9
Name: count, dtype: int64

Muestras de 'Drama':
                       title  \
4251  Much Ado About Nothing
3218                     Joy
7510     Welcome to New York
1989          Emma' (Mother)
1886                    Dude

                                             listed_in  Genre
4251  Dramas, Independent Movies, International Movies  Drama
3218  Dramas, Independent Movies, International Movies  Drama
7510                        Dramas, Independent Movies  Drama
1989                      Dramas, International Movies  Drama
1886              Comedies, Dramas, Independent Movies  Drama

Muestras de 'International':
Empty DataFrame
Columns: [title, listed_in, Genre]
Index: []

Muestras de 'Other':
                                                  title  \
4641                                           One Take
6448         The House of Flowers Presents: The Funeral
1432  Club Friday To Be Continued - My Beautiful Tomboy
2176                                          Fireworks
6313                       The End of the F***ing World

                                              listed_in  Genre
4641  Documentaries, International Movies, Music & M...  Other
6448                                             Movies  Other
1432  International TV Shows, Romantic TV Shows, TV ...  Other
2176                    Anime Features, Romantic Movies  Other
6313  British TV Shows, International TV Shows, TV C...  Other

Muestras de 'Family':
                                   title                 listed_in   Genre
739          Barbie Star Light Adventure  Children & Family Movies  Family
7189                Treehouse Detectives    Kids' TV, TV Thrillers  Family
2103                      Family Reunion     Kids' TV, TV Comedies  Family
4937            Power Rangers Wild Force                  Kids' TV  Family
484   An American Tail: Fievel Goes West  Children & Family Movies  Family

Muestras de 'Action':
                                      title  \
4660           Opium and the Kung Fu Master
2066                                   Expo
5737                           Spider-Man 3
6656                   The Ministry of Time
624   Austin Powers: The Spy Who Shagged Me

                                              listed_in   Genre
4660           Action & Adventure, International Movies  Action
2066     Action & Adventure, Dramas, Independent Movies  Action
5737               Action & Adventure, Sci-Fi & Fantasy  Action
6656  International TV Shows, Spanish-Language TV Sh...  Action
624      Action & Adventure, Comedies, Sci-Fi & Fantasy  Action

Muestras de 'Comedy':
                                         title        listed_in   Genre
4459                     Nikki Glaser: Bangin’  Stand-Up Comedy  Comedy
3201  John Mulaney: Kid Gorgeous at Radio City  Stand-Up Comedy  Comedy
1098        Bridget Christie: Stand Up for Her  Stand-Up Comedy  Comedy
1337    Chingo Bling: They Can't Deport Us All  Stand-Up Comedy  Comedy
1350                 Chris D'Elia: Man on Fire  Stand-Up Comedy  Comedy

Muestras de 'Horror':
                                         title  \
5914                    Suzzanna: Buried Alive
4266                                 Munafik 2
1161                                   Cadaver
1328                              Child's Play
1393  Cirque du Freak: The Vampire's Assistant

                                              listed_in   Genre
5914                Horror Movies, International Movies  Horror
4266                Horror Movies, International Movies  Horror
1161                Horror Movies, International Movies  Horror
1328                         Cult Movies, Horror Movies  Horror
1393  Action & Adventure, Horror Movies, Sci-Fi & Fa...  Horror

Muestras de 'Crime':
Empty DataFrame
Columns: [title, listed_in, Genre]
Index: []

Muestras de 'Musical':
Empty DataFrame
Columns: [title, listed_in, Genre]
Index: []

Muestras de 'Thriller':
                   title                        listed_in     Genre
1918        Edge of Fear    Independent Movies, Thrillers  Thriller
5445    Secret Obsession                        Thrillers  Thriller
1148  Buster's Mal Heart    Independent Movies, Thrillers  Thriller
837      Berlin Syndrome  International Movies, Thrillers  Thriller
1803              Domino  International Movies, Thrillers  Thriller

Muestras de 'Fantasy':
Empty DataFrame
Columns: [title, listed_in, Genre]
Index: []

Muestras de 'Independent':
Empty DataFrame
Columns: [title, listed_in, Genre]
Index: []

Muestras de 'Classic':
Empty DataFrame
Columns: [title, listed_in, Genre]
Index: []

Muestras de 'Faith & Spirituality':
Empty DataFrame
Columns: [title, listed_in, Genre]
Index: []

Muestras de 'Other':
                                                  title  \
4641                                           One Take
6448         The House of Flowers Presents: The Funeral
1432  Club Friday To Be Continued - My Beautiful Tomboy
2176                                          Fireworks
6313                       The End of the F***ing World
3244                               Just The Way You Are
874   Beyond the Boundary: ICC Women's T20 World Cup...
6755  The Power of Grayskull: The Definitive History...
2274                       Freeway: Crack in the System
181                                        A Gray State

                                              listed_in  Genre
4641  Documentaries, International Movies, Music & M...  Other
6448                                             Movies  Other
1432  International TV Shows, Romantic TV Shows, TV ...  Other
2176                    Anime Features, Romantic Movies  Other
6313  British TV Shows, International TV Shows, TV C...  Other
3244              International Movies, Romantic Movies  Other
874   Documentaries, International Movies, Sports Mo...  Other
6755                                      Documentaries  Other
2274                                      Documentaries  Other
181                                       Documentaries  Other

In [ ]:
import pandas as pd

# Cargar el dataset de Netflix
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles_cleaned.csv')

# Definir el mapeo inicial con ajustes adicionales
genre_mapping = {
    'Drama': 'Drama',
    'Comedy': 'Comedy',
    'Horror': 'Horror',
    'Action': 'Action',
    'Adventure': 'Action',
    'Fantasy': 'Fantasy',
    'Science Fiction': 'Science Fiction',
    'Sci-Fi': 'Science Fiction',
    'Romance': 'Romance',
    'Thriller': 'Thriller',
    'Mystery': 'Mystery',
    'Crime': 'Crime',
    'Documentary': 'Documentary',
    'Musical': 'Musical',
    'Music': 'Musical',
    'Independent': 'Independent',
    'International': 'International',
    'Family': 'Family',
    'Kids': 'Family',
    'Faith & Spirituality': 'Faith & Spirituality',
    'Stand-Up Comedy': 'Comedy',  # Mapeo de Stand-Up Comedy en Comedy
    'Classic': 'Classic'
}

# Función para asignar géneros con refinamiento adicional
def map_genre(listed_in):
    # Verificar si algún género en genre_mapping coincide con 'listed_in'
    for keyword, genre in genre_mapping.items():
        if keyword in listed_in:
            return genre
    # Revisar patrones adicionales para casos ambiguos y asignar categorías más específicas
    if 'Documentaries' in listed_in or 'Docuseries' in listed_in:
        return 'Documentary'
    if 'Romantic' in listed_in and 'Drama' in listed_in:
        return 'Romance'
    if 'TV Shows' in listed_in or 'Reality TV' in listed_in:
        return 'International'
    # Retornar "Other" si no se encuentra una categoría específica
    return 'Other'

# Aplicar la función a la columna 'listed_in'
netflix_df['Genre'] = netflix_df['listed_in'].apply(map_genre)

# Verificar la distribución de géneros después del ajuste
final_genre_distribution = netflix_df['Genre'].value_counts()
print("Distribución de géneros en Netflix después del ajuste adicional:")
print(final_genre_distribution)

# Muestras aleatorias de géneros para verificar la coherencia
for genre in final_genre_distribution.index:
    print(f"\nMuestras de '{genre}':")
    print(netflix_df[netflix_df['Genre'] == genre][['title', 'listed_in', 'Genre']].sample(5))

Distribución de géneros en Netflix después del ajuste adicional:
Genre
Drama                   2808
International           1226
Family                   753
Action                   596
Documentary              586
Comedy                   381
Horror                   352
Other                    313
Crime                    223
Musical                  223
Thriller                 152
Fantasy                   66
Independent               59
Classic                   23
Faith & Spirituality       9
Name: count, dtype: int64

Muestras de 'Drama':
                              title  \
2554                      Guzaarish
3757              Love Off the Cuff
2422  Girlfriends' Guide to Divorce
2356           Garuda in My Heart 2
5210                      Riverdale

                                            listed_in  Genre
2554                     Dramas, International Movies  Drama
3757           Comedies, Dramas, International Movies  Drama
2422                           TV Comedies, TV Dramas  Drama
2356  Children & Family Movies, Dramas, Sports Movies  Drama
5210          Crime TV Shows, TV Dramas, TV Mysteries  Drama

Muestras de 'International':
                      title  \
1084           Break Up 100
1673              Deathgrip
333            Age Gap Love
1692  DeMarcus Family Rules
6300            The Duchess

                                              listed_in          Genre
1084    Comedies, International Movies, Romantic Movies  International
1673                International Movies, Sports Movies  International
333     British TV Shows, Reality TV, Romantic TV Shows  International
1692                                         Reality TV  International
6300  British TV Shows, International TV Shows, TV C...  International

Muestras de 'Family':
                                             title  \
2301                                 Fukrey Boyzzz
5497                                  Seven and Me
6628  The Massively Mixed-Up Middle School Mystery
6674              The Mr. Peabody and Sherman Show
4227                     Motu Patlu: King of Kings

                               listed_in   Genre
2301               Kids' TV, TV Comedies  Family
5497                            Kids' TV  Family
6628  Children & Family Movies, Comedies  Family
6674               Kids' TV, TV Comedies  Family
4227  Children & Family Movies, Comedies  Family

Muestras de 'Action':
                                 title  \
6211           The Cloverfield Paradox
6998           The World Is Not Enough
959                   Black Site Delta
5424       Scott Pilgrim vs. the World
7360  USS Indianapolis: Men of Courage

                                      listed_in   Genre
6211       Action & Adventure, Sci-Fi & Fantasy  Action
6998                         Action & Adventure  Action
959                          Action & Adventure  Action
5424  Action & Adventure, Comedies, Cult Movies  Action
7360                         Action & Adventure  Action

Muestras de 'Documentary':
                                title                        listed_in  \
5732                 Speed Is My Need     Documentaries, Sports Movies
5167                    Reversing Roe                    Documentaries
66                               13TH                    Documentaries
6438  The Holiday Movies That Made Us                       Docuseries
1070                      Brain Games  Docuseries, Science & Nature TV

            Genre
5732  Documentary
5167  Documentary
66    Documentary
6438  Documentary
1070  Documentary

Muestras de 'Comedy':
                                        title        listed_in   Genre
5179          Ricardo O'Farrill Abrazo Genial  Stand-Up Comedy  Comedy
5070           Ralphie May: Imperfectly Yours  Stand-Up Comedy  Comedy
2594         Hannibal Buress: Comedy Camisado  Stand-Up Comedy  Comedy
5046  Rafał Banaś, Michał Leja Laugh out Loud  Stand-Up Comedy  Comedy
3191                 Joe Rogan: Strange Times  Stand-Up Comedy  Comedy

Muestras de 'Horror':
                            title  \
6275  The Devil and Father Amorth
6707               The Open House
2652                   Havenhurst
6540            The Last Exorcism
2162          Final Destination 3

                                         listed_in   Genre
6275                  Documentaries, Horror Movies  Horror
6707                      Horror Movies, Thrillers  Horror
2652                      Horror Movies, Thrillers  Horror
6540  Horror Movies, Independent Movies, Thrillers  Horror
2162                                 Horror Movies  Horror

Muestras de 'Other':
                               title                  listed_in  Genre
2178                First Impression  Comedies, Romantic Movies  Other
4624               One Day at a Time                TV Comedies  Other
3123  Jay and Silent Bob Strike Back      Comedies, Cult Movies  Other
4764            Parks and Recreation                TV Comedies  Other
1315    Chhota Bheem Aur Kaala Yodha                     Movies  Other

Muestras de 'Crime':
                                            title  \
6778                            The Queen of Flow
3918                                     Marcella
4453  Night Stalker: The Hunt for a Serial Killer
4274                              Murder Mountain
6383                              The Good Bandit

                                              listed_in  Genre
6778  Crime TV Shows, International TV Shows, Spanis...  Crime
3918  British TV Shows, Crime TV Shows, Internationa...  Crime
4453                         Crime TV Shows, Docuseries  Crime
4274                         Crime TV Shows, Docuseries  Crime
6383  Crime TV Shows, International TV Shows, Spanis...  Crime

Muestras de 'Musical':
                                                 title  \
1284                                   Chashme Buddoor
3208                                             Joker
3089                   Jack and the Cuckoo-Clock Heart
3325               Keith Richards: Under the Influence
6713  The Other One: The Long Strange Trip of Bob Weir

                                             listed_in    Genre
1284  Comedies, International Movies, Music & Musicals  Musical
3208  Comedies, International Movies, Music & Musicals  Musical
3089        Children & Family Movies, Music & Musicals  Musical
3325                   Documentaries, Music & Musicals  Musical
6713                   Documentaries, Music & Musicals  Musical

Muestras de 'Thriller':
                  title                                   listed_in     Genre
3099     Jacob's Ladder                                   Thrillers  Thriller
7335    Unknown Origins             International Movies, Thrillers  Thriller
5765      Staged Killer                                   Thrillers  Thriller
4645  Only God Forgives  Cult Movies, Independent Movies, Thrillers  Thriller
755      Basic Instinct                   Classic Movies, Thrillers  Thriller

Muestras de 'Fantasy':
                                       title  \
4284                                    Mute
5847  Sturgill Simpson Presents Sound & Fury
2961                              In Paradox
398                   Aliens Ate My Homework
4859                               Planet 51

                                              listed_in    Genre
4284                        Sci-Fi & Fantasy, Thrillers  Fantasy
5847  Anime Features, Music & Musicals, Sci-Fi & Fan...  Fantasy
2961  International Movies, Sci-Fi & Fantasy, Thrillers  Fantasy
398   Children & Family Movies, Comedies, Sci-Fi & F...  Fantasy
4859  Children & Family Movies, Comedies, Sci-Fi & F...  Fantasy

Muestras de 'Independent':
                                              title  \
175   A Glimpse Inside the Mind of Charles Swan III
5260                                  Room for Rent
1069                                  Brahman Naman
3509                                      Lady-Like
3772                               Love, Guaranteed

                                              listed_in        Genre
175                        Comedies, Independent Movies  Independent
5260                       Comedies, Independent Movies  Independent
1069  Comedies, Independent Movies, International Mo...  Independent
3509                       Comedies, Independent Movies  Independent
3772      Comedies, Independent Movies, Romantic Movies  Independent

Muestras de 'Classic':
                                              title  \
5802                                     Still Game
7325  Undercover: How to Operate Behind Enemy Lines
4761                               Paris Is Burning
6682                              The Negro Soldier
4204                   Monty Python's Life of Brian

                                             listed_in    Genre
5802  British TV Shows, Classic & Cult TV, TV Comedies  Classic
7325                     Classic Movies, Documentaries  Classic
4761        Classic Movies, Cult Movies, Documentaries  Classic
6682                     Classic Movies, Documentaries  Classic
4204             Classic Movies, Comedies, Cult Movies  Classic

Muestras de 'Faith & Spirituality':
                                          title  \
5072                       Ram Dass, Going Home
925      Billy Graham: An Extraordinary Journey
3152                Jesus: Countdown to Calvary
1355                           Christian Mingle
6595  The Long Goodbye: The Kara Tippetts Story

                                            listed_in                 Genre
5072              Documentaries, Faith & Spirituality  Faith & Spirituality
925               Documentaries, Faith & Spirituality  Faith & Spirituality
3152              Documentaries, Faith & Spirituality  Faith & Spirituality
1355  Comedies, Faith & Spirituality, Romantic Movies  Faith & Spirituality
6595              Documentaries, Faith & Spirituality  Faith & Spirituality

In [ ]:
import pandas as pd

# Guardar el dataset refinado con el mapeo de géneros actualizado
netflix_df.to_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles_refined.csv', index=False)
print("Cambios guardados en el archivo 'netflix_titles_refined.csv'.")

# Cargar el dataset refinado guardado
refined_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles_refined.csv')

# Función para mostrar una muestra aleatoria de registros de cada género
def show_random_samples(df, num_samples=5):
    genres = df['Genre'].unique()
    samples = {}
    for genre in genres:
        # Filtrar por género y tomar una muestra aleatoria
        genre_sample = df[df['Genre'] == genre].sample(min(num_samples, len(df[df['Genre'] == genre])), random_state=42)
        samples[genre] = genre_sample[['title', 'listed_in', 'Genre']]

    # Imprimir las muestras de cada género
    for genre, sample in samples.items():
        print(f"\nMuestra de registros para el género '{genre}':")
        print(sample)

# Llamar a la función para revisar muestras aleatorias
show_random_samples(refined_df)

Cambios guardados en el archivo 'netflix_titles_refined.csv'.

Muestra de registros para el género 'Drama':
                        title  \
4431                   Neruda
6565  The Legend of Bruce Lee
6624    The Many Faces of Ito
4250                Mubarakan
3044                    Iqbal

                                              listed_in  Genre
4431                       Dramas, International Movies  Drama
6565  International TV Shows, TV Action & Adventure,...  Drama
6624  International TV Shows, Romantic TV Shows, TV ...  Drama
4250             Comedies, Dramas, International Movies  Drama
3044   Dramas, Independent Movies, International Movies  Drama

Muestra de registros para el género 'Horror':
                 title                                       listed_in   Genre
5575           Shutter             Horror Movies, International Movies  Horror
2593          Hannibal           TV Horror, TV Mysteries, TV Thrillers  Horror
1479  Conjuring Spirit  Horror Movies, International Movies, Thrillers  Horror
3416       Knock Knock                        Horror Movies, Thrillers  Horror
2427  Girls With Balls   Comedies, Horror Movies, International Movies  Horror

Muestra de registros para el género 'Action':
                   title                                     listed_in   Genre
2614           Hard Kill                            Action & Adventure  Action
3107           Jailbreak      Action & Adventure, International Movies  Action
6080      The Assignment                            Action & Adventure  Action
6103   The Beast Stalker      Action & Adventure, International Movies  Action
2524  Green Eggs and Ham  Kids' TV, TV Action & Adventure, TV Comedies  Action

Muestra de registros para el género 'Crime':
                        title  \
556                   Apaches
2880  I AM A KILLER: RELEASED
3864        Making a Murderer
5067                     Rake
7655                 Wormwood

                                              listed_in  Genre
556   Crime TV Shows, International TV Shows, Spanis...  Crime
2880       British TV Shows, Crime TV Shows, Docuseries  Crime
3864                         Crime TV Shows, Docuseries  Crime
5067  Crime TV Shows, International TV Shows, TV Com...  Crime
7655                         Crime TV Shows, Docuseries  Crime

Muestra de registros para el género 'International':
                                  title  \
3722                     Lost in London
4285          Mutiny of the Worker Bees
5625                         Sisterakas
7404           Vince and Kath and James
2522  Greatest Events of WWII in Colour

                                              listed_in          Genre
3722                     Comedies, International Movies  International
4285                     Comedies, International Movies  International
5625                     Comedies, International Movies  International
7404              International Movies, Romantic Movies  International
2522  British TV Shows, Docuseries, International TV...  International

Muestra de registros para el género 'Fantasy':
              title                                          listed_in  \
6467   The Incident  International Movies, Sci-Fi & Fantasy, Thrillers
7169  Transcendence                        Sci-Fi & Fantasy, Thrillers
14             3022    Independent Movies, Sci-Fi & Fantasy, Thrillers
4976       Prospect                        Sci-Fi & Fantasy, Thrillers
579             ARQ  International Movies, Sci-Fi & Fantasy, Thrillers

        Genre
6467  Fantasy
7169  Fantasy
14    Fantasy
4976  Fantasy
579   Fantasy

Muestra de registros para el género 'Other':
                                    title     listed_in  Genre
1103      Bring It On: Worldwide Showdown      Comedies  Other
147                  A Bad Moms Christmas      Comedies  Other
5222                             Robotech  Anime Series  Other
3570  Lego DC Comics: Batman Be-Leaguered        Movies  Other
1567                   Da Kath & Kim Code        Movies  Other

Muestra de registros para el género 'Documentary':
                                                title  \
6889              The Story of Us with Morgan Freeman
3619                                 Life on Location
6792  The Redeemed and the Dominant: Fittest on Earth
4416                     Nature's Great Events (2009)
2665                    Headspace Guide to Meditation

                                              listed_in        Genre
6889                                         Docuseries  Documentary
3619  British TV Shows, Docuseries, Science & Nature TV  Documentary
6792                       Documentaries, Sports Movies  Documentary
4416  British TV Shows, Docuseries, Science & Nature TV  Documentary
2665                    Docuseries, Science & Nature TV  Documentary

Muestra de registros para el género 'Musical':
                                                  title  \
354                                              Aiyyaa
3089                    Jack and the Cuckoo-Clock Heart
3818  Ma Rainey's Black Bottom: A Legacy Brought to ...
4608          Once in a Lifetime Sessions with Kasabian
7756                                     Zoé: Panoramas

                                              listed_in    Genre
354    Comedies, International Movies, Music & Musicals  Musical
3089         Children & Family Movies, Music & Musicals  Musical
3818                    Documentaries, Music & Musicals  Musical
4608                    Documentaries, Music & Musicals  Musical
7756  Documentaries, International Movies, Music & M...  Musical

Muestra de registros para el género 'Faith & Spirituality':
                                               title  \
5072                            Ram Dass, Going Home
925           Billy Graham: An Extraordinary Journey
3941  Martin Luther: The Idea that Changed the World
100                                3 Seconds Divorce
6595       The Long Goodbye: The Kara Tippetts Story

                                listed_in                 Genre
5072  Documentaries, Faith & Spirituality  Faith & Spirituality
925   Documentaries, Faith & Spirituality  Faith & Spirituality
3941  Documentaries, Faith & Spirituality  Faith & Spirituality
100   Documentaries, Faith & Spirituality  Faith & Spirituality
6595  Documentaries, Faith & Spirituality  Faith & Spirituality

Muestra de registros para el género 'Thriller':
                         title                        listed_in     Genre
2715             Hide and Seek  International Movies, Thrillers  Thriller
7342            Unruly Friends  International Movies, Thrillers  Thriller
4994          Puriyatha Puthir  International Movies, Thrillers  Thriller
3676  Lizzie Borden Took an Ax                        Thrillers  Thriller
6951              THE UNLISTED           Kids' TV, TV Thrillers  Thriller

Muestra de registros para el género 'Family':
                                             title  \
7448  Wakfu: The Quest for the Six Eliatrope Dofus
6740                              The Pink Panther
4153                                        Molang
886                                      Bheemayan
2440                           Go! Go! Cory Carson

                               listed_in   Genre
7448                            Kids' TV  Family
6740  Children & Family Movies, Comedies  Family
4153                            Kids' TV  Family
886             Children & Family Movies  Family
2440                            Kids' TV  Family

Muestra de registros para el género 'Independent':
                                              title  \
175   A Glimpse Inside the Mind of Charles Swan III
615                                   Attitude Test
4907                                   Pottersville
1449                                  Coffee with D
6139                                The Book of Sun

                                              listed_in        Genre
175                        Comedies, Independent Movies  Independent
615   Comedies, Independent Movies, International Mo...  Independent
4907                       Comedies, Independent Movies  Independent
1449  Comedies, Independent Movies, International Mo...  Independent
6139  Comedies, Independent Movies, International Mo...  Independent

Muestra de registros para el género 'Comedy':
                                         title        listed_in   Genre
4459                     Nikki Glaser: Bangin’  Stand-Up Comedy  Comedy
3201  John Mulaney: Kid Gorgeous at Radio City  Stand-Up Comedy  Comedy
1098        Bridget Christie: Stand Up for Her  Stand-Up Comedy  Comedy
1337    Chingo Bling: They Can't Deport Us All  Stand-Up Comedy  Comedy
1350                 Chris D'Elia: Man on Fire  Stand-Up Comedy  Comedy

Muestra de registros para el género 'Classic':
                                                 title  \
6100                              The Battle of Midway
4945                                    Prelude to War
1297                                            Cheers
4761                                  Paris Is Burning
6640  The Memphis Belle: A Story of a\nFlying Fortress

                                       listed_in    Genre
6100               Classic Movies, Documentaries  Classic
4945               Classic Movies, Documentaries  Classic
1297              Classic & Cult TV, TV Comedies  Classic
4761  Classic Movies, Cult Movies, Documentaries  Classic
6640               Classic Movies, Documentaries  Classic

In [ ]:
refined_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_titles_refined.csv')

In [ ]:
refined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7770 entries, 0 to 7769
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7770 non-null   object
 1   type          7770 non-null   object
 2   title         7770 non-null   object
 3   director      7770 non-null   object
 4   cast          7770 non-null   object
 5   country       7770 non-null   object
 6   date_added    7770 non-null   object
 7   release_year  7770 non-null   int64
 8   rating        7770 non-null   object
 9   duration      7770 non-null   object
 10  listed_in     7770 non-null   object
 11  description   7770 non-null   object
 12  Genre         7770 non-null   object
dtypes: int64(1), object(12)
memory usage: 789.3+ KB

In [ ]:
refined_df.type.unique()

array(['TV Show', 'Movie'], dtype=object)

In [ ]:
refined_df.description.unique()

array(['In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.',
       'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.',
       "When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp.",
       ...,
       "In this documentary, South African rapper Nasty C hits the stage and streets of Tokyo, introducing himself to the city's sights, sounds and culture.",
       'Dessert wizard Adriano Zumbo looks for the next “Willy Wonka” in this tense competition that finds skilled amateurs competing for a $100,000 prize.',
       'This documentary delves into the mystique behind the blues-rock trio and explores how the enigmatic band created their iconic look and sound.'],
      dtype=object)

In [ ]:
# Filtrar el dataset de Netflix para eliminar los registros con el género 'Other'
netflix_df_refined = netflix_df[netflix_df['Genre'] != 'Other']

# Verificar la nueva distribución de géneros después de eliminar 'Other'
final_genre_distribution = netflix_df_refined['Genre'].value_counts()
print("Distribución de géneros en Netflix después de eliminar 'Other':")
print(final_genre_distribution)

# Guardar el dataset refinado sin 'Other' para la integración
netflix_df_refined.to_csv('/content/drive/MyDrive/TFM/Datasets/netflix_integracionv3.csv', index=False)

Distribución de géneros en Netflix después de eliminar 'Other':
Genre
Drama                   2808
International           1226
Family                   753
Action                   596
Documentary              586
Comedy                   381
Horror                   352
Crime                    223
Musical                  223
Thriller                 152
Fantasy                   66
Independent               59
Classic                   23
Faith & Spirituality       9
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Cargar los datasets
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv')
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_integracionv3.csv')
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv')

# Establecer el tipo de contenido
movies_df['type'] = 'Movie'
netflix_df['type'] = netflix_df['type'].replace({'TV Show': 'TV Show', 'Movie': 'Movie'})
music_df['type'] = 'Music'

# Convertir los títulos a minúsculas para facilitar la búsqueda de coincidencias
movies_df['title_lower'] = movies_df['title'].str.lower()
netflix_df['title_lower'] = netflix_df['title'].str.lower()
music_df['Track_lower'] = music_df['Track'].str.lower()

# Buscar coincidencias de títulos entre películas y Netflix
movie_netflix_matches = pd.merge(movies_df, netflix_df, left_on='title_lower', right_on='title_lower', suffixes=('_movie', '_netflix'))
print("Coincidencias entre títulos de películas y Netflix:")
print(movie_netflix_matches[['title_movie', 'title_netflix']].head())

# Buscar coincidencias de títulos entre música y películas
music_movie_matches = pd.merge(music_df, movies_df, left_on='Track_lower', right_on='title_lower', suffixes=('_music', '_movie'))
print("\nCoincidencias entre títulos de música y películas:")
print(music_movie_matches[['Track', 'title']].head())

# Buscar coincidencias de títulos entre música y Netflix
music_netflix_matches = pd.merge(music_df, netflix_df, left_on='Track_lower', right_on='title_lower', suffixes=('_music', '_netflix'))
print("\nCoincidencias entre títulos de música y Netflix:")
print(music_netflix_matches[['Track', 'title']].head())

Coincidencias entre títulos de películas y Netflix:
  title_movie title_netflix
0     Sabrina       Sabrina
1     Sabrina       Sabrina
2     Sabrina       Sabrina
3     Sabrina       Sabrina
4     Sabrina       Sabrina

Coincidencias entre títulos de música y películas:
      Track     title
0  Revolver  Revolver
1  Revolver  Revolver
2  Revolver  Revolver
3  Revolver  Revolver
4  Revolver  Revolver

Coincidencias entre títulos de música y Netflix:
         Track        title
0         Easy         Easy
1  The Monster  The Monster
2     The Call     The Call
3         Hook         Hook
4      Chelsea      Chelsea

In [ ]:
import pandas as pd

# Cargar los datasets
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv')
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_integracionv3.csv')
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv')

# Paso 1: Añadir columna 'source' para distinguir el origen
movies_df['source'] = 'movies'
netflix_df['source'] = 'netflix'
music_df['source'] = 'music'

# Paso 2: Añadir columna 'type' con los valores apropiados
movies_df['type'] = 'Movie'
netflix_df['type'] = netflix_df['type'].replace({'TV Show': 'TV Show', 'Movie': 'Movie'})
music_df['type'] = 'Music'

# Paso 3: Convertir títulos a minúsculas en una nueva columna para comparar fácilmente
movies_df['title_lower'] = movies_df['title'].str.lower()
netflix_df['title_lower'] = netflix_df['title'].str.lower()
music_df['title_lower'] = music_df['Track'].str.lower()  # Usamos 'Track' como título de la música

# Identificar y remover duplicados en base a la columna en minúsculas
movies_df = movies_df.drop_duplicates(subset=['title_lower'])
netflix_df = netflix_df.drop_duplicates(subset=['title_lower'])
music_df = music_df.drop_duplicates(subset=['title_lower'])

# Integrar los datasets
combined_df = pd.concat([movies_df, netflix_df, music_df], ignore_index=True)

# Guardar el archivo final con los ajustes
combined_df.to_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv', index=False)

In [ ]:
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

<ipython-input-192-d0ae8078bd6c>:1: DtypeWarning: Columns (1,2,4,5,12,13,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

In [ ]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 29 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieId       3585 non-null   float64
 1   title         11042 non-null  object
 2   genres        3585 non-null   object
 3   userId        3585 non-null   float64
 4   rating        11042 non-null  object
 5   timestamp     3585 non-null   object
 6   imdbId        3585 non-null   float64
 7   tmdbId        3585 non-null   float64
 8   year          3585 non-null   float64
 9   source        38133 non-null  object
 10  type          38133 non-null  object
 11  title_lower   38133 non-null  object
 12  show_id       7457 non-null   object
 13  director      7457 non-null   object
 14  cast          7457 non-null   object
 15  country       7457 non-null   object
 16  date_added    7457 non-null   object
 17  release_year  7457 non-null   float64
 18  duration      7457 non-null   object
 19  listed_in     7457 non-null   object
 20  description   7457 non-null   object
 21  Genre         34548 non-null  object
 22  Unnamed: 0    27091 non-null  float64
 23  Username      27091 non-null  object
 24  Artist        27091 non-null  object
 25  Track         27091 non-null  object
 26  Album         27091 non-null  object
 27  Date          27091 non-null  object
 28  Time          27091 non-null  object
dtypes: float64(7), object(22)
memory usage: 8.4+ MB

In [ ]:
import pandas as pd

# Cargar el dataset unificado
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

# Eliminar columnas innecesarias
columns_to_drop = ['imdbId', 'tmdbId', 'listed_in', 'Unnamed: 0', 'Username', 'title_lower' ]
data_in.drop(columns=columns_to_drop, inplace=True)

# Guardar el archivo sin las columnas eliminadas
data_in.to_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv', index=False)

# Verificar la estructura después de la eliminación
data_in.info()

<ipython-input-194-d5f2f1f05357>:4: DtypeWarning: Columns (1,2,4,5,12,13,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieId       3585 non-null   float64
 1   title         11042 non-null  object
 2   genres        3585 non-null   object
 3   userId        3585 non-null   float64
 4   rating        11042 non-null  object
 5   timestamp     3585 non-null   object
 6   year          3585 non-null   float64
 7   source        38133 non-null  object
 8   type          38133 non-null  object
 9   show_id       7457 non-null   object
 10  director      7457 non-null   object
 11  cast          7457 non-null   object
 12  country       7457 non-null   object
 13  date_added    7457 non-null   object
 14  release_year  7457 non-null   float64
 15  duration      7457 non-null   object
 16  description   7457 non-null   object
 17  Genre         34548 non-null  object
 18  Artist        27091 non-null  object
 19  Track         27091 non-null  object
 20  Album         27091 non-null  object
 21  Date          27091 non-null  object
 22  Time          27091 non-null  object
dtypes: float64(4), object(19)
memory usage: 6.7+ MB

In [ ]:
data_in.Genre.unique()

array([nan, 'Drama', 'Horror', 'Action', 'Crime', 'International',
       'Fantasy', 'Documentary', 'Musical', 'Faith & Spirituality',
       'Thriller', 'Family', 'Independent', 'Comedy', 'Classic',
       'Alternative/Indie', 'Electronic', 'Pop', 'Hip-Hop/Rap',
       'Classical', 'Soundtrack', 'Blues/Jazz', 'Experimental', 'Metal',
       'Country/Folk', 'Rock'], dtype=object)

In [ ]:
data_in.genres.value_counts()

genres
Comedy                      366
Drama                       330
Comedy|Drama                329
Action|Drama                283
Drama|Suspense              268
Action|Comedy               263
Action|Science Fiction      167
Drama|Romance               161
Action|Suspense             154
Action|Children             150
Comedy|Romance              147
Children|Comedy              79
Action|Fantasy               75
Suspense                     74
Comedy|Suspense              69
Action                       65
Horror|Suspense              58
Documentary                  52
Horror                       33
Horror|Science Fiction       32
Drama|Science Fiction        32
Drama|Fantasy                32
Action|Family                31
Action|Horror                31
Comedy|Horror                31
Drama|Horror                 30
Drama|Musical                26
Children                     25
Comedy|Musical               24
Comedy|Fantasy               23
Children|Family              19
Children|Drama               19
Comedy|Science Fiction       16
Action|Romance               16
Comedy|Family                15
Romance                      13
Science Fiction|Suspense      9
Action|Documentary            8
Family                        8
Fantasy|Horror                6
Fantasy                       6
Musical                       5
Science Fiction               5
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Cargar el dataset consolidado
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

# Unificar `genres` en `Genre`, reemplazando los valores nulos de `Genre` con los de `genres`
data_in['Genre'] = data_in['Genre'].combine_first(data_in['genres'])

# Eliminar la columna `genres` ya que la información está en `Genre`
data_in.drop(columns=['genres'], inplace=True)

# Guardar el dataset actualizado
data_in.to_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv', index=False)

print("Unificación completada y archivo guardado como 'final_integrated_dataset_updated.csv'")

<ipython-input-196-17056b85698d>:4: DtypeWarning: Columns (1,2,4,5,9,10,11,12,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

Unificación completada y archivo guardado como 'final_integrated_dataset_updated.csv'

In [ ]:
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

<ipython-input-197-d0ae8078bd6c>:1: DtypeWarning: Columns (1,3,4,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

In [ ]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieId       3585 non-null   float64
 1   title         11042 non-null  object
 2   userId        3585 non-null   float64
 3   rating        11042 non-null  object
 4   timestamp     3585 non-null   object
 5   year          3585 non-null   float64
 6   source        38133 non-null  object
 7   type          38133 non-null  object
 8   show_id       7457 non-null   object
 9   director      7457 non-null   object
 10  cast          7457 non-null   object
 11  country       7457 non-null   object
 12  date_added    7457 non-null   object
 13  release_year  7457 non-null   float64
 14  duration      7457 non-null   object
 15  description   7457 non-null   object
 16  Genre         38133 non-null  object
 17  Artist        27091 non-null  object
 18  Track         27091 non-null  object
 19  Album         27091 non-null  object
 20  Date          27091 non-null  object
 21  Time          27091 non-null  object
dtypes: float64(4), object(18)
memory usage: 6.4+ MB

In [ ]:
data_in.Genre.unique()

array(['Action|Children', 'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Suspense', 'Action', 'Comedy|Horror', 'Drama',
       'Action|Romance', 'Drama|Suspense', 'Drama|Romance',
       'Action|Comedy', 'Comedy|Suspense', 'Drama|Horror',
       'Drama|Science Fiction', 'Children|Drama', 'Action|Drama',
       'Science Fiction|Suspense', 'Action|Fantasy', 'Suspense',
       'Action|Science Fiction', 'Children|Comedy', 'Documentary',
       'Action|Documentary', 'Horror', 'Fantasy|Horror',
       'Horror|Science Fiction', 'Drama|Musical',
       'Comedy|Science Fiction', 'Drama|Fantasy', 'Horror|Suspense',
       'Action|Horror', 'Children', 'Children|Family', 'Action|Family',
       'Family', 'Comedy|Fantasy', 'Comedy|Musical', 'Musical', 'Romance',
       'Fantasy', 'Science Fiction', 'Comedy|Family', 'Crime',
       'International', 'Faith & Spirituality', 'Thriller', 'Independent',
       'Classic', 'Alternative/Indie', 'Electronic', 'Pop', 'Hip-Hop/Rap',
       'Classical', 'Soundtrack', 'Blues/Jazz', 'Experimental', 'Metal',
       'Country/Folk', 'Rock'], dtype=object)

In [ ]:
import pandas as pd

# Cargar el dataset
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

# Convertir cada valor en la columna 'Genre' en una lista de géneros individuales
data_in['Genre'] = data_in['Genre'].fillna('').apply(lambda x: x.split('|') if isinstance(x, str) else [])

# Verificar la conversión
print("Ejemplos de valores en 'Genre' después de la conversión a listas:")
print(data_in['Genre'].head(10).tolist())

# Guardar el dataset con la columna 'Genre' en formato de lista
data_in.to_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv', index=False)

print("Conversión completada y guardada en 'final_integrated_dataset.csv'.")

<ipython-input-201-c43d36d254c0>:4: DtypeWarning: Columns (1,3,4,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

Ejemplos de valores en 'Genre' después de la conversión a listas:
[['Action', 'Children'], ['Action', 'Children'], ['Comedy', 'Romance'], ['Comedy', 'Drama'], ['Comedy'], ['Action', 'Suspense'], ['Comedy', 'Romance'], ['Action', 'Children'], ['Action'], ['Action', 'Suspense']]
Conversión completada y guardada en 'final_integrated_dataset.csv'.

In [ ]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieId       3585 non-null   float64
 1   title         11042 non-null  object
 2   userId        3585 non-null   float64
 3   rating        11042 non-null  object
 4   timestamp     3585 non-null   object
 5   year          3585 non-null   float64
 6   source        38133 non-null  object
 7   type          38133 non-null  object
 8   show_id       7457 non-null   object
 9   director      7457 non-null   object
 10  cast          7457 non-null   object
 11  country       7457 non-null   object
 12  date_added    7457 non-null   object
 13  release_year  7457 non-null   float64
 14  duration      7457 non-null   object
 15  description   7457 non-null   object
 16  Genre         38133 non-null  object
 17  Artist        27091 non-null  object
 18  Track         27091 non-null  object
 19  Album         27091 non-null  object
 20  Date          27091 non-null  object
 21  Time          27091 non-null  object
dtypes: float64(4), object(18)
memory usage: 6.4+ MB

In [ ]:
# Obtener todos los géneros únicos de la columna 'Genre'
unique_genres = set(genre for sublist in data_in['Genre'] for genre in sublist)
print("Géneros únicos en la columna 'Genre':")
print(unique_genres)

Géneros únicos en la columna 'Genre':
{'Faith & Spirituality', 'Comedy', 'Documentary', 'Action', 'Blues/Jazz', 'Metal', 'Thriller', 'Classical', 'Suspense', 'Crime', 'Horror', 'Experimental', 'Country/Folk', 'Drama', 'Classic', 'Pop', 'Soundtrack', 'Family', 'Independent', 'Hip-Hop/Rap', 'Fantasy', 'Alternative/Indie', 'Musical', 'Children', 'International', 'Romance', 'Science Fiction', 'Electronic', 'Rock'}

In [ ]:
data_in.type.unique()

array(['Movie', 'TV Show', 'Music'], dtype=object)

In [ ]:
data_in.type.value_counts()

type
Music      27091
Movie       8714
TV Show     2328
Name: count, dtype: int64

In [ ]:
data_in.rating.unique()

array(['4.0', '3.0', '5.0', '1.0', '2.0', '1.5', '0.5', '3.5', '4.5',
       '2.5', 'TV-MA', 'R', 'PG-13', 'TV-14', 'NR', 'TV-G', 'TV-PG',
       'TV-Y7', 'PG', 'G', 'TV-Y', 'NC-17', 'TV-Y7-FV', 'UR', nan],
      dtype=object)

In [ ]:
import pandas as pd

# Cargar el dataset
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

# Función para separar los puntajes y clasificaciones de edad
def split_rating(value):
    if value in ['TV-MA', 'R', 'PG-13', 'TV-14', 'NR', 'TV-G', 'TV-PG', 'TV-Y7', 'PG', 'G', 'TV-Y', 'NC-17', 'TV-Y7-FV', 'UR']:
        return None, value  # Clasificación de edad
    elif pd.notnull(value):
        return float(value), None  # Puntaje numérico
    return None, None

# Aplicar la función y crear las nuevas columnas
data_in[['rating', 'classification_age']] = data_in['rating'].apply(lambda x: pd.Series(split_rating(x)))

# Verificar si la separación fue exitosa mostrando valores únicos de cada columna
print("Valores únicos en 'rating' después de la separación:", data_in['rating'].unique())
print("Valores únicos en 'classification_age':", data_in['classification_age'].unique())

# Guardar el dataset actualizado
data_in.to_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset2.csv', index=False)
print("Separación completada y guardada en 'final_integrated_dataset.csv'.")

<ipython-input-213-cba61a55c446>:4: DtypeWarning: Columns (1,3,4,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset.csv')

Valores únicos en 'rating' después de la separación: [4.  3.  5.  1.  2.  1.5 0.5 3.5 4.5 2.5 nan]
Valores únicos en 'classification_age': [nan 'TV-MA' 'R' 'PG-13' 'TV-14' 'NR' 'TV-G' 'TV-PG' 'TV-Y7' 'PG' 'G'
 'TV-Y' 'NC-17' 'TV-Y7-FV' 'UR' None]
Separación completada y guardada en 'final_integrated_dataset.csv'.

In [ ]:
data_in.rating.unique()

array([4. , 3. , 5. , 1. , 2. , 1.5, 0.5, 3.5, 4.5, 2.5, nan])

In [ ]:
data_in.classification_age.unique()

array([nan, 'TV-MA', 'R', 'PG-13', 'TV-14', 'NR', 'TV-G', 'TV-PG',
       'TV-Y7', 'PG', 'G', 'TV-Y', 'NC-17', 'TV-Y7-FV', 'UR', None],
      dtype=object)

In [ ]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             3585 non-null   float64
 1   title               11042 non-null  object
 2   userId              3585 non-null   float64
 3   rating              3585 non-null   float64
 4   timestamp           3585 non-null   object
 5   year                3585 non-null   float64
 6   source              38133 non-null  object
 7   type                38133 non-null  object
 8   show_id             7457 non-null   object
 9   director            7457 non-null   object
 10  cast                7457 non-null   object
 11  country             7457 non-null   object
 12  date_added          7457 non-null   object
 13  release_year        7457 non-null   float64
 14  duration            7457 non-null   object
 15  description         7457 non-null   object
 16  Genre               38133 non-null  object
 17  Artist              27091 non-null  object
 18  Track               27091 non-null  object
 19  Album               27091 non-null  object
 20  Date                27091 non-null  object
 21  Time                27091 non-null  object
 22  classification_age  7457 non-null   object
dtypes: float64(5), object(18)
memory usage: 6.7+ MB

In [ ]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             3585 non-null   float64
 1   title               11042 non-null  object
 2   userId              3585 non-null   float64
 3   rating              38133 non-null  float64
 4   timestamp           3585 non-null   object
 5   year                3585 non-null   float64
 6   source              38133 non-null  object
 7   type                38133 non-null  object
 8   show_id             7457 non-null   object
 9   director            7457 non-null   object
 10  cast                7457 non-null   object
 11  country             7457 non-null   object
 12  date_added          7457 non-null   object
 13  release_year        7457 non-null   float64
 14  duration            7457 non-null   object
 15  description         7457 non-null   object
 16  Genre               38133 non-null  object
 17  Artist              27091 non-null  object
 18  Track               27091 non-null  object
 19  Album               27091 non-null  object
 20  Date                27091 non-null  object
 21  Time                27091 non-null  object
 22  classification_age  7457 non-null   object
dtypes: float64(5), object(18)
memory usage: 6.7+ MB

In [ ]:
data_in.rating.unique()

array([4. , 3. , 5. , 1. , 2. , 1.5, 0.5, 3.5, 4.5, 2.5])

In [ ]:
import pandas as pd
import numpy as np

# Cargar el dataset actualizado
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset3.csv')

# Clasificaciones por edad sugeridas para géneros comunes
age_classifications = {
    'Horror': 'R',
    'Action': 'PG-13',
    'Comedy': 'PG',
    'Drama': 'PG-13',
    'Fantasy': 'PG',
    'Family': 'G',
    'Children': 'G',
    'Documentary': 'PG',
    'Crime': 'TV-14',
    'Thriller': 'R',
    'Science Fiction': 'PG-13',
    'Faith & Spirituality': 'G',
    'Musical': 'G',
    'Independent': 'PG-13',
    'Classic': 'PG'
}

# Función para asignar clasificación de edad basada en el género
def assign_age_classification(row):
    if isinstance(row['Genre'], list):  # Verificar que la columna sea una lista
        for genre in row['Genre']:
            if genre in age_classifications:
                return age_classifications[genre]
    return np.nan  # Si no coincide ningún género, se deja NaN

# Aplicar la función a las filas que tienen NaN en la columna de clasificación de edad
data_in['classification_age'] = data_in.apply(
    lambda x: assign_age_classification(x) if pd.isna(x['classification_age']) else x['classification_age'], axis=1
)

# Verificar los resultados y contar valores NaN restantes
remaining_nan = data_in['classification_age'].isna().sum()
print(f"Valores NaN restantes en 'classification_age': {remaining_nan}")

# Guardar el dataset actualizado
data_in.to_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset4.csv', index=False)
print("Archivo guardado como 'final_integrated_dataset3.csv'")

<ipython-input-223-cc332ff67399>:5: DtypeWarning: Columns (1,4,8,9,10,11,12,14,15,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset3.csv')

Valores NaN restantes en 'classification_age': 30676
Archivo guardado como 'final_integrated_dataset3.csv'

In [ ]:
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset4.csv')

<ipython-input-266-00bbb228c004>:1: DtypeWarning: Columns (1,4,8,9,10,11,12,14,15,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset4.csv')

In [ ]:
data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38133 entries, 0 to 38132
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             3585 non-null   float64
 1   title               11042 non-null  object
 2   userId              3585 non-null   float64
 3   rating              38133 non-null  float64
 4   timestamp           3585 non-null   object
 5   year                3585 non-null   float64
 6   source              38133 non-null  object
 7   type                38133 non-null  object
 8   show_id             7457 non-null   object
 9   director            7457 non-null   object
 10  cast                7457 non-null   object
 11  country             7457 non-null   object
 12  date_added          7457 non-null   object
 13  release_year        7457 non-null   float64
 14  duration            7457 non-null   object
 15  description         7457 non-null   object
 16  Genre               38133 non-null  object
 17  Artist              27091 non-null  object
 18  Track               27091 non-null  object
 19  Album               27091 non-null  object
 20  Date                27091 non-null  object
 21  Time                27091 non-null  object
 22  classification_age  7457 non-null   object
dtypes: float64(5), object(18)
memory usage: 6.7+ MB

Después de hacer muchas pruebas se descarta la opción de unificar los datasets, pues en realidad es muy dificil se tienen que asumir muchas cosas, y se va perdiendo la integridad de los datos

In [ ]:
import pandas as pd

# Cargar el dataset actual
data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset4.csv')

# Filtrar por cada fuente y guardar los datasets resultantes
movies_df = data_in[data_in['source'] == 'movies']
netflix_df = data_in[data_in['source'] == 'netflix']
music_df = data_in[data_in['source'] == 'music']

# Guardar cada dataset separado
movies_df.to_csv('/content/drive/MyDrive/TFM/Datasets/movies_dataset.csv', index=False)
netflix_df.to_csv('/content/drive/MyDrive/TFM/Datasets/netflix_dataset.csv', index=False)
music_df.to_csv('/content/drive/MyDrive/TFM/Datasets/music_dataset.csv', index=False)

print("Archivos separados guardados como 'movies_dataset.csv', 'netflix_dataset.csv' y 'music_dataset.csv'")

<ipython-input-277-47038d7af9fb>:4: DtypeWarning: Columns (1,4,8,9,10,11,12,14,15,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data_in = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/final_integrated_dataset4.csv')

Archivos separados guardados como 'movies_dataset.csv', 'netflix_dataset.csv' y 'music_dataset.csv'

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/movies_dataset.csv')
netflix  = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_dataset.csv')
music  = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/music_dataset.csv')

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             3585 non-null   float64
 1   title               3585 non-null   object
 2   userId              3585 non-null   float64
 3   rating              3585 non-null   float64
 4   timestamp           3585 non-null   object
 5   year                3585 non-null   float64
 6   source              3585 non-null   object
 7   type                3585 non-null   object
 8   show_id             0 non-null      float64
 9   director            0 non-null      float64
 10  cast                0 non-null      float64
 11  country             0 non-null      float64
 12  date_added          0 non-null      float64
 13  release_year        0 non-null      float64
 14  duration            0 non-null      float64
 15  description         0 non-null      float64
 16  Genre               3585 non-null   object
 17  Artist              0 non-null      float64
 18  Track               0 non-null      float64
 19  Album               0 non-null      float64
 20  Date                0 non-null      float64
 21  Time                0 non-null      float64
 22  classification_age  0 non-null      float64
dtypes: float64(18), object(5)
memory usage: 644.3+ KB

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90267 non-null  int64
 1   title      90267 non-null  object
 2   genres     90267 non-null  object
 3   userId     90267 non-null  int64
 4   rating     90267 non-null  float64
 5   timestamp  90267 non-null  object
 6   imdbId     90267 non-null  int64
 7   tmdbId     90267 non-null  float64
 8   year       90267 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 6.2+ MB

In [ ]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7457 entries, 0 to 7456
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             0 non-null      float64
 1   title               7457 non-null   object
 2   userId              0 non-null      float64
 3   rating              7457 non-null   float64
 4   timestamp           0 non-null      float64
 5   year                0 non-null      float64
 6   source              7457 non-null   object
 7   type                7457 non-null   object
 8   show_id             7457 non-null   object
 9   director            7457 non-null   object
 10  cast                7457 non-null   object
 11  country             7457 non-null   object
 12  date_added          7457 non-null   object
 13  release_year        7457 non-null   float64
 14  duration            7457 non-null   object
 15  description         7457 non-null   object
 16  Genre               7457 non-null   object
 17  Artist              0 non-null      float64
 18  Track               0 non-null      float64
 19  Album               0 non-null      float64
 20  Date                0 non-null      float64
 21  Time                0 non-null      float64
 22  classification_age  7457 non-null   object
dtypes: float64(11), object(12)
memory usage: 1.3+ MB

In [ ]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7457 entries, 0 to 7456
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7457 non-null   object
 1   type          7457 non-null   object
 2   title         7457 non-null   object
 3   director      7457 non-null   object
 4   cast          7457 non-null   object
 5   country       7457 non-null   object
 6   date_added    7457 non-null   object
 7   release_year  7457 non-null   int64
 8   rating        7457 non-null   object
 9   duration      7457 non-null   object
 10  listed_in     7457 non-null   object
 11  description   7457 non-null   object
 12  Genre         7457 non-null   object
dtypes: int64(1), object(12)
memory usage: 757.5+ KB

In [ ]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27091 entries, 0 to 27090
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             0 non-null      float64
 1   title               0 non-null      float64
 2   userId              0 non-null      float64
 3   rating              27091 non-null  float64
 4   timestamp           0 non-null      float64
 5   year                0 non-null      float64
 6   source              27091 non-null  object
 7   type                27091 non-null  object
 8   show_id             0 non-null      float64
 9   director            0 non-null      float64
 10  cast                0 non-null      float64
 11  country             0 non-null      float64
 12  date_added          0 non-null      float64
 13  release_year        0 non-null      float64
 14  duration            0 non-null      float64
 15  description         0 non-null      float64
 16  Genre               27091 non-null  object
 17  Artist              27091 non-null  object
 18  Track               27091 non-null  object
 19  Album               27091 non-null  object
 20  Date                27091 non-null  object
 21  Time                27091 non-null  object
 22  classification_age  0 non-null      float64
dtypes: float64(15), object(8)
memory usage: 4.8+ MB

In [ ]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56192 entries, 0 to 56191
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  56192 non-null  int64
 1   Username    56192 non-null  object
 2   Artist      56192 non-null  object
 3   Track       56192 non-null  object
 4   Album       56192 non-null  object
 5   Date        56192 non-null  object
 6   Time        56192 non-null  object
 7   Genre       56192 non-null  object
dtypes: int64(1), object(7)
memory usage: 3.4+ MB

In [ ]:
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv')
netflix_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/netflix_integracionv3.csv')
music_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/musica_integracionv2.csv')

In [ ]:
movies_df.head()

,movieId,title,genres,userId,rating,timestamp,imdbId,tmdbId,year
0,1,Toy Story,Action|Children,1,4.0,2000-07-30 18:45:03,114709,862.0,1995
1,1,Toy Story,Action|Children,5,4.0,1996-11-08 06:36:02,114709,862.0,1995
2,1,Toy Story,Action|Children,7,4.5,2005-01-25 06:52:26,114709,862.0,1995
3,1,Toy Story,Action|Children,15,2.5,2017-11-13 12:59:30,114709,862.0,1995
4,1,Toy Story,Action|Children,17,4.5,2011-05-18 05:28:03,114709,862.0,1995

In [ ]:
import pandas as pd

# Cargar el dataset
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv')

# Mostrar la información general del dataset
print(movies_df.info())

# Mostrar las primeras filas del dataset para ver el contenido de las columnas
print(movies_df.head())

# Revisar si hay valores nulos en las columnas
print(movies_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90267 non-null  int64
 1   title      90267 non-null  object
 2   genres     90267 non-null  object
 3   userId     90267 non-null  int64
 4   rating     90267 non-null  float64
 5   timestamp  90267 non-null  object
 6   imdbId     90267 non-null  int64
 7   tmdbId     90267 non-null  float64
 8   year       90267 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 6.2+ MB
None
   movieId      title           genres  userId  rating            timestamp  \
0        1  Toy Story  Action|Children       1     4.0  2000-07-30 18:45:03
1        1  Toy Story  Action|Children       5     4.0  1996-11-08 06:36:02
2        1  Toy Story  Action|Children       7     4.5  2005-01-25 06:52:26
3        1  Toy Story  Action|Children      15     2.5  2017-11-13 12:59:30
4        1  Toy Story  Action|Children      17     4.5  2011-05-18 05:28:03

   imdbId  tmdbId  year
0  114709   862.0  1995
1  114709   862.0  1995
2  114709   862.0  1995
3  114709   862.0  1995
4  114709   862.0  1995
movieId      0
title        0
genres       0
userId       0
rating       0
timestamp    0
imdbId       0
tmdbId       0
year         0
dtype: int64

In [ ]:
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/integracionv1.csv')

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    90267 non-null  int64
 1   title      90267 non-null  object
 2   genres     90267 non-null  object
 3   userId     90267 non-null  int64
 4   rating     90267 non-null  float64
 5   timestamp  90267 non-null  object
 6   imdbId     90267 non-null  int64
 7   tmdbId     90267 non-null  float64
 8   year       90267 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 6.2+ MB

In [ ]:
import pandas as pd

# Cargar el dataset
file_path = '/content/drive/MyDrive/TFM/Datasets/integracionv1.csv'
movies_df = pd.read_csv(file_path)

# Convertir 'genres' en listas y luego a cadenas directamente
movies_df['genres'] = movies_df['genres'].apply(lambda x: ', '.join(x.split('|')))

# Añadir columna 'emotion' vacía para etiquetar emociones
movies_df['emotion'] = None

# Eliminar las columnas 'imdbId' y 'tmdbId'
movies_df.drop(['imdbId', 'tmdbId'], axis=1, inplace=True)

# Crear la columna `bert_input` combinando atributos relevantes
movies_df['bert_input'] = (
    movies_df['title'] + " | " +
    movies_df['genres'] + " | " +
    movies_df['year'].astype(str) + " | " +
    "Rating: " + movies_df['rating'].astype(str)
)

# Mostrar los primeros registros para verificar los cambios
print(movies_df.head())

# Guardar el dataset preparado
output_path = '/content/drive/MyDrive/TFM/Datasets/movies_prepared_for_bert.csv'
movies_df.to_csv(output_path, index=False)

print(f"Archivo actualizado y guardado en: {output_path}")

   movieId      title            genres  userId  rating            timestamp  \
0        1  Toy Story  Action, Children       1     4.0  2000-07-30 18:45:03
1        1  Toy Story  Action, Children       5     4.0  1996-11-08 06:36:02
2        1  Toy Story  Action, Children       7     4.5  2005-01-25 06:52:26
3        1  Toy Story  Action, Children      15     2.5  2017-11-13 12:59:30
4        1  Toy Story  Action, Children      17     4.5  2011-05-18 05:28:03

   year emotion                                         bert_input
0  1995    None  Toy Story | Action, Children | 1995 | Rating: 4.0
1  1995    None  Toy Story | Action, Children | 1995 | Rating: 4.0
2  1995    None  Toy Story | Action, Children | 1995 | Rating: 4.5
3  1995    None  Toy Story | Action, Children | 1995 | Rating: 2.5
4  1995    None  Toy Story | Action, Children | 1995 | Rating: 4.5
Archivo actualizado y guardado en: /content/drive/MyDrive/TFM/Datasets/movies_prepared_for_bert.csv

In [ ]:
# Cargar el dataset
movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/movies_prepared_for_bert.csv')

# Mostrar la información general del dataset
print(movies_df.info())

# Mostrar las primeras filas del dataset para ver el contenido de las columnas
print(movies_df.head())

# Revisar si hay valores nulos en las columnas
print(movies_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movieId     90267 non-null  int64
 1   title       90267 non-null  object
 2   genres      90267 non-null  object
 3   userId      90267 non-null  int64
 4   rating      90267 non-null  float64
 5   timestamp   90267 non-null  object
 6   year        90267 non-null  int64
 7   emotion     0 non-null      float64
 8   bert_input  90267 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 6.2+ MB
None
   movieId      title            genres  userId  rating            timestamp  \
0        1  Toy Story  Action, Children       1     4.0  2000-07-30 18:45:03
1        1  Toy Story  Action, Children       5     4.0  1996-11-08 06:36:02
2        1  Toy Story  Action, Children       7     4.5  2005-01-25 06:52:26
3        1  Toy Story  Action, Children      15     2.5  2017-11-13 12:59:30
4        1  Toy Story  Action, Children      17     4.5  2011-05-18 05:28:03

   year  emotion                                         bert_input
0  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.0
1  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.0
2  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.5
3  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 2.5
4  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.5
movieId           0
title             0
genres            0
userId            0
rating            0
timestamp         0
year              0
emotion       90267
bert_input        0
dtype: int64

In [ ]:
import pandas as pd


# Ruta al archivo
file_path = "/content/drive/MyDrive/TFM/Datasets/movies_prepared_for_bert.csv"

# Cargar el dataset
try:
    dataset = pd.read_csv(file_path)

    # Verificar duplicados basados en 'title', 'genres', y 'year'
    duplicados = dataset[dataset.duplicated(subset=['title', 'genres', 'year'], keep=False)]
    num_duplicados = len(duplicados)

    # Mostrar cuántos duplicados existen
    print(f"Registros duplicados encontrados: {num_duplicados}")

    # Guardar duplicados en un archivo separado para su análisis
    duplicados_file_path = "/content/drive/MyDrive/TFM/Datasets/movies_duplicates.csv"
    duplicados.to_csv(duplicados_file_path, index=False)
    print(f"Duplicados guardados en: {duplicados_file_path}")

    # Mostrar una muestra de los duplicados encontrados
    print(duplicados.head())

except FileNotFoundError:
    print(f"El archivo no se encuentra en la ruta: {file_path}. Verifica la ruta y vuelve a intentarlo.")

Registros duplicados encontrados: 90267
Duplicados guardados en: /content/drive/MyDrive/TFM/Datasets/movies_duplicates.csv
   movieId      title            genres  userId  rating            timestamp  \
0        1  Toy Story  Action, Children       1     4.0  2000-07-30 18:45:03
1        1  Toy Story  Action, Children       5     4.0  1996-11-08 06:36:02
2        1  Toy Story  Action, Children       7     4.5  2005-01-25 06:52:26
3        1  Toy Story  Action, Children      15     2.5  2017-11-13 12:59:30
4        1  Toy Story  Action, Children      17     4.5  2011-05-18 05:28:03

   year  emotion                                         bert_input
0  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.0
1  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.0
2  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.5
3  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 2.5
4  1995      NaN  Toy Story | Action, Children | 1995 | Rating: 4.5

In [ ]:
import pandas as pd

# Ruta del archivo original
file_path = "/content/drive/MyDrive/TFM/Datasets/movies_prepared_for_bert.csv"

# Cargar el dataset
dataset = pd.read_csv(file_path)

# Eliminar duplicados basados en 'title', 'genres', y 'year'
dataset_unique = dataset.drop_duplicates(subset=['title', 'genres', 'year'])

# Tomar una muestra única de 1000 registros
sample_size = 1000
sample_dataset = dataset_unique.sample(n=sample_size, random_state=42)

# Guardar la muestra en un archivo separado
sample_file_path = "/content/drive/MyDrive/TFM/Datasets/movies_sample_for_bert.csv"
sample_dataset.to_csv(sample_file_path, index=False)

print(f"Muestra única de {sample_size} registros guardada en: {sample_file_path}")

Muestra única de 1000 registros guardada en: /content/drive/MyDrive/TFM/Datasets/movies_sample_for_bert.csv

In [ ]:
sample_movies_df = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/movies_sample_for_bert.csv')

In [ ]:
sample_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movieId     1000 non-null   int64
 1   title       1000 non-null   object
 2   genres      1000 non-null   object
 3   userId      1000 non-null   int64
 4   rating      1000 non-null   float64
 5   timestamp   1000 non-null   object
 6   year        1000 non-null   int64
 7   emotion     0 non-null      float64
 8   bert_input  1000 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 70.4+ KB

In [ ]:
sample_movies_df.head()

,movieId,title,genres,userId,rating,timestamp,year,emotion,bert_input
0,2804,"Christmas Story, A","Children, Comedy",19,3.0,2000-08-08 03:32:52,1983,NaN,"Christmas Story, A | Children, Comedy | 1983 |..."
1,152081,Zootopia,"Action, Family",15,3.0,2017-11-13 13:00:39,2016,NaN,"Zootopia | Action, Family | 2016 | Rating: 3.0"
2,183897,Isle of Dogs,"Comedy, Family",212,5.0,2018-07-23 16:00:17,2018,NaN,"Isle of Dogs | Comedy, Family | 2018 | Rating:..."
3,80693,It's Kind of a Funny Story,"Comedy, Drama",62,4.0,2018-03-27 22:42:36,2010,NaN,"It's Kind of a Funny Story | Comedy, Drama | 2..."
4,68157,Inglourious Basterds,"Action, Drama",2,4.5,2015-10-24 19:32:34,2009,NaN,"Inglourious Basterds | Action, Drama | 2009 | ..."

In [ ]:
import pandas as pd

# Cargar el dataset
file_path = "/content/drive/MyDrive/TFM/Datasets/movies_sample_for_bert.csv"  # Cambia a la ruta correcta de tu archivo
dataset = pd.read_csv(file_path)

# Convertir la columna 'emotion' a texto para las etiquetas
dataset['emotion'] = dataset['emotion'].astype(str)

# Lista de emociones
emotion_options = [
    "Happy", "Sad", "Nostalgic", "Excited", "Scared",
    "Angry", "Romantic", "Hopeful", "Funny", "Adventurous",
    "Suspenseful", "Inspiring", "Heartwarming"
]

# Función para etiquetar manualmente con etiquetas compuestas
def etiquetar_manual(df):
    print("Inicio del proceso de etiquetado manual. Escribe '0' para guardar y salir.\n")
    for index, row in df.iterrows():
        if row['emotion'] == "nan" or row['emotion'] == "":  # Solo procesar los no etiquetados
            print(f"\n=== Registro {index + 1}/{len(df)} ===")
            print(f"Título: {row['title']}")
            print(f"Géneros: {row['genres']}")
            print(f"Año: {row['year']}")
            print(f"Rating: {row['rating']}")
            print(f"User ID: {row['userId']}")

            print("\nSelecciona una o más emociones separadas por comas (ej: 9,13):")
            for i, emotion in enumerate(emotion_options, 1):
                print(f"{i}. {emotion}")

            emotion_indices = input("\nEscribe los números de las emociones (o '0' para guardar y salir): ").strip()
            if emotion_indices == '0':
                print("\nGuardando progreso...")
                df.to_csv(file_path, index=False)
                print("Progreso guardado. ¡Hasta luego!")
                break

            try:
                selected_emotions = [emotion_options[int(i) - 1] for i in emotion_indices.split(",") if int(i) > 0 and int(i) <= len(emotion_options)]
                df.at[index, 'emotion'] = ", ".join(selected_emotions)
                print(f"Etiqueta '{', '.join(selected_emotions)}' guardada para el registro {index + 1}.\n")
            except (ValueError, IndexError):
                print("Entrada no válida. Intenta nuevamente con números separados por comas.")

    print("\n¡Todos los registros han sido etiquetados!")
    df.to_csv(file_path, index=False)
    return df

# Llamar a la función para iniciar el etiquetado
dataset = etiquetar_manual(dataset)

Inicio del proceso de etiquetado manual. Escribe '0' para guardar y salir.


=== Registro 1/1000 ===
Título: Christmas Story, A
Géneros: Children, Comedy
Año: 1983
Rating: 3.0
User ID: 19

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 1,3
Etiqueta 'Happy, Nostalgic' guardada para el registro 1.


=== Registro 2/1000 ===
Título: Zootopia
Géneros: Action, Family
Año: 2016
Rating: 3.0
User ID: 15

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 9,12
Etiqueta 'Funny, Inspiring' guardada para el registro 2.


=== Registro 3/1000 ===
Título: Isle of Dogs
Géneros: Comedy, Family
Año: 2018
Rating: 5.0
User ID: 212

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 9,13
Etiqueta 'Funny, Heartwarming' guardada para el registro 3.


=== Registro 4/1000 ===
Título: It's Kind of a Funny Story
Géneros: Comedy, Drama
Año: 2010
Rating: 4.0
User ID: 62

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 9,12
Etiqueta 'Funny, Inspiring' guardada para el registro 4.


=== Registro 5/1000 ===
Título: Inglourious Basterds
Géneros: Action, Drama
Año: 2009
Rating: 4.5
User ID: 2

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 11,6
Etiqueta 'Suspenseful, Angry' guardada para el registro 5.


=== Registro 6/1000 ===
Título: Wayne's World
Géneros: Comedy
Año: 1992
Rating: 5.0
User ID: 1

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 9,3
Etiqueta 'Funny, Nostalgic' guardada para el registro 6.


=== Registro 7/1000 ===
Título: Batman: Mask of the Phantasm
Géneros: Children, Family
Año: 1993
Rating: 4.0
User ID: 19

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 10,11
Etiqueta 'Adventurous, Suspenseful' guardada para el registro 7.


=== Registro 8/1000 ===
Título: Inside Llewyn Davis
Géneros: Drama
Año: 2013
Rating: 3.5
User ID: 103

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 2,3
Etiqueta 'Sad, Nostalgic' guardada para el registro 8.


=== Registro 9/1000 ===
Título: Messenger: The Story of Joan of Arc, The
Géneros: Drama
Año: 1999
Rating: 5.0
User ID: 1

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 12,2
Etiqueta 'Inspiring, Sad' guardada para el registro 9.


=== Registro 10/1000 ===
Título: Short Circuit 2
Géneros: Comedy, Science Fiction
Año: 1988
Rating: 4.0
User ID: 226

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 9,3
Etiqueta 'Funny, Nostalgic' guardada para el registro 10.


=== Registro 11/1000 ===
Título: Darjeeling Limited, The
Géneros: Action, Comedy
Año: 2007
Rating: 2.5
User ID: 89

Selecciona una o más emociones separadas por comas (ej: 9,13):
1. Happy
2. Sad
3. Nostalgic
4. Excited
5. Scared
6. Angry
7. Romantic
8. Hopeful
9. Funny
10. Adventurous
11. Suspenseful
12. Inspiring
13. Heartwarming

Escribe los números de las emociones (o '0' para guardar y salir): 0

Guardando progreso...
Progreso guardado. ¡Hasta luego!

¡Todos los registros han sido etiquetados!

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 159.9/159.9 kB 2.8 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.0

In [ ]:
import pandas as pd

# Cargar el dataset de películas
file_path = "/content/drive/MyDrive/TFM/Datasets/movies_sample_for_bert.csv"
movies_dataset = pd.read_csv(file_path)

# Crear un archivo Excel para etiquetado manual
output_path = "/content/drive/MyDrive/TFM/Datasets/movies_sample_for_manual_labeling.xlsx"

# Lista de emociones para agregar como referencia
emotion_options = [
    "1. Happy", "2. Sad", "3. Nostalgic", "4. Excited", "5. Scared",
    "6. Angry", "7. Romantic", "8. Hopeful", "9. Funny",
    "10. Adventurous", "11. Suspenseful", "12. Inspiring", "13. Heartwarming"
]

# Crear un DataFrame para la lista de emociones
emotions_df = pd.DataFrame({"Emotion Options": emotion_options})

# Crear un escritor de Excel
with pd.ExcelWriter(output_path, engine='xlsxwriter') as writer:
    # Guardar el dataset en la primera hoja
    movies_dataset.to_excel(writer, sheet_name="Movies Dataset", index=False)
    # Guardar las emociones en una segunda hoja
    emotions_df.to_excel(writer, sheet_name="Emotion Options", index=False)

print(f"Archivo Excel para etiquetado guardado en: {output_path}")

Archivo Excel para etiquetado guardado en: /content/drive/MyDrive/TFM/Datasets/movies_sample_for_manual_labeling.xlsx

In [ ]:
import pandas as pd

# Ruta del archivo original con etiquetas
file_path = "/content/drive/MyDrive/TFM/Datasets/movies_sample_for_manual_labeling.xlsx"

# Cargar los datos
data = pd.read_excel(file_path)

# Mapeo de números a nombres de emociones
emotion_mapping = {
    1: "Happy", 2: "Sad", 3: "Nostalgic", 4: "Excited", 5: "Scared",
    6: "Angry", 7: "Romantic", 8: "Hopeful", 9: "Funny",
    10: "Adventurous", 11: "Suspenseful", 12: "Inspiring", 13: "Heartwarming"
}

# Función para convertir números a nombres y preservar el orden original
def map_emotions_preserve_order(emotion):
    if isinstance(emotion, str):
        # Dividir y mapear números a nombres respetando el orden
        parts = [part.strip() for part in emotion.split(',')]
        return ", ".join([emotion_mapping[int(part)] if part.isdigit() else part for part in parts])
    return emotion

# Aplicar la transformación a la columna 'emotion'
data['emotion'] = data['emotion'].apply(map_emotions_preserve_order)

# Guardar el archivo procesado
output_path = "/content/drive/MyDrive/TFM/Datasets/movies_sample_ready_for_bert.csv"
data.to_csv(output_path, index=False)

print(f"Archivo con emociones homologadas y orden preservado guardado en: {output_path}")

Archivo con emociones homologadas y orden preservado guardado en: /content/drive/MyDrive/TFM/Datasets/movies_sample_ready_for_bert.csv

# Sistema de Recomendación

**Archivos Finales para trabajar con BERT**

**Muestra**

In [ ]:
sample_movies_ready = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/movies_sample_ready_for_bert.csv')

In [ ]:
sample_movies_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movieId      1000 non-null   int64
 1   title        1000 non-null   object
 2   genres       1000 non-null   object
 3   userId       1000 non-null   int64
 4   rating       1000 non-null   float64
 5   timestamp    1000 non-null   object
 6   year         1000 non-null   int64
 7   bert_input   1000 non-null   object
 8   emotion      1000 non-null   object
 9   Description  1000 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 78.2+ KB

In [ ]:
sample_movies_ready.head()

,movieId,title,genres,userId,rating,timestamp,year,bert_input,emotion,Description
0,2804,"Christmas Story, A","Children, Comedy",19,3.0,2000-08-08 03:32:52,1983,"Christmas Story, A | Children, Comedy | 1983 |...","Happy, Nostalgic","Set in the 1940s, young Ralphie Parker dreams ..."
1,152081,Zootopia,"Action, Family",15,3.0,2017-11-13 13:00:39,2016,"Zootopia | Action, Family | 2016 | Rating: 3.0","Adventurous, Inspiring","In a city where animals coexist, a bunny polic..."
2,183897,Isle of Dogs,"Comedy, Family",212,5.0,2018-07-23 16:00:17,2018,"Isle of Dogs | Comedy, Family | 2018 | Rating:...","Inspiring, Happy",In a dystopian future where dogs are exiled to...
3,80693,It's Kind of a Funny Story,"Comedy, Drama",62,4.0,2018-03-27 22:42:36,2010,"It's Kind of a Funny Story | Comedy, Drama | 2...","Inspiring, Sad",A teenager checks himself into a mental health...
4,68157,Inglourious Basterds,"Action, Drama",2,4.5,2015-10-24 19:32:34,2009,"Inglourious Basterds | Action, Drama | 2009 | ...","Suspenseful, Angry",A group of Jewish American soldiers plan to as...

In [ ]:
sample_movies_ready.emotion.value_counts()

emotion
Inspiring, Sad               91
Funny, Happy                 82
Scared, Suspenseful          61
Happy, Funny                 58
Adventurous, Suspenseful     48
                             ..
Heartwarming, Adventurous     1
Excited, Nostalgic            1
Suspenseful, Hopeful          1
Scared, Inspiring             1
Sad, Adventurous              1
Name: count, Length: 90, dtype: int64

In [ ]:
sample_movies_ready.emotion.unique()

array(['Happy, Nostalgic', 'Adventurous, Inspiring', 'Inspiring, Happy',
       'Inspiring, Sad', 'Suspenseful, Angry', 'Happy, Funny',
       'Suspenseful, Romantic', 'Sad, Suspenseful', 'Sad, Inspiring',
       'Adventurous, Happy', 'Scared, Suspenseful', 'Romantic, Inspiring',
       'Adventurous, Romantic', 'Happy, Adventurous',
       'Adventurous, Funny', 'Angry, Sad', 'Funny, Adventurous',
       'Romantic, Sad', 'Suspenseful, Sad', 'Romantic, Happy',
       'Adventurous, Suspenseful', 'Adventurous, Angry', 'Sad, Romantic',
       'Scared, Inspiring', 'Romantic, Funny', 'Suspenseful, Scared',
       'Angry, Suspenseful', 'Funny, Suspenseful',
       'Suspenseful, Adventurous', 'Suspenseful, Hopeful', 'Funny, Happy',
       'Excited, Nostalgic', 'Romantic, Adventurous',
       'Adventurous, Heartwarming', 'Sad, Heartwarming', 'Sad, Angry',
       'Happy, Romantic', 'Heartwarming, Sad', 'Romantic, Suspenseful',
       'Inspiring, Adventurous', 'Funny, Romantic', 'Angry, Inspiring',
       'Heartwarming, Adventurous', 'Hopeful, Angry', 'Happy, Inspiring',
       'Scared, Sad', 'Adventurous, Sad', 'Suspenseful, Inspiring',
       'Inspiring, Funny', 'Funny, Inspiring', 'Inspiring, Romantic',
       'Heartwarming, Romantic', 'Adventurous, Scared', 'Happy, Sad',
       'Romantic, Heartwarming', 'Funny, Scared', 'Hopeful, Suspenseful',
       'Adventurous, Excited', 'Heartwarming, Happy', 'Scared, Angry',
       'Inspiring, Suspenseful', 'Happy, Heartwarming',
       'Inspiring, Excited', 'Adventurous, Hopeful',
       'Excited, Heartwarming', 'Inspiring, Hopeful', 'Sad, Scared',
       'Suspenseful, Excited', 'Heartwarming, Hopeful',
       'Excited, Suspenseful', 'Hopeful, Inspiring', 'Funny, Excited',
       'Inspiring, Scared', 'Inspiring, Nostalgic', 'Scared, Adventurous',
       'Scared, Funny', 'Inspiring, Heartwarming', 'Funny, Angry',
       'Inspiring, Angry', 'Sad, Funny', 'Suspenseful, Funny',
       'Romantic, Nostalgic', 'Angry, Scared', 'Nostalgic, Happy',
       'Heartwarming, Inspiring', 'Nostalgic, Romantic', 'Funny, Sad',
       'Nostalgic, Inspiring', 'Suspenseful, Suspenseful',
       'Sad, Adventurous'], dtype=object)

In [ ]:
sample_movies_ready.to_csv('/content/drive/MyDrive/TFM/Dataset_for_bert/sample_movies_ready_for_bert.csv', index=False)

**Archivo Grande**

In [ ]:

movies_ready = pd.read_csv('/content/drive/MyDrive/TFM/Datasets/movies_prepared_for_bert.csv')

In [ ]:
movies_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90267 entries, 0 to 90266
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movieId     90267 non-null  int64
 1   title       90267 non-null  object
 2   genres      90267 non-null  object
 3   userId      90267 non-null  int64
 4   rating      90267 non-null  float64
 5   timestamp   90267 non-null  object
 6   year        90267 non-null  int64
 7   emotion     0 non-null      float64
 8   bert_input  90267 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 6.2+ MB

In [ ]:
movies_ready.head()

,movieId,title,genres,userId,rating,timestamp,year,emotion,bert_input
0,1,Toy Story,"Action, Children",1,4.0,2000-07-30 18:45:03,1995,NaN,"Toy Story | Action, Children | 1995 | Rating: 4.0"
1,1,Toy Story,"Action, Children",5,4.0,1996-11-08 06:36:02,1995,NaN,"Toy Story | Action, Children | 1995 | Rating: 4.0"
2,1,Toy Story,"Action, Children",7,4.5,2005-01-25 06:52:26,1995,NaN,"Toy Story | Action, Children | 1995 | Rating: 4.5"
3,1,Toy Story,"Action, Children",15,2.5,2017-11-13 12:59:30,1995,NaN,"Toy Story | Action, Children | 1995 | Rating: 2.5"
4,1,Toy Story,"Action, Children",17,4.5,2011-05-18 05:28:03,1995,NaN,"Toy Story | Action, Children | 1995 | Rating: 4.5"

In [ ]:
movies_ready.to_csv('/content/drive/MyDrive/TFM/Dataset_for_bert/movies_ready_for_bert.csv', index=False)